.inbox-wrapper {
    height: 100%;
    color: #333333;
    margin: 0;
    padding: 0 0.625em;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.inbox-wrapper > div:first-child {
    flex: 1;
    flex-grow: 0;
}
.inbox-wrapper > div:last-child {
    flex: 1;
    flex-grow: 1;
}

/* ------------------------------------------------------------------------------------------------- */

.inbox-row {
    display: flex;
    height: 100%;
    padding: 0 0 1em 0;
    margin: 0;
}
.inbox-row > div:first-child  {
    padding: 0 0.625em 0 0;
}
.inbox-row > div:last-child {
    padding: 0 0 0 0.625em;
}
.inbox-row-mob {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 0;
    margin: 0;
}
.inbox-row-mob > div {
    padding: 0.625em 0 0 0;
}

/* ------------------------------------------------------------------------------------------------- */

/* start of conversations */
#inbox-conversations {
    flex: 1;
}
.inbox-conv-overflow-mask {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    border: 0.05em solid lightgray;
}
.inbox-conv-overflow-mask-mob { /* Same as above except with no height:100*/
    padding: 0;
    margin: 0;
    overflow-y: auto;
    border: 0.05em solid lightgray;
}
.inbox-conv-tbl {
    vertical-align: top;
    width: 100%;
    padding: 0.625em;
    border-collapse: collapse;
    background-color: white;
}
.inbox-conv-border {
    border-bottom: 0.05em solid lightgray;
    padding: 0.625em;
    cursor: pointer;
}
.inbox-conv-tbl tbody tr td:hover {
    background-color: #f2f2f2;
}
.inbox-conv-tbl-empty {
    height: 100%;
    width: 100%;
    color: #333333;
    text-align: center;
    padding: 1.25em 0;
}

.inbox-selected-conv {
    background-color: #f2f2f2;
}
.inbox-conv-panel {
    height: 100%;
    width: 100%;
    border: none;
    color: #333333;
}
.inbox-conv-dp {
    height: 3em;
    border-radius: 1.5em;
}
.inbox-conv-details {
    width: 100%;
    padding: 0 0 0 0.625em;
    position: relative;
}
.inbox-conv-delete {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.6em;
    height: 0.6em;
    
    opacity: 0.3;
    transition: opacity 0.15s linear;
}
.inbox-conv-delete:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.inbox-conv-details > .conv-msg {
    margin-bottom: 0;
    color: gray;
}
.inbox-conv-details > .conv-time {
    margin: 0;
    color: gray;
    position: absolute;
    bottom: 0;
    right: 0em;
}
.inbox-conv-emphasis {
    color: black !important;
    font-weight: 700;
}
.inbox-conv-emphasis > * {
    font-weight: 700;
}

.inbox-confirm {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    padding: 0.625em;
    border: 0.05em solid gray;
    background-color: white;
    color: #333333;
    text-align: center;
}

/* Start of chat -------------------------------------------------------- */

#inbox-chat {
    flex: 1.5;
    position: relative;
}
#inbox-chat > table {
    border: 0.05em solid lightgray;
    padding: 0.625em;
    height: 100%;
    background-color: white;
    border-collapse: collapse;
}
.inbox-chat-mob {
    min-height: 30em !important;
}

.inbox-chat-subject {
    position: absolute;
    left: 0;
    top: -1.5em;
    height: 1em;
}
.gk-mob .inbox-chat-subject {
    position: relative !important;
    width: 100%;
    top: 0;
    padding: 0.6em 0;
}

.inbox-msg-tbl-wrap {
    padding: 0.625em;
    height: 100%;
}
#inbox-overflow-mask {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#inbox-msg-tbl {
    width: 100%;
    padding: 0.625em;
}

.inbox-msg-wrap {
    width: 80%;
    margin-top: 0.95em;
}
.inbox-msg-wrap-left {
    float: left;
}
.inbox-msg-wrap-left > * {
    float: left;
}
.inbox-msg-wrap-right {
    float: right;
}
.inbox-msg-wrap-right > * {
    float: right;
}

.inbox-msg-user {
    color: gray;
    margin: 0 0 0.2em 0;
}
.inbox-msg {
    width: 100%;
    padding: 0.625em;
    border: 0.05em solid lightgray;
    border-radius: 0.625em;
    display: inline-block;
}
.inbox-msg-left {
    border-bottom-left-radius: 0px;
    background-color: white;
    color: #325b5b;
}
.inbox-msg-right {
    border-bottom-right-radius: 0px;
    background-color: #f2f2f2;
    color: #325b5b;
}
.inbox-msg-translation {
    border-top: 0.05em solid lightgray;
    padding-top: 0.3em;
    margin-top: 0.3em;
}
.inbox-msg-translate-input {
    padding: 0.3em;
    margin: 0.6em 0.3em 0 0;
    border: 0.05em solid gray;
    border-radius: 0.25em;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
.inbox-msg-translate-msg {
    font-size: 0.7em;
    margin: 0.3em 0.6em 0 0;
    display: inline-block;
}
.inbox-msg-translate-btn {
    display: inline-block;
    padding: 0.3em 0.6em;
    margin: 0.3em 0.3em 0 0;
    border-radius: 0.8em;
    font-size: 0.7em;
    color: #325b5b;
    border: 0.05em solid lightgray;
    background-color: white;
    cursor: pointer;
}
.inbox-msg-translate-btn:hover {
    color: #003333;
    background-color: #f2f2f2;
}

.inbox-msg-input-panel {
    width: 100%;
    background-color: #f2f2f2;
    border-top: 0.05em solid lightgray;
}
.input-msg-input-input {
    width: 100%;
    padding: 0.625em;
}
.input-msg-input-input > textarea {
    padding: 0.625em;
    width: 100%;
    min-height: 0;
    height: 100%;
    border: 0.05em solid lightgray;
}

.input-msg-input-fn {
    padding: 0.625em;
    padding-left: 0;
}
.input-msg-input-send {
    height: 3em;
    padding: 0 1em;
    background-color: white;

    border: 0.05em solid lightgray;
    border-radius: 0.3em;
    cursor: pointer;

    vertical-align: bottom;
    font-size: 0.75em;
}

/* Start of inbox property description */
#inbox-property {
    flex: 1;
}
.inbox-property-tbl {
    border: 0.05em solid lightgray;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #003333;
}

.gk-chat {
    position: fixed;
    right: 1.25em;
    bottom: 0;
    width: 80%;
    max-width: 350px;
    z-index: 2;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gk-mob .gk-chat {
    width: 90%;
    max-width: 100%;
    right: 5%;
}
.gk-chat-tbl {
    width: 100%;
    border: 0.05em solid #194747;
    background-color: white;
    color: #003333;
    border-collapse: collapse;
}
.gk-chat-tbl tbody tr td {
    padding: 0.3em 0.625em;
}
.gk-chat-head {
    background-color: #194747;
    color: white;
    position: relative;
}
.gk-chat-cancel {
    position: absolute;
    right: 0.625em;
    top: 0.25em;
    cursor: pointer;
    color: #359797;
}
.gk-chat-cancel:hover {
    color: white;
}
.gk-chat-email td {
    padding-top: 10px !important;
}
.gk-chat-email-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    padding: 0.3em 0.625em;
}
.gk-chat-subject-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    padding: 0.5em;
}
.gk-chat-body td {
    height: 300px;
    padding-bottom: 0.625em !important;
}
.gk-chat-action {
    background-color: #194747;
    color: white;
    padding: 0.625em !important;
}
.gk-chat-btn {
    background-color: #194747;
    color: white;
    padding: 0.3em 0.625em;
    margin-left: 0.625em;
    float: right;

    border: 0.05em solid #359797;
    border-radius: 0.3em;
}
.gk-chat-btn:hover {
    background-color: #359797;
    cursor: pointer;
}