.gk-date-wrap {
    padding: 0.5em;
    background-color: white;
    border: 0.05em solid lightgray;
    border-radius: 0.5em;
}
.gk-date-wrap table {
    border-collapse: collapse;
}
.gk-date-month {
    padding: 0.3em 0;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    color: #003333;
    text-align: center;
}
.gk-date-month-nav {
    position: absolute;
    bottom: 0.6em;
    height: 0.4em;
    width: 0.4em;
    border: none;
    border-top: 0.2em solid #003333;
    border-left: 0.2em solid #003333;
    cursor: pointer;
}
.gk-date-prev {
    left: 0.3em;
    transform: rotate(-45deg);
}
.gk-date-next {
    right: 0.3em;
    transform: rotate(135deg);
}
.gk-date-header {
    text-align: center;
    font-size: 0.9em;
}
.gk-date-header > td {
    padding: 0.3em 0;
    border-top: 0.05em solid lightgray;
    border-bottom: 0.05em solid lightgray;
}
.gk-date-cell {
    border: 0.05em solid lightgray;
    text-align: center;
    font-size: 0.9em;
    padding: 0.3em 0;
}
.gk-date-cell:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.gk-date-cell-grayed {
    background-color: #f2f2f2;
    color: gray;
}
.gk-date-cell-grayed:hover {
    background-color: #e6e6e6 !important;
}
.gk-date-cell-selected {
    background-color: #003333 !important;
    border-color: #003333;
    color: white !important;
}