.img-panel-top {
    padding: 0;
}
.img-main-tbl {
    width: 100%;
    margin: 0 auto;
}
.img-panel-top-preview-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4em; /* This hack is keeping the table together...*/
    position: relative;

    overflow: hidden;
    
}
#img-panel-top-preview {
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
#img-panel-top-preview > div {
    display: inline-block;
}
.img-panel-top-preview-img {
    margin: 0;
    width: 5em;
    border: 0.125em solid white;
}
.img-panel-top-preview-img:hover {
    border: none;
    width: 5.25em;
    cursor: pointer;
}
.img-panel-top-preview-img-selected {
    border: 0.125em solid #003333;
}

.img-counter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.6em 0;
}
.img-counter-bubble {

    display: inline-block;
    color: black;
    padding: 0.3em 0.6em;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 0.3em;
}

.img-main-td {
    /* The table cell containing the img */
    position: relative;
    padding-bottom: 75%;    /* The correct aspect ratio for lazy loading */
}
.img-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}
.img-main-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    text-align: center;

    background-color: rgb(248, 248, 248);

    border: 1px solid #e6e6e6;
}
.img-main-placeholder table {
    height: 100%;
    width: 100%;
    color: #333333;
}
.img-main-placeholder img {
    width: 10%;
    margin-bottom: 1em;
}

.img-arrow {
    position: absolute;
    top: 50%;

    width: 2em;
    margin-top: -1em;
    opacity: 0.9;
    cursor: pointer;
}
.img-arrow:hover {
    opacity: 1;
    width: 2.4em;
    margin-top: -1.2em;
}
.img-left {
    left : 0.5em;
}
.img-left:hover {
    left: 0.3em;
}
.img-right {
    right: 0.5em;
}
.img-right:hover {
    right: 0.3em;
}