.gk-landing-content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 1em 0.3em;
    margin: 0 auto;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.gk-landing-content-mob {
    max-width: 100% !important;
}

/* The searchbar */
.gk-landing-searchbar-tbl {
    width: 100%;
    margin: 0 auto;
    color: #003333;
}
.gk-landing-searchbar-tbl-large {
    width: 100% !important;
    transition: width 0.3s ease-out;
}

.gk-landing-searchbar-head {
    /* The menu items' td container */
    padding: 0;
    margin: 0;
}
.gk-landing-searchbar-head > div {
    position: relative;
    padding: 0.6em 0;
    margin-right: 0.3em;

    width: 25%;
    max-width: 8em;
    text-align: center;

    display: inline-block;
    
    background-color: #325b5b;
    color: white;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    cursor: pointer;
    transition: background-color 0.15s linear;
}
.gk-landing-searchbar-head > div:hover {
    /*background-color: #488484;*/
    background-color: #003333;
    transition: background-color 0.15s linear;
}
/* Arrow */
.gk-landing-searchbar-head > div > div {
    position: absolute;
    bottom: -0.1em;
    right: 50%;
    right: calc(50% - 0.4em);

    height: 0;
    width: 0;
    border-top: none;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.4em solid white;
}

.gk-landing-searchbar {
    height: 3em;
    width: 100%;
    padding: 0.2em 1em;

    line-height: 2.5em;
    background-color: white;

    border: 0.06em solid #bfbfbf;
    border-right: none;

    border-radius: 0;
    border-bottom-left-radius: 0.4em;
    font-size: 1.5em;
}
.gk-landing-searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}
.gk-landing-searchbar:-ms-input-placeholder, .gk-landing-searchbar::-ms-input-placeholder {
    color: lightgray;
}

.gk-landing-searchbar-btn {
    height: 2em;
    padding: 1.25em 1.5em;

    border: none;
    border-radius: 0;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;

    background-color: #325b5b;
    color: white;
    cursor: pointer;

    transition: background-color 0.15s linear;
}
.gk-landing-searchbar-btn > div { 
    width: 2em;
    height: 2em;
}
.gk-landing-searchbar-btn:hover {
    /*background-color: #488484;*/
    background-color: #003333;
    transition: background-color 0.15s linear;
}

/* The detail panel */
.gk-landing-searchdetail-well {
    margin-top: 0.6em;
    border-top: 0.1em solid #003333;
    border-left: 0.1em solid #003333;
background-color: #325b5b;
border-radius: 0.3em;
padding: 0.6em;
}
.gk-landing-searchdetail-head {
    display: inline-block;
    padding: 0.3em;
    margin-top: 0.6em;
    color: #333333;
    cursor: pointer;
}
.gk-landing-searchdetail-head:hover {
    color: #000000;
    font-weight: 700;
}

/* The ads */
.gk-landing-feature-ads-wrap {
    width: 100%;
}
.gk-landing-feature-ads-wrap > table {
    width: 100%;
}
.gk-landing-feature-ad {
    height: 20em;
    margin: 1em;
    border: 0.1em solid lightgray;
    background-color: #f2f2f2;
}