body {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: Arial, Helvetica, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
}
h2 {
    font-size: 1.875em;
    font-weight: 500;
}
h3 {
    font-size: 1.5em;
    font-weight: 500;
}
h4 {
    font-size: 1.2em;
    font-weight: 500;
}
h5 {
    font-size: 1em;
    font-weight: 500;
}
h6 { 
    font-size: 0.8em;
    font-weight: 500;
}
p {
    font-size: 0.75em;
}
.small-p {
    font-size: 0.6em !important;
}
.font-mob-device {
    font-size: 4vw;
}

table, tbody, thead, tr, td {
    border: none;
    padding: 0;
    margin: 0;
}
table {
    color:white;
}

input, textarea {
    height: 2em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
textarea {
    min-height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}


gk-sprite {
    display: block;
}
gk-sprite > div {
    width: 100%;
    background: url(/resources/sprites.png);
    background-repeat: no-repeat;
}


.hidden {
    display: none;
}
.hover-pointer:hover {
    cursor: pointer;
}

.gk-fullwidth {
    width: 100%;
}
.gk-nobottompadding {
    padding-bottom: 0px;
}
.gk-right {
    float: right;
    text-align: right;
}
.gk-left {
    float: left;
    text-align: left;
}
.gk-checkered {
    background-image: /* tint image */
                      linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
                      /* checkered effect */
                      linear-gradient(to right, black 50%, white 50%),
                      linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, difference, normal;
    background-size: 2em 2em;
}
.gk-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gk-nofocus {
    outline: 0;
}
.gk-visible {
    visibility: visible !important;
}

#preloader {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #325b5b;
    z-index: 1000;
}
#preloader > table {
    height: 100%;
    width: 100%;
    text-align: center;
}
.preload-spinner-wrap {

    width: 20%;     /* Fallback */
    width: 20wm;    /* IE9 */
    width: 20vmin;

    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}
.preload-spinner {
    width: 100%;
    position: relative;
    display: block;
}
.preload-spinner-load {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.preload-text {
    padding: 1em;
    color: lightgray;
}
.preload-text-ch {
    color: white;
    margin: 0;
    padding: 0 0 0.3em 0;

    font-size: 3.3vw;   /* Fallback */
    font-size: 6.5vm;     /* IE9 */
    font-size: 6.5vmin;
}
.preload-text-en {
    margin: 0;
    padding: 0;
    color: #f2f2f2;

    font-size: 1.2vw;   /* Fallback for later browsers */
    font-size: 2.35vm;     /* IE9 */
    font-size: 2.35vmin;
}

/* Start animations css*/
#preloader.ng-enter,
#preloader.ng-leave {
  -webkit-transition: opacity ease-in-out 0.5s;
  -moz-transition: opacity ease-in-out 0.5s;
  -ms-transition: opacity ease-in-out 0.5s;
  -o-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}
#preloader.ng-enter,
#preloader.ng-leave.ng-leave-active {
  opacity: 0;
}
#preloader.ng-leave,
#preloader.ng-enter.ng-enter-active {
  opacity: 1;
}
/* End animations css*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;   /* default height */

    z-index: 3;
    padding-right: 50px;

    background-color: #003333;
    color: #ffffff;

    overflow: hidden;
}

.header-logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
#header-logo {
    height: 95%;
    left: 20px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.8;
}
#header-logo:hover {
    opacity: 1;
}

#header-navbar {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}

.header-menu-img {
    position: absolute;
    right: 30px;
    top: 25%;

    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.15s linear;
}
.header-menu-img:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.header-menu-img-active {
    opacity: 1 !important;
}

.header-menu-bookmark-arrow {
    background-color: #8cc0c0;
    height: 0.3em;
    width: 0.3em;
    border-radius: 50%;

    position: absolute;
    bottom: 0.2em;
    left: 50%;
    left: calc(50% - 0.15em);
}

.header-inbox-message-counter {
    position: absolute;
    top: 0.5em;
    right: 1em;

    height: 1em;
    width: 1em;

    padding: 0.3em;
    border-radius: 1em;
    background-color: #ccff33;
    color: #003333;
    font-weight: 700;
    z-index: 10;
    font-size: 0.7em;
}
.header-menu-search-type > p {
    border-bottom: 1px solid #244242;
    border-top: 1px solid #3f7373;
}
.header-menu-search-type > p:first-child {
    border-top: none;
}
.header-menu-search-type > p:last-child {
    border-bottom: none;
}
.header-menu-search-type > p:hover {
    background-color: #244242;
    transition: background-color 0.15s linear;
}


/* Small header styles --------------------------------------- */

.header-menu-wrap-mob {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgb(0, 56, 56);
    border: 0;

    max-height: 95%;
    overflow-y: auto;
    z-index: 10;
}
.header-menu-wrap-mob > div {
    position: relative;
    margin: 0;
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid #194747;
    text-align: center;
    color: lightgray;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    transition: all 0.15s linear;
}
.header-menu-wrap-mob > div p {
    margin: 0 !important;
    padding: 0;
    vertical-align: middle;

    /* Default small screen sizes - to be overridden by mobile devices */
    font-size: 1.2em;
    line-height: 30px;
}

.header-menu-item-icon-wrap {
    opacity: 0.7;
    margin: 0 auto;
}

/* Desktop and non-mobile devices */
.header-menu-wrap-mob .header-menu-item-icon-wrap {
    width: 30px;
    transition: opacity 0.15s linear;
}
.header-menu-wrap-mob > div:hover {
    background-color: #194747;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}
.header-menu-wrap-mob > div:hover .header-menu-item-icon-wrap {
    opacity: 1;
    transition: opacity 0.3s linear;
}

/* Neutralise the styles for a lang block */
.header-menu-wrap-mob .header-menu-item-noborder {
    border: 0 !important;
    padding: 22px 0;
}
.header-menu-item-noborder:hover {
    background-color: rgb(0, 56, 56) !important;
}
.header-menu-lang-tbl {
    /* fall back and desktop displays */
    border-radius: 25px;
    padding: 3px;
    border: 2px solid white;

    margin: 0 auto;
    opacity: 0.7;
    transition: opacity 0.15s linear;
}
.header-menu-lang-tbl:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.header-menu-wrap-mob .header-menu-lang-tbl tbody tr td {
    /* Fall back */
    padding: 7px;
    border-radius: 20px;
    color: white;
    transition: all 0.15s ease-in-out;
}
.header-menu-wrap-mob .header-menu-lang-tbl tbody tr td.lang-selected {
    background-color: white;
    color: #194747;
    transition: all 0.3s ease-in-out;
}

/* Mobile device header styles ------------------------------------- */

.header-menu-wrap-mob-device > div {
    padding: 3.5vw 0 !important;
}
.header-menu-wrap-mob-device > div .header-menu-item-icon-wrap {
    width: 16%;
}
.header-menu-wrap-mob-device > div p {
    font-size: 4.5vw !important;
    line-height: 8vw !important;
}
.header-menu-wrap-mob-device .header-menu-item-noborder {
    padding: 6vw 0 !important;
}
.header-menu-wrap-mob-device .header-menu-lang-tbl {
    border-radius: 10vw !important;
    padding: 1vw !important;
    border-width: 0.4vw !important;
}
.header-menu-wrap-mob-device .header-menu-lang-tbl tbody tr td {
    padding: 1.5vw;
    font-size: 4vw;
    border-radius: 10vw;
}

/* Large screen header styles ------------------------------------------- */
.header-menu-wrap-mask {
    margin-right: 20px;
    height: 100%;
}
.header-mob .header-menu-wrap-mask {
    /* When this is pressed, the header menu goes away */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
}
.header-menu-wrap {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    text-align: right;
}
.header-menu-wrap > div {
    position: relative;
    margin: 0;
    padding: 10px 10px 0 10px;
    height: 100%;

    border: 0;
    min-width: 70px;
    text-align: center;
    color: lightgray;
    display: inline-block;
    vertical-align: top;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.header-menu-wrap .header-menu-item-icon-wrap {
    width: 20px;
}
.header-menu-wrap > div p {
    margin: 0 !important;
    padding: 0;
    font-size: 0.75em;
    line-height: 25px;
    vertical-align: middle;
}
.header-menu-wrap > div:hover {
    background-color: #194747;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}
.header-menu-wrap > div:hover .header-menu-item-icon-wrap {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.header-menu-wrap .header-menu-item-noborder {
    border: 0 !important;
    padding: 0;
    float: left;
}
.header-menu-wrap .header-menu-lang-tbl {
    margin: 12px 5px 12px 0px;
    display: inline-block;
}
.header-menu-wrap .header-menu-lang-tbl tbody tr td {
    font-size: 0.8em;
    padding: 3px 5px;
    color: white;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
}
.header-menu-wrap .header-menu-lang-tbl tbody tr td.lang-selected {
    background-color: white;
    color: #194747;
    transition: all 0.3s ease-in-out;
}
.header-welcome-msg {
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px !important;
    vertical-align: top;
}

/* End of main header styles ------------------------------------ */

.header-right-tbl {
    margin: 0px 20px 0px 0px;
    padding:0;
    height: 0;
    float: right;
}
.header-left-tbl {
    margin: 0;
    padding: 0;
    height: 100%;
}
.header-block-lang {
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;
    cursor: pointer;

    font-size: 1em;
    color: lightgray;

    border: none;
    border-radius: 5px;
    font-weight: 100;
}
.header-block-lang-select {
    color: white;
    background-color: #194747;
}
.header-block-lang:hover {
    color: white;
    background-color: #194747;
}
.header-text {
    margin: 20px 0px 0px 0px;
    font-size: 0.75em;
}

/* Search bar --------------------------------------------- */
#searchBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #003333;
    color: #ffffff;
    z-index: 2;
}
#searchBar p {
    margin: 0;
}

.search-mob {
    width: 100% !important;
}

#search-hide-btn {
    position: absolute;

    width: 1.1em;
    height: 0.8em;
    left: -1.7em;
    bottom: 0.4em;
    overflow: hidden;

    border: 0;
    z-index: 1;

    opacity: 0.2;
    cursor: pointer;
}
#search-hide-btn:hover {
    height: 1.1em;
    opacity: 0.6;
    transition: all 0.2s linear;
}
#search-hide-btn > img {
    width: 1.1em
}
#search-show-panel {
    width: 33%;
    max-width: 10em;

    height: 2em;

    position: fixed;
    left: 0;
    top: 50%;
    bottom: 0;
    cursor: pointer;
    color: white;

    transform: translateY(-50%);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.15s linear;
}
#search-show-panel:hover {
    opacity: 1;
    transition: opacity 0.15s linear;
}
#search-show-panel > div {
    position: relative;
    padding: 1.5em;
    height: 2em;
    width: 2em;
    top: 50%;
    top: calc(50% - 1.5em);
    left: 1em;
    
    background-color: rgba(0, 0, 0, 0.5);

    border: 0.1em solid white;
    border-radius: 4em;
}
#search-show-panel > div:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
#search-show-panel img {
    height: 3em;
}

.gk-checkbox-label {
    display: inline-block;
    margin: 0;
}

#searchBar .gk-row-label {
    width: 50px;
    color: white;
}
#searchBar .gk-lpadding {
    padding: 0.3em 0.3em 0.3em 0;
}
#searchBar .gk-vpadding {
    padding: 0.3em 0;
}
#searchBar .gk-vlpadding {
    padding: 0.3em 0.25em 0.3em 0;
}
#searchBar .gk-lrpadding {
    padding: 0.3em 0 0.25em 0.3em;
}

.search-well {
    position: relative;
    z-index: 100;

    margin: 0 0.625em 0.94em 0.625em;
    padding: 0;
    background-color: #194747;

    border: none;
    border-radius: 0.3em;

    color: white;
}
.search-mob > .search-well {
    margin: 0px 1.25em;
    margin-bottom: 1.25em;
}

.search-header {
    display: flex;
    text-align: center;
    background-color: #325b5b;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
.search-header-item {
    flex: 1;
    padding: 0.625em;
    border-bottom: 0.06em solid #b2c1c1;
    cursor: pointer;
}
.search-header-item-selected {
    flex: 1;
    padding: 0.625em;

    border: 0.06em solid #b2c1c1;
    border-bottom: none;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;

    background-color: #194747;
    cursor: pointer;
}

.search-checkbox-item {
    display: inline-block;
}
.search-checkbox-label {
    display: inline;
    margin: 0;
    padding: 0;
}

.search-panel-label td {
    font-size: 0.85em;
    border-bottom: 0.1em solid #287171;
    padding: 0.5em 0;
    color: white;
    position: relative;
    opacity: 0.7;
    cursor: pointer;
}
.search-panel-label td:hover {
    opacity: 1;
}
.search-panel-arrow {
    width: 1em;
    position: absolute;
    right: 0;
    bottom: 0.6em;
}
.search-panel-arrow > img {
    width: 100%;
}

.search-checkbox {
    position: relative;
    margin-right: 0.5em;

    background-color: #718e8e;
    border: 0.1em solid white;
    border-color: #003333;
    height: 1em;
    width: 1em;
    border-radius: 0.3em;
    transition: background-color 0.15s linear;
}
.search-checkbox-item:hover {
    cursor: pointer;
}
.search-checkbox-item:hover .search-checkbox {
    background-color: #b2c1c1;
    transition: background-color 0.15s linear;
}
.search-checkbox-selected {
    background-color: #003333 !important;
    border-color: #003333;
}

.search-suburb-row {
    display: flex;
    padding: 0;
    margin: 0;
}
.search-suburb-input {
    flex: 1;
}
.search-suburb-add {
    width: 1.35em;
    margin-left: 0.4375em;
    border-radius: 0.3em;
    background-color: #b2c1c1;
    text-align: center;
    font-size: 1.35em;
    cursor: pointer;
    color: black;
}
.search-suburb-add:hover {
    background-color: white;
}
.search-suburb-term {
    background-color: #b2c1c1;
    color: black;
    font-size: 0.75em;

    border: none;
    border-radius: 0.2em;
    display: inline-block;
    margin: 0px 0.3em 0.3em 0px;
    padding: 0.2em 0.4em;
}
.search-suburb-term > div {
    display: inline;
}
.search-suburb-term-cross {
    margin-left: 0.25em;
    color: #4d4d4d;
    cursor: pointer;
    vertical-align: text-top;
}

/* Dark theme by default */
.search-suburb-suggestions-wrap {
    position: relative;
    width: 100%;
    z-index: 10;
}
.search-suburb-suggestions-wrap > div {
    position: absolute;
    top: 0.2em;
    left: -0.1em;
    width: 100%;
    background-color: #003333;
    border: 0.1em solid #003333;
    color: white;
}
.search-suburb-suggestions-wrap > div > div {
    padding: 0.6em;
    font-size: 0.65em;
    cursor: pointer;
}
.search-suburb-suggestions-wrap > div > div:hover {
    background-color: #194747;
    transition: all 0.3s linear;
}

.search-suburb-suggestions-wrap-light > div {
    background-color: white;
    border-color: white;
    color: #333333;
}
.search-suburb-suggestions-wrap-light > div > div:hover {
    background-color: #e6e6e6;
}


.search-bottom-menu {
    position: absolute;
    z-index: 1;
    
    bottom: 0px;
    right: 40px;
    left: 40px;
}
.search-bottom-menu-item {
    display: inline-block;
    width: 47%;
    border: 0;
    text-align: center;
}
.search-bottom-menu > div > p {
    padding: 0.625em;
    margin: 0;
    color: #b2c1c1;
    border-bottom: 0.06em solid #143939;
}
.search-bottom-menu > div > p:hover {
    cursor: pointer;
    color: white;
    font-weight: 700;
}
.search-bottom-menu-cpyrght {
    color: gray;
    font-size: 0.75em;
    padding: 10px;
    text-align: center;
}

#searchBtn {
    margin-top: 0.625em;
}
#searchBtn img {
    height: 2em;
}

.search-hide {
    position: absolute;
    right: -2.8em;
    top: 50%;

    height: 3em;
    width: 3em;

    z-index: 9999;

    background-color: #f2f2f2;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5), 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
}
.search-hide:hover {
    right: -2.2em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.5), 0 0 2em 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
}

/* ---------------------------------------------------------- */

.gk-nopadding {
    padding: 0;
    margin: 0;
}
.gk-padding {
    padding: 0.625em;
}
.gk-padding-small {
    padding: 0.3125em;
}
.gk-padding-vertical {
    padding: 0.625em 0;
}
.gk-button {
    border: 0.05em solid gray;
    border-radius: 0.3em;
    height: 2.5em;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
}
.gk-button:hover {
    cursor: pointer;
}
.gk-button-dark {
    border: none;
}
.gk-button-dark:hover {
    border-top: 2px solid transparent;
    background-color: white;
}

/* small button that works best on inline and confined spaces */
.gk-button-small {
    position: relative;
    border: 0.06em solid gray;
    border-radius: 0.3em;
    height: 2em;
    padding: 0 0.625em;
    font-size: 0.75em;
}
.gk-button-small:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.gk-input {
    border: 0.05em solid gray;
    border-radius: 0.25em;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0.3em;
}
.gk-input-medium {
    padding: 0.3em !important;
    font-size: 1em !important;
    width: auto;
}
.gk-input-large {
    padding: 0.6em !important;
    font-size: 1.25em !important;
}
.gk-dark-input {
    border: none;
    border-bottom: 1px solid white;
    background-color: #e5eaea;
}
.gk-dark-input:hover {
    background-color: #ffffff;
}
.gk-dark-input:focus {
    background-color: #ffffff;
}
.gk-select {
    height: 2em;
    cursor: pointer;
}
.gk-option {
    font-size: 1em;
}

/* General flex-sizing */
.gk-flex-row {
    display: flex;
    margin: 0;
    padding: 0;
}
.gk-flex-element {
    flex: 1;
    flex-grow: 1;
}
.gk-flex-row > .gk-flex-element { 
    padding: 0px 10px 0px 0px;
}
.gk-flex-row > .gk-flex-element-last {
    flex: 1;
    flex-grow: 1;
    padding: 0 !important;  /* Dont apply padding to the last element */
}
.gk-flex-row > .gk-flex-element-large {
    flex: 1;
    flex-grow: 3;
    padding: 0px 10px 0px 0px;
}
.gk-flex-row > .gk-flex-element-large-last {
    flex: 1;
    flex-grow: 3;
    padding: 0 !important;
}

/* Used in conjunction with flex-element */
.gk-flex-column {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin: 0;
    padding: 0;
}

.gk-relative {
    position: relative;
}

.gk-slidedown-wrap {
    max-height: 0px;
    opacity: 0;

    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    transition: all 0.2s linear;
}
.gk-slidedown-wrap-show {
    max-height: 10em;
    opacity: 1;
    transition: all 0.25s linear;
}

/* ------------------------------------------------------------------ CONTENT BAR ------------------------------------------------------------- */

.listings-head {
    padding: 2em 1em 0.5em 1em;
}
.listings-head > div {
    display: inline-block;
}

.gk-mob .listings-head {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.listing-panel-head {
    color: #003333;
    padding: 0;
    float: right;
}
.gk-mob .listing-panel-head {
    margin-top: 1em;
    width: 100%;
}

/* Overrides .gk-select, .gk-input for sort display */
.gk-mob .gk-select {
    width: 100%;
    font-size: 5vw;
    padding: 1vw;
    border-radius: 1vw;
}

#listing-panel-contain {
    width: 100%;    /* Necessary to keep loading nice*/
}

.listing-panel-spacer { /* Not used anymore, we use word spacers now */
    border: 3px solid #f2f2f2;

    margin-left: 0.5%;
    margin-bottom: 0.5%;
    padding: 20px;

    text-align: center;

    color: #1a1a1a;
    cursor: pointer;

    opacity: 0.7;
    transition: all 0.15s linear;
}
.listing-panel-spacer:hover {
    opacity: 1;
    transition: all 0.3s linear;
}
.listing-panel-spacer-img {
    width: 60px;
}

.listing-panel-cell {
    vertical-align: top;
}
.listing-panel {
    position: relative;
    border: 3px solid #f2f2f2;
    margin-left: 0.5%;
    margin-top: 1.2em;
    padding: 0;

    color: #1a1a1a;
    cursor: pointer; 
    transition: 0.1s linear all;
}
.listing-panel:hover {
    border: 0px solid #f2f2f2;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.38em 1.25em 0 rgba(0, 0, 0, 0.19);
    transition: 0.1s linear all;
}

/* Mobile devices for listing-panel */
.listing-panel-mob {
    border-width: 1vw;
}
.listing-panel-mob:hover {
    border: 0px solid #f2f2f2;
    box-shadow: none;
}

.listing-panel-ribbon {
    position: absolute;    
    width: 25%;
    top: -1.3%;
    left: -1.2%;
    z-index: 1;
}

.listing-panel-banner {
    
    border: none;

    /* Default */
    background-color: #325b5b;
    color: #f2f2f2;
    text-align: right;
}
.listing-panel-banner > img {
    height: 1.5em;
    margin: 0.5em 1em;    
    vertical-align: top;
}
.listing-panel-banner > h5 {
    /* Backup private listing */
    line-height: 2.5em;
    margin: 0em 1em;
    vertical-align: middle;
}

.listing-panel-padding {
    padding: 7px;

    border: 1px solid lightgray;
    border-right-color: #bfbfbf;
    border-left-color: #bfbfbf;

    background-color: white;
}

.listing-panel-main-img-wrap {
    width: 100%;
    padding-top: 75%;
    background-color: #f2f2f2;
    position: relative;
}
.listing-panel-main-img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.listing-panel-inspection {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.45em 1em;
    font-size: 0.9em;

    background-color: #244242;
    background-color: rgba(36, 66, 66, 0.8);
}

.gk-blur {
    filter: blur(1em);
    -webkit-filter: blur(1em);
    -moz-filter: blur(1em);
    -o-filter: blur(1em);
    -ms-filter: blur(1em);
    height: 100%;
    width: 100%;
}
.gk-blur-wrap {
    overflow: hidden;
}

.listing-panel-feature-contain {
    width: 80px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.listing-panel-feature-tbl {
    width: 100%;
    height: 100%;
}
.listing-panel-feature-sym {
    width: 50%;
    padding: 7px;
    position: relative;
}

.listing-panel-feature-contain-mob .listing-panel-feature-sym {
    padding: 1vw;
}

.listing-panel-feature-icon {
    width: 30px;
}
.listing-panel-feature-contain-mob .listing-panel-feature-icon {
    width: 7vw;
}

.listing-panel-feature-sym .listing-panel-desc {
    top: 0.7em;
    right: 2.8em;
    min-width: 8em;
}
.listing-panel-feature-sym:hover .listing-panel-desc {
    display: block;
}

/* Mobile displays */
.listing-panel-feature-contain-mob {
    width: 20% !important;
}
.listing-panel-feature-value {
    width: 50%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    color: gray;
    font-size: 0.85em;
}
.listing-panel-feature-value > p {
    font-size: 0.85em;
}
.listing-panel-bottom {
    margin: 0px;
    padding: 0.6em;
    height: 50%;
    border: 1px solid #bfbfbf;
    border-top: 0px;

    background-color: #f2f2f2;

    position: relative;
}
.listing-panel-bottom > * {
    margin: 0;
    padding: 0;
    color: #404040;
    text-overflow: ellipsis;
}
.listing-panel-price {
    position: relative;
    display: inline-block;
    margin-bottom: 0.6em;
    border: 1px solid #325b5b;
    border-radius: 0.3em;
    background-color: white;
}
.listing-panel-price-icon {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #325b5b;
    color: white;

    font-size: 0.85em;
}
.listing-panel-price-value {
    display: inline-block;
    color: #325b5b;
    padding: 0 0.6em;
    font-weight: 700;
}

.listing-panel-price-details {
    position: absolute;
    top: 2.5em;
    left: 3em;

    min-width: 100%;
    padding: 0.6em;

    background-color: white;
    border-radius: 0.3em;
    border: 0.07em solid #325b5b;

    z-index: 2;
    opacity: 0;
}
.listing-panel-price:hover .listing-panel-price-details {
    opacity: 1;
    transition: opacity 0.15s linear;
}
.listing-panel-price-details h5 {
    padding: 0 0 0.3em 0;
    margin: 0;
    border-bottom: 1px solid lightgray;
}
.listing-panel-price-details p {
    margin: 0;
    padding: 0.3em;
    background-color: #f2f2f2;
    white-space: nowrap;
}

.listing-panel-price-arrow {
    position: relative;
    width: 100%;
    height: 100%;
}
.listing-panel-price-arrow > .gk-arrow-outer {
    position: absolute;
    left: 1em;
    top: -1.1em;

    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid #325b5b;
}
.listing-panel-price-arrow > .gk-arrow-inner {
    position: absolute;
    left: 1em;
    top: -1.03em;

    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid white;
}

.listing-panel-address {
    margin: 0;
}

.listing-panel-wishlist-star-wrap {
    position: absolute;
    top: 0.625em;
    right: 2%;
    width: 1.8em;
}
.listing-panel-chat-wrap {
    position: absolute;
    top: 0.635em;
    right: 3.5em;
    width: 1.8em;
}
.listing-panel-icon {
    opacity: 0.7;
    width: 100%;
    top: 0;
    right: 0;
}
.listing-panel-icon:hover {
    opacity: 1;
}

.listing-panel-desc {
    position: absolute;
    width: 6.25em;
    padding: 0.3em 0.6em;
    border: 0.05em solid #003333;
    border-radius: 0.3em;

    background-color: #325b5b;
    color: white;

    z-index: 10;
    text-align: center;
    display: none;

    top: 0;
    right: 2.3em;
}
.listing-panel-desc > div {
    position: absolute;
    right: -0.2em;
    top: 0.4em;

    height: 0.6em;
    width: 0.6em;

    background-color: #325b5b;
    transform: rotate(45deg);
}
.listing-panel-desc > div:last-child {
    right: -0.3em;
    background-color: #003333;
    z-index: -1;
}
.listing-panel-wishlist-star-wrap:hover .listing-panel-desc {
    display: block
}
.listing-panel-chat-wrap:hover .listing-panel-desc {
    display: block;
}

.listing-panel-foot {
    padding: 50px 0 100px 0;
    text-align: center;
    color: gray;
}




.gk-scroll-transition-inactive {
    max-height: 0;
    transition: all 1s linear;
    overflow: hidden;
}
.gk-scroll-transition-active {
    max-height: 2000px;
    transition: all 1s linear;
}

.detailed-listing-panel-top {
    width: 100%;
    height: 1em;
    margin: 0;
    text-align: center;
    position: relative;
}
.detailed-listing-panel-pointer-wrapper {
    position: relative;
    margin: 0 auto;
    width: 2em;
    height: 1em;
}

/* Outer arrow */
.detailed-listing-panel-pointer-wrapper > div:first-child {
    position: absolute;
    bottom: -0.15em;
    width: 0;
    height: 1em;

    border-top: none;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid lightgray;
}

/* Inner arrow */
.detailed-listing-panel-pointer-wrapper > div:last-child {
    position: absolute;
    bottom: -0.25em;
    width: 0;
    height: 1em;

    border-top: none;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid white;
    z-index: 1;
}

.detailed-listing-panel {
    position: relative;
    background-color: white;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    width: 99%;
    border: 1px solid #d9d9d9;
    overflow: hidden;

    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.38em 1.25em 0 rgba(0, 0, 0, 0.19);
    
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}
.detailed-listing-panel-active {
    max-height: 10000px;
    transition: max-height 0.5s ease-in-out;
}

.detailed-listing-panel-row {
    display: flex;
    padding-bottom: 0.6em;
}
.detailed-listing-panel-small .detailed-listing-panel-row { 
    /* For small screens */
    flex-direction: column;
    -ms-flex-direction: column;
}
.detailed-listing-panel-left {
    padding: 0.6em 0 0 0.6em;
    margin: 0;
    flex: 1.5;
    color: #333333;
}
.detailed-listing-panel-small .detailed-listing-panel-left {
    padding-right: 0.6em;
}

.detailed-listing-panel-right {
    margin: 0.6em 0.6em 0 0.6em;
    flex: 1;
    color: #003333;
}

.detailed-listing-panel-description {
    padding: 0 0.6em;
}
.detailed-listing-panel-features {
    padding: 0 1em 1em 1em;
    margin-bottom: 0.6em;
    border: 0.05em solid #e6e6e6;
}

.detailed-listing-panel-detail-tag {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0;
    border: 0.05em solid lightgray;
    border-radius: 0.3em;
}
.detailed-listing-panel-detail-tag > table {
    height: 100%;
}
.detailed-listing-panel-detail-tag > table tbody tr td {
    color: #333333;
}
.detailed-listing-panel-detail-tag > table tbody tr td:first-child{
    padding: 0.5em;
    background-color: #f2f2f2;
    border-radius: 0.2em;
}
.detailed-listing-panel-detail-tag > table tbody tr td:last-child {
    padding: 0 0.8em;
}
.detailed-listing-panel-detail-tag-img {
    width: 1.2em;
}

.detailed-listing-panel-title {
    padding: 1.2em 0 0.6em 0; 
    margin: 0;
}

.detailed-listing-panel-inspection {
    width: fit-content;
    padding: 0.5em 0.8em 0.5em 1em;
    margin: 0 0.6em 0.6em 0;
    border: 0.05em solid lightgray;
    border-radius: 5em;
}
.detailed-listing-panel-inspection > div {
    display: inline-block;
    vertical-align: middle;
}
.detailed-listing-panel-inspection > div:last-child {
    position: relative;
    height: 1em;
    width: 1em;
    margin: 0 0 0 0.6em;
    padding: 0.3em;
    border: 0.05em solid #003333;
    border-radius: 50%;
    background-color: #f2f2f2;

    opacity: 0.5;
    cursor: pointer;
}
.detailed-listing-panel-inspection img {
    height: 100%;
    width: 100%;
}
.detailed-listing-panel-inspection > div:last-child:hover {
    opacity: 1;
}
.detailed-listing-panel-inspection-info {
    position: absolute;
    top: 2.5em;
    left: 50%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    padding: 0.5em 1em;
    background-color: #325b5b;
    border: 0.05em solid #003333;
    border-radius: 0.3em;
    color: white;
    font-size: 0.8em;

    white-space: nowrap;
    opacity: 0;
    z-index: 10;
}
.detailed-listing-panel-inspection > div:last-child:hover .detailed-listing-panel-inspection-info {
    opacity: 1;
}

.detailed-listing-panel-inspection-info > div {
    position: absolute;
    top: -0.25em;
    left: 50%;

    height: 0.6em;
    width: 0.6em;
    background-color: #325b5b;

    -webkit-transform:translateX(-50%) rotate(45deg);
    -moz-transform:translateX(-50%) rotate(45deg);
    -ms-transform:translateX(-50%) rotate(45deg);
    -o-transform:translateX(-50%) rotate(45deg);
    transform:translateX(-50%) rotate(45deg);
}
.detailed-listing-panel-inspection-info > div:first-child {
    background-color: #003333;
    top: -0.35em;
}
.detailed-listing-panel-inspection-active {
    opacity: 1 !important;
    background-color: #ffff80 !important;
}

.gk-google-maps-wrap {
    /* This is the entire 1/2 container... */

    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    position: relative;

    min-height: 250px;
}
.font-mob-device .gk-google-maps-wrap {
    min-height: 50vw;
}
.gk-google-maps-iframe {

    /* Absolute means it will always be on top of the loader */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gk-google-maps-bg {
    flex: 1 1 auto;
    background-color: rgb(248, 248, 248);
    border: 1px solid #e6e6e6;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease-out;
}
.gk-google-maps-bg:hover {
    background-color: #f2f2f2;
    transition: background-color 0.2s ease-in;
}
.gk-google-maps-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    z-index: -1;
}
.gk-google-maps-placeholder {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border: 0;
    text-align: center;
    color: #333333;
}

/*------------------------------------------------------------------------------------------*/
.login-form-background-mask {
    position: fixed;
    height: 120%;
    width: 100%;
    top: -10%;
    left: 0;
    right: 0;
    bottom: -10%;
    z-index: 9999;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

#loginForm {
    cursor: auto;

    width: 90%;
    max-width: 350px;
    margin: 0 auto;

    border: 0.05em solid gray;
    background-color: rgba(255, 255, 255, 0.95);
    color: #333333;

    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.38em 1.25em 0 rgba(0, 0, 0, 0.19);
}
.loginForm-mob {
    max-width: 100% !important;
}

.loginHeader {
    margin: 0;
    padding: 0.6em 0;
    width: 49%;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 0.1em solid lightgray;
}
.loginHeader:hover {
    cursor: pointer;
    border-bottom: 0.1em solid gray;
}
.loginHeader-selected {
    border-bottom: 0.1em solid #333333 !important;
}

.login-custom-msg {
    /* Displayed at the top */
    padding: 10px;
    border: 1px solid #325b5b;
    color: #325b5b;
    background-color: #cee4e4;
    text-align: center;
}
.loginMessage {
    padding: 0.6em;
    margin: 1em 0 0 0;
    background-color: #cee4e4;
    border: 0.05em solid #325b5b;
    color: #325b5b;
    text-align: center;
}

/* The first account type page ------------------------------------------------------------------------------------------ */
.signup-acc-well {
    display: inline-block;
    padding: 0 1em;
    height: 4em;
    width: 46%;
    margin: 0.7em 2% 0 2%;
    border-radius: 0.3em;
    border: 1px solid #e6e6e6;
    background-color: #f2f2f2;
    color: #333333;
    vertical-align: middle;
    text-align: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    cursor: pointer;
    transition: all 0.15s linear;
}
.signup-acc-well:hover {
    color: black;
    border-color: gray;
    background-color: #e6e6e6;
    transition: all 0.15s linear;
}

.signup-acc-name-tbl {
    color: #333333;
    width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------*/

.new-listing-flex-grid {
    display: flex;
    margin: 0;
    padding: 0;
}
.new-listing-flex-grid > div {
    flex: 1;
    flex-grow: 1;
    padding: 0 10px 0 0;
}
.new-listing-flex-grid > div.last {
    flex: 1;
    flex-grow: 1;
    padding: 0 !important;  /* Dont apply padding to the last element */
}

/* Mobile displays */
.new-listing-mob > .new-listing-flex-grid {
    flex-direction: column !important;
    -ms-flex-direction: column !important;
}
.new-listing-mob > .new-listing-flex-grid > div {
    padding: 0 !important;
}
/* Cant do inline block all the time becausue of vertical align issue...*/
.new-listing-mob > .new-listing-description-col {
    display: inline-block !important;
}

.new-listing-front-1click-wrap {
    padding: 0;    
    max-width: 40em;
    margin: 3em auto 0 auto;
}

.new-listing-separator {
    position: relative;
    max-width: 40em;
    margin: 3em auto;
    border-bottom: 0.1em solid #d9d9d9;
}
.new-listing-separator > div {
    position: absolute;
    margin-top: -0.5em;
    padding: 0 0.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    color: #cccccc;
    font-weight: 700;
}

.new-listing-front-btn-wrap {
    margin: 0 auto;
    padding: 1em 0 0 0;
    text-align: center;
}

.new-listing-well {
    position: relative;
    background-color: #e6e6e6;
    padding: 0.625em;
    margin-top: 0.625em;

    border: none;
    border-radius: 0.3em;
}
.new-listing-well-complete {
    background-color: #9fdfbf;
    transition: background-color 0.2s linear;
}

.new-listing-well table {
    color: black !important;
    width: 100%;
}
.new-listing-well .entry {
    padding: 0 0.3em;
}
.new-listing-well .entry-first {
    padding: 0 0.3em 0 0;
}
.new-listing-well .entry-last {
    padding: 0 0 0 0.3em;
}

.new-listing-urllink-btn {
    padding: 0 1em;
    margin: 0 0 0 0.6em;
    
    background-color: #325b5b;
    color: #ececec;
    height: 2.6em;

    font-size: 1em;
    border: none;
    border-radius: 0.43em;
    cursor: pointer;
    transition: all 0.15s linear;
}
.new-listing-urllink-btn > div {
    display: inline-block;
    vertical-align: middle;
}
.new-listing-urllink-btn:hover {
    background-color: #003333;
    color: white;
}

.new-listing-back-btn {
    position: absolute;
    left: 0;
    top: -3em;
}

.new-listing-checkbox-item {
    cursor: pointer;
    margin: 0.8em 0 0.3em 0;
}
.new-listing-checkbox-item td {
    vertical-align: top;
}
.new-listing-checkbox-item p {
    margin: 0;
    padding: 0.1em 0;
}
.new-listing-checkbox {
    position: relative;
    margin-right: 0.5em;

    background-color: white;
    border: 0.05em solid #b3b3b3;
    height: 1em;
    width: 1em;
    border-radius: 0.3em;
    cursor: pointer;
}
.new-listing-checkbox-item:hover .new-listing-checkbox {
    background-color: #f2f2f2;
}
.new-listing-checkbox-selected {
    background-color: #325b5b !important;
    border-color: #003333;
}


.new-listing-checkbox-checkmark {

    position: absolute;
    left: 0.3em;
    top: 0.05em;
    width: 0.25em;
    height: 0.5em;

    border: solid white;
    border-width: 0 0.2em 0.2em 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.new-listing-textarea {
    text-indent: 0;
    padding: 0.625em;
}
.new-listing-label {
    margin: 0;
    padding: 0.625em 0 0.3em 0;
}
.new-listing-description-col {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 0;
    margin: 0;
}
.new-listing-description-col-nogrow {
    flex: 1;
    flex-grow: 0;
    padding: 0;
    margin: 0;
}
.new-listing-description-col-grow {
    flex: 1;
    flex-grow: 1;
    margin: 0;
}
.new-listing-col-content {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-grow: 1;
}
.new-listing-explain-well {
    padding: 10px;
    background-color: #f2f2f2;
    border: 0.05em solid #b3b3b3;
    border-top: 0.1em solid #b3b3b3;
    border-left: 0.1em solid #b3b3b3;
    
    border-radius: 5px;
    margin-bottom: 10px;
}

.new-listing-gm-iframe {
    width: 100%;
    height: 200px;
}
.new-listing-agency-banner-wrap {
    overflow-y: auto;
}
.new-listing-agency-banner {
    border: none;
    border-radius: 10px;
    margin: 5px 5px 0 0;
    cursor: pointer;
    border: 3px solid #f2f2f2;
    width: 90%;
    max-width: 300px;
    display: inline-block;

    transition: all 0.1s linear;
}
.new-listing-agency-banner-selected, .new-listing-agency-banner:hover {
    border-top-color: #003333;
    border-left-color: #003333;
    border-right-color: #003333;
    border-bottom-color: #003333;
    transition: all 0.1s linear;
}

.new-listing-feature {
    width: 33%;
    display: inline-block;
    padding-right: 0.625em;
    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.new-listing-feature-header {
    border-bottom: 0.05em solid rgba(0, 0, 0, 0.2);
    margin: 1em 0 0.5em 0;
    padding: 0.5em 0;
}
.new-listing-feature-loader {
    width: 100%;
    text-align: center;
}

.new-listing-inspection-time {
    padding: 0.6em;
    margin: 0 0.6em 0.6em 0;
    font-size: 0.8em;

    border: 0.05em solid gray;
    border-radius: 0.3em;

    display: inline-block;
    color: #333333;
    background-color: #f2f2f2;
}
.new-listing-inspection-time > div:first-child {
    padding-right: 0.3em;
    display: inline-block;
}
.new-listing-inspection-time > div:last-child {
    width: 0.6em;
    display: inline-block;
    opacity: 0.5;
    transition: opacity 0.15s linear;
}
.new-listing-inspection-time:hover {
    background-color: white;
    transition: background-color 0.2s linear;
    cursor: pointer;
}
.new-listing-inspection-time:hover > div:last-child {
    opacity: 1;
    transition: opacity 0.2s linear;
}

/* Included here for lols */
.gk-new-agency {
    border: 1px solid lightgray;
    border-radius: 3.1em;
    background-color: white;
    padding: 0.3em;
    margin: 0.625em 0;
    width: 90%;
    max-width: 15.6em;
    cursor: pointer;
    transition: all 0.1s linear;
}
.gk-new-agency:hover {
    transition: all 0.1s linear;
    border-color: gray;
    color: black;
}
.gk-new-agency > div {
    display: inline-block;
    vertical-align: middle;
}
.gk-new-agency > div:first-child {
    color: gray;
    font-weight: 700;
    font-size: 2em;
    border: 0.06em solid lightgray;
    padding: 0 0.3em;
    border-radius: 1.9em;
    background-color: #f2f2f2;
}
.gk-new-agency > div:last-child {
    color: gray;
    padding: 0 0.94em;
    font-size: 0.85em;
}
.gk-new-agency-overflow-mask {
    width: 100%;
    width: calc(100% - 0.6em);
    max-height: 30em;
    overflow-y: auto;
}

.gk-new-agency-change-dp-wrap {
    width: 40%;
    max-width: 40em;
    margin: 0 auto;
}

/* The final submit buttom */
.gk-green-btn {

    position: relative;
    margin-top: 0.6em;

    width: 100%;
    background-color: #325b5b;
    color: #ececec;

    height: 2.6em;
    font-size: 1em;

    border: none;
    border-radius: 0.43em;

    cursor: pointer;

    transition: all 0.15s linear;
}
.gk-green-btn:hover {
    background-color: #003333;
    color: white;
}


.gk-green-btn-sml {
    border-radius: 2em;
    background-color: #325b5b;
    padding: 0.5em 1em;
    margin: 0;
    font-size: 0.75em;
    color: #e6e6e6;
    float: right;
    cursor: pointer;
}
.gk-green-btn-sml:hover {
    color: white;
    background-color: #003333;
    transition: all 0.15s linear;
}

.new-listing-completed-tick {
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.new-listing-completed-tick-small {
    position: absolute;
    
    top: 0.5em;
    right: 0.5em;

    height: 2.5em;
    width: 2.5em;
}

/* CANVAS + image edit ----------------------------------------------------------------------------------------------------------- */
#img-edit-canvas {
    border-radius: 7px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#img-edit-canvas-main {
    position: absolute;
}
.img-edit-canvas-mask {
    position: absolute;
    background-color: black;
    opacity: 0.7;
}

.img-edit-zoom {
    position: absolute;
    top: 1em;
    right: 1em;
    color: white;

    padding: 0.3em 0.3em 0.3em 0.6em;
    border-radius: 2em;
    border: 2px solid lightgray;
}
.img-edit-zoom > div {
    display: inline-block;
}
.img-edit-zoom-btn {
    padding: 0.3em 0.6em;
    margin-left: 0.3em;
    border-radius: 1em;
    border: 2px solid lightgray;
}
.img-edit-zoom-btn:hover {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.15s linear;
    cursor: pointer;
}

.img-edit-move {
    position: absolute;
    top: 4.5em;
    right: 1em;
    height: 4.6em;
    width: 4.6em;

    border: 2px solid white;
    border-radius: 2.5em;
    opacity: 0.8;
}
.img-edit-move:hover {
    opacity: 1;
    transition: opacity 0.15s linear;
}
.img-edit-move > img {
    position: absolute;
    opacity: 0.6;
    transition: opacity 0.15s linear;
}
.img-edit-move > img:hover {
    opacity: 1;
    transition: opacity 0.15s linear;
    cursor: pointer;
}
.img-edit-move-up {
    height: 1.3em;
    left: 1.75em;
    top: 0.3em;
}
.img-edit-move-left {
    left: 0.3em;
    width: 1.3em;
    top: 1.75em;
}
.img-edit-move-right {
    width: 1.3em;
    right: 0.3em;
    top: 1.75em;
}
.img-edit-move-down {
    height: 1.3em;
    bottom: 0.3em;
    left: 1.75em;
}

.img-edit-btn {
    background-color: #194747;
    color: #e6e6e6;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    float: right;
    margin: 0 0 0 0.45em;
    cursor: pointer;
    transition: all 0.15s linear;
}
.img-edit-btn:hover {
    color: white;
    background-color: #003333;
    transition: all 0.15s linear;
}

/* --------------------------------------------------------------------------------------------------------------------- */
.new-listing-upload-img-btn {
    /* And of course the cancel button too */
    margin: 10px 10px 10px 0;
}
.new-listing-img-wrap-well {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0.6em;
    background-color: #e6e6e6;
    border-radius: 0.3em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.new-listing-img-wrap {
    height: 100%;
    margin-left: 10px;
}
.new-listing-ph-img-contain {
    margin: 10px 0px;
}
.new-listing-ph-img-well {

    position: relative;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);

    padding: 5px;
    margin: 0 10px 10px 0;

    display: inline-block;
    vertical-align: middle;
}
.new-listing-ph-img-well:hover {
    background-color: #ffffff;
    cursor: pointer;
}
.new-listing-ph-img-label {
    padding: 0 0 5px 0;
    margin: 0;
    color: #595959;
}
.new-listing-ph-img-label-close {
    position: absolute;
    top: 5px;
    right: 5px;
}
.new-listing-ph-img-label-close:hover {
    cursor: pointer;
    font-weight: bolder;
    color: black;
}
.new-listing-img-gallery-well {
    background-color: #f2f2f2;
    border: none;
    border-radius: 7px;

    height: 90%;
    padding: 10px;
}

/* after submission */
.new-listing-end-result-tbl {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333333;
}
/* USER PROFILE ------------------------------------------------------------------------------------- */

.profile-contain {
    width: 100%;
}
.profile-panel {
    padding: 0.6em;
    margin: 0.6em 0 0 0;

    background-color: white;

    border: none;
    border-radius: 0.45em;
}
.profile-panel table {
    color: #333333;
    width: 100%;
    border-collapse: collapse;
    
}
.profile-panel > table > tbody > tr {
    border-bottom: 0.05em solid #f2f2f2;
}
.profile-panel table tbody tr td {
    padding: 0.6em 0;
}
.profile-panel-half {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

.profile-label-td {
    width: 30%;
    vertical-align: top;
}
.profile-content-td {
    width: 70%;
    position: relative;
}
.profile-edit-btn {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
}
.profile-edit-btn > div {
    display: inline-block;

    padding: 0.4em 0.45em;
    margin-left: 0.2em;
    width: 0.7em;
    
    border: none;
    border-radius: 0.3em;

    background-color: #f2f2f2;
    cursor: pointer;

    opacity: 0.5;
    transition: opacity 0.15s linear;
}
.profile-edit-btn > div:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.gk-profile-dp {
    width: 10em;
}

.gk-profile-input { 
    border: 1px solid lightgray;
    border-top: 1.5px solid lightgray;
    background-color: #f2f2f2;

    border-radius: 3px;
    padding: 0 10px;
}
.gk-profile-newpassword {
    display: block;
    margin: 0 0 10px 0;
}

.gk-profile-user {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin: 0.3em 0.6em 0.3em 0;

    background-color: white;
    
    border: 1px solid lightgray;
    border-radius: 0.3em;
}
.gk-profile-user table tbody tr td {
    padding: 0.6em;
}
.gk-profile-user table tbody tr td p {
    padding: 0;
    margin: 0;
}
.font-mob-device .gk-profile-user {
    max-width: 100%;
}

.gk-profile-user-dp {
    border-radius: 4em;
    height: 6.25em;
    width: 6.25em;
}

.gk-profile-user-selectable {
    margin: 0.3em 0.6em 0.3em 0.6em !important;
    border-radius: 0.4em !important;
}
.gk-profile-user-selected, .gk-profile-user-selectable:hover {
    margin: 0.2em 0.5em 0.2em 0.5em !important;
    border: 0.2em solid #003333 !important;
    cursor: pointer;
}

.gk-profile-newagency-form {
    border: 0.05em solid lightgray;
    border-radius: 0.3em;
    padding: 0.6em;
    background-color: white;
    margin-bottom: 0.6em;
}
.gk-profile-newagency-form > form {
    margin: 0;
}
.gk-profile-newagency-input {
    border: 0.05em solid lightgray;
    border-top: 0.15em solid lightgray;
    background-color: #f2f2f2;

    border-radius: 0.3em;
    padding: 0 0.6em;
    margin: 0 0.6em 0.6em 0;
    display: block;

    width: 90%;
    max-width: 15em;
}
.gk-profile-agency-banner {
    margin: 0.6em 0 0.6em 0.6em;
    padding: 0.6em 0;
    width: 90%;
    max-width: 30em;
    border: 0.05em solid lightgray;
}
.gk-color-picker-wrap {
    display: inline-block;
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
    color: #003333;
    text-align: left;
}
.gk-color-picker-compare {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}
.gk-color-picker-compare > div {
    display: inline-block;
    width: 49.5%;
}
.gk-color-picker-panel {
    height: 3em;
    width: 100%;
}
#bannerColorPicker {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
}
#colorPickerRect {
    position: absolute;
    top: 0;
    left: 0;
    height: 6%;
    width: 2.3%;
    border: 0.1em solid white;
}
.gk-profile-agencies-wrap {
    width: 100%;
    max-width: 500px;
}
.gk-profile-agency {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    display: inline-block;
    position: relative;
    margin: 0 0 0.6em 0;
    background-color: white;
}
.gk-profile-agency > div {
    display: block;
}
.gk-profile-agency-display-banner {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom: 1px solid lightgray;
}
.gk-profile-agency-display-banner > * {
    vertical-align: middle;
}
.gk-profile-agency-display-banner-logo {
    height: 40px;
    margin: 10px;
}

.gk-profile-agency-delete {
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 2px 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #003333;

    opacity: 0;
    transition: opacity 0.1s linear;
}
.gk-profile-agency:hover .gk-profile-agency-delete {
    opacity: 1;
    transition: opacity 0.1s linear;
}

/* Notifications ------------------------------------------ */
#gk-notifboard {
    position: fixed;
    right: 0.625em;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    z-index: 1000;
}
.gk-mob #gk-notifboard {
    max-width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    right: 0 !important;
    padding: 0.625em;
}
.gk-notif-msg {
    padding: 0.625em;
    margin-bottom: 0.625em;
    background-color: white;
    border: 0.06em solid gray;
    border-radius: 0.3em;

    opacity: 0.9;
    cursor: pointer;

    z-index: 1000;
}
.gk-notif-msg:hover {
    opacity: 1;
}
.gk-notif-msg > table {
    width: 100%;
}
.gk-notif-img-td {
    width: 3.1em;
}
.gk-notif-text {
    color: black;
    padding-left: 0.93em;
}


.fade.ng-enter {
    transition: 0.2s linear all;
    opacity: 0;
}
.fade.ng-enter.ng-enter-active {
    opacity: 0.9;
}
.fade.ng-leave {
    transition: 0.2s linear all;
    opacity: 0.9;
}
.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

/* Public profile -------------------------------------- */
.gk-public-profile-wrap {
    border: 0.05em solid #e6e6e6;
    border-collapse: collapse;
    border-radius: 0.3em;
    margin: 0;
    width: 100%;
    color: #333333;
}
.gk-public-profile-wrap tbody tr td {
    padding: 0.625em;
}
.gk-public-profile-btn {
    float: right;
    font-size: 1em;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    margin: 0.3em 0 0.3em 0.6em;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.15s linear;
}
.gk-public-profile-btn > table {
    height: 100%;
    padding: 0;
    margin: 0;
}
.gk-public-profile-btn > table tbody tr td {
    border: none !important;
}

.gk-public-profile-phone {
    background-color: #f2f2f2;
    padding-left: 0.7em;
    transition: all 0.15s linear;
}
.gk-public-profile-phone:hover {
    background-color: #d9d9d9;
    transition: all 0.3s linear;
}
.gk-public-profile-phone > div {
    display: inline-block;
}
.gk-public-profile-phone > div:last-child {
    margin-left: 0.3em;
}

.gk-public-profile-phone-text {
    font-weight: 700;
    color: #003333;
    margin: 0;
    padding: 0;
}

.gk-public-profile-msg-seller-btn {
    background-color: #325b5b;
    color: #f2f2f2;
}
.gk-public-profile-msg-seller-btn:hover {
    color: white;
    background-color: #003333;
    transition: all 0.3s linear;
}

.gk-public-profile-img-wrap {
    width: 4em;
    padding: 0;
    vertical-align: top;
    opacity: 0.8;
}
.gk-public-profile-img-wrap > img {
    width: 100%;
}
.gk-public-profile-img-desc {
    padding-left: 1.25em;
}

.gk-public-profile-banner {
    margin: 0.625em;
}

/* form ------------------------------------------------------ */
/* Why is this not merged with login form? */
.gk-center-form {

    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    border: 1px solid gray;

    background-color: rgba(255, 255, 255, 0.95);
    color: #333333;
    z-index: 1;

    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.37em 1.25em 0 rgba(0, 0, 0, 0.19);
}
.gk-center-input {
    padding: 10px;
    font-size: 1em;
    text-indent: 0;
    color: gray;
}


/* Loading bar classes -------------------------------------------------------------------  */
.gk-loading-bar-contain {
    height: 1em;
    width: 100%;
    position: relative;
    border: 0.05em solid #325b5b;
    border-radius: 0.5em;
    background-color: white;
    overflow: hidden;
}
.gk-loading-bar-inner {
    background-color: #003333;
    height: 100%;
    width: 0;
}
.gk-loading-bar-progress {
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    left: 0.6em;
    top: 0.1em;
    color: white;
}
.gk-loading-bar-description {
    font-size: 0.8em;
    padding: 0.3em 0 0 0;
    color: #003333;
}

/* Map search -------------------------------------------------------------------------------- */

.map-search-wrapper {
    position: relative;
    top: 0; 
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.map-loading-pane {
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
    text-align: center; 
    color: #003333
}
.map-pane {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.map-search {
    width: 100%;
    height: 4em;
    color: #003333;
}
.map-search-cell {
    padding: 0.3em;
}
.gk-mob .map-search-cell {
    display: block !important;
    width: 100%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.gk-mob .map-search-cell h3 {
    margin: 0.6em 0 0.3em 0;
    text-align: center;
}

.map-search input {
    padding: 0 0.5em;
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    border: 0.1em solid lightgray;
    background-color: white;
    vertical-align: middle;
}
.map-search-btn {
    margin: 0;
    padding: 0 1em;
    width: auto;
    height: 100%;
    float: right;
    vertical-align: middle;
}
.gk-mob .map-search-btn {
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
    width: 100%;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.map-search-btn div {
    width: 1.5em;
    margin-right: 0.4em;
}
.map-search-btn > table {
    margin: 0 auto;
}

#mapSearchMain {
    height: 100%;
    height: calc(100% - 4em);
    width: 100%;
}

.map-iw-img {
    width: 100%;
    margin: 0.6em 0;
}
.map-iw-ft {
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
    padding: 0.3em 0.6em;
    border: 0.05em solid lightgray;
    border-radius: 0.3em;
    color: #003333;
}

.bar-preloader {
    position: relative;
    padding-bottom: 75%;
}
.bar-preloader > div {
    height: 100%;
    position: absolute;
}
.blocks-preloader {
    position: relative;
    padding-bottom: 100%;
}
.blocks-preloader > div {
    position: absolute;
}