
.gk-ul-panel-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0.625em;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.gk-ul-panel-ordering {
    width: auto;
    float: right;
    margin-right: 0.625em;
}

.gk-ul-pointer {
    position: absolute;
    right: -1.75em;
    bottom: 50%;
    bottom: calc(50% - 1em);
    height: 0;

    border: none;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid lightgray;

    z-index: 1;
}
.gk-ul-pointer-inner {
    position: absolute;
    right: -1.95em;
    bottom: 50%;
    bottom: calc(50% - 1em);
    height: 0;

    border-left: none;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #f8f8f8;

    z-index: 1;
}
/* The detail panel ------------------------------------------- */

#gk-ul-detail {
    position: fixed;
    right: 0;
}
.gk-ul-detail-inner {
    position: relative;
    margin-left: 1em;
    height: 100%;

    background-color: #f8f8f8;
    border-left: 0.1em solid lightgray;
}

/* The actual detail panel (above is just the wrapper) ------------- */

.gk-ul-detail-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.gk-ul-detail-tbl {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0.625em;
    padding-right: 2em;
    color: #333333;
}
.gk-ul-detail-tbl thead tr {
    height: 2em;
}
.gk-ul-detail-tbl thead tr td {
    width: 25%;
    text-align: center;
    cursor: pointer;
}

.gk-ul-detail-head {
    padding: 0.3em 0 1em 0;
}
.gk-ul-detail-head > div {
    vertical-align: middle;
    display: inline-block;
}

.gk-ul-btn {
    padding: 0.4em 1em;
    border: none;
    border-radius: 3em;
    margin: 0 0 0 0.3em;
    cursor: pointer;
}
.gk-ul-ribbon-btn {
    background-color: #990000;
    color: white;
}
.gk-ul-ribbon-btn:hover {
    background-color: #660000;
    transition: background-color 0.15s linear;
}
.gk-ul-edit-btn {
    background-color: #366363;
    color: white;
}
.gk-ul-edit-btn:hover {
    background-color: #194747;
    transition: background-color 0.15s linear;
}

.gk-ul-detail-menu {
    width: 100%;
    padding: 0;
    margin: 0;
}
.gk-ul-detail-menu tbody tr td {
    width: 20%;
    height: 1.5em;
    padding: 0.5em;
    color: #b3b3b3;
    text-align: center;
    border-bottom: 0.1em solid lightgray;
    cursor: pointer;
    font-size: 0.8em;
}
.gk-ul-detail-menu tbody tr td:hover {
    color: gray;
}

.gk-ul-detail-menu > tbody tr td:first-child, 
.gk-ul-detail-menu > tbody tr td:last-child {
    width: 10%;
}
.gk-ul-detail-menu-selected {
    border: 0.1em solid lightgray !important;
    border-bottom: none !important;
    color: #333333 !important;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.gk-ul-detail-gallery-resizer {
    position: absolute;
    top: 0.625em;
    bottom: 0.625em;
    left: 2em;
    right: 2em;
}

.gk-ul-google-maps-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.gk-ul-analytics-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.gk-ul-analytics {
    height: 100%;
    width: 100%;
    color: #333333;
}

/* -- old styles check to see if these are even used anymore ----------------------------------------------- */
.gk-ul-placeholder {
    height: 100%;
    width: 100%;
}
.gk-ul-placeholder tbody tr td {
    text-align: center;
    color: #333333;
}
.gk-ul-placeholder-img {
    height: 100px;
}

.gk-ul-ribbon {
    height: 10em;
    position: absolute;
    top: -0.5em;
    left: -0.5em;
}

.gk-ul-description {
    display: block;
}
.gk-ul-description > * {
    display: inline-block;
    padding: 0 10px 0 0;
}

.gk-ul-select {
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px;
    text-indent: 0;
    width: auto;
    display: inline-block;
}
.gk-ul-select:hover{ 
    background-color: white;
}
.gk-ul-option {
    background-color: white;
}

.gk-ul-panel {
    margin: 10px 0;
    padding: 10px;

    background-color: white;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}
.gk-ul-panel:hover {
    border: 2px solid lightgray;
    transition: 0.3s linear all;
}
.gk-ul-panel-main {
    display: flex;
}
.gk-ul-panel-hidden {
    width: 100%;
    position: relative;
}

.gk-ul-image-wrap {
    flex: 1;
    flex-grow: 1;
    padding: 0;
}
.gk-ul-image {
    width: 100%;
}
.gk-ul-content {
    flex: 1;
    flex-grow: 5;
    padding-left: 10px;
    position: relative;
}
.gk-ul-bottompadding {
    margin: 0;
    padding: 0 0 10px 0;
}
.gk-ul-text-topalign {
    vertical-align: top;
}
.gk-ul-infotable {
    display: inline-block;
    max-width: 600px;
    padding: 0;
    margin-right: 20px;
    vertical-align: top;
}
.gk-ul-infotable > tbody > tr > td {
    padding: 7px 10px 7px 0;
    vertical-align: top;
}
.gk-ul-infotable-fieldname {
    width: 100px;
}
.gk-ul-infotable-fitem {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.gk-ul-editbtn {
    margin: 0 0 10px 0;
    display: block;
    width: 100%;
}

.gk-dark-text {
    color: #262626;
}

.gk-ul-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}


/* hidden elements */

.gk-ul-panel-gallery-img {
    display: inline-block;
    width: 200px;
    margin: 10px 10px 0 0;
}
.gk-ul-panel-gallery-img > img {
    width: 100%;
}
.gk-ul-panel-hidden-hide-btn {
    position: absolute;
    top: 0;
    right: 10px;
}