<div class="gk-new-agency" ng-click="addAgency()">
    <div>+</div>
    <div>{{ui.en ? 'Create new agency profile' : '创建新的代理商档案' }}</div>
</div>

<!-- Existing agencies -->
<div class="gk-new-agency-overflow-mask">
    <div ng-if="acc.agencies.length > 0" class="gk-profile-agencies-wrap">
        <div ng-repeat="ag in acc.agencies" 
            class="gk-profile-agency"
            ng-class="{ 'gk-profile-user-selectable': selectable, 'gk-profile-user-selected': selected.id == ag.id }"
            ng-click="setSelectedAgency(ag)" >

            <div class="gk-profile-agency-display-banner" ng-style="{'background-color': ag.hex }" ng-init="ag.replaceLogos = []">
                <img ng-if="!(ag.replaceLogos.length > 0)" ng-src="/images/{{ ag.lid }}" class="gk-profile-agency-display-banner-logo">
                <img ng-if="ag.replaceLogos.length > 0" ng-src="{{ ag.replaceLogos[ag.replaceLogos.length - 1].result }}" class="gk-profile-agency-display-banner-logo">
            </div>
            <div class="gk-padding">
                <div>
                    <h5 class="gk-nopadding gk-padding-small" ng-if="!ag.isEditting">{{ ag.name.length > 0 ? ag.name : 'No agency name yet' }}</h5>
                    <input class="gk-profile-newagency-input" ng-if="ag.isEditting" name="name" ng-model="ag.name" placeholder="{{ ui.en ? 'Name of agency' : '代理商的名称'}}">
                </div>
                <div>
                    <p class="gk-nopadding gk-padding-small" ng-if="!ag.isEditting"><strong>{{ ui.en ? 'Address' : '地址' }}: </strong>{{ ag.address.length > 0 ? ag.address : 'None' }}</p>
                    <input class="gk-profile-newagency-input" ng-if="ag.isEditting" name="address" ng-model="ag.address" placeholder="{{ ui.en ? 'Address' : '地址' }}">
                </div>
                <div>
                    <p class="gk-nopadding gk-padding-small" ng-if="!ag.isEditting"><strong>{{ ui.en ? 'Website' : '网站' }}: </strong>{{ ag.website.length > 0 ? ag.website : 'None'}}</p>
                    <input class="gk-profile-newagency-input" ng-if="ag.isEditting" name="website" ng-model="ag.website" placeholder="{{ ui.en ? 'Website' : '网站' }}">
                </div>

                <input type="file" name="logo" class="agencyLogoBtn hidden" accept="image/*" fileread="ag.replaceLogos">
                <button ng-if="ag.isEditting" class="gk-button-small" onclick="getSiblingOfClass(this, 'agencyLogoBtn').click()">Change logo</button>
                <button ng-if="ag.isEditting" class="gk-button-small" style="margin-left:0.3em;vertical-align:middle;" ng-click="loadBannerColorPicker(ag)">Change colour</button>
                <button ng-if="ag.isEditting" type="submit" class="gk-button-small gk-nofocus" style="margin-left:0.3em;vertical-align:middle;" ng-click="updateAgency(ag)">
                    <div ng-if="!agencyUpdatePending">Save</div>
                    <div ng-if="agencyUpdatePending" style="width: 1.2em; margin: 0 auto">
                        <gk-bar-preloader color="'#325b5b'"></gk-bar-preloader>
                    </div>
                </button>
            </div>
            <div ng-show="!ag.isEditting" class="profile-edit-btn">
                <div ng-click="ag.isEditting = true">
                    <gk-sprite ui="ui" name="'i_pen'" ar="1"></gk-sprite>
                </div>
                <div ng-click="deleteAgency(ag)">
                    <gk-sprite ui="ui" name="'i_bcross'" ar="1"></gk-sprite>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Colour picker mask -->
<table class="login-form-background-mask" ng-show="colourPickerLoaded">
    <tbody>
        <tr>
            <td style="text-align: center">
                <div class="gk-color-picker-wrap">
                    <p>Click on a colour to select it.</p>
                    <div class="gk-relative" ng-mouseenter="trackingColor = true" ng-mousemove="changeColor($event)">
                        <canvas height="200" width="500" id="bannerColorPicker"></canvas>
                        <div id="colorPickerRect" ng-click="trackingColor = false" ng-mousemove="$event.stopPropagation()"></div>
                    </div>
                    <div class="gk-color-picker-compare">
                        <div>
                            <p>Your current colour</p>
                            <div class="gk-color-picker-panel" ng-style="{ 'background-color': currSelectedAgency.hex }"></div>
                        </div>
                        <div>
                            <p>Your new colour</p>
                            <div class="gk-color-picker-panel" ng-style="{ 'background-color': currSampledColor }"></div>
                        </div>
                    </div>

                    <p>What your agency profile will look like:</p>
                    <div class="gk-profile-agency">
                        <div class="gk-profile-agency-display-banner" ng-style="{'background-color': currSampledColor }">
                            <img ng-if="!(currSelectedAgency.replaceLogos.length > 0)" ng-src="/images/{{ currSelectedAgency.lid }}" class="gk-profile-agency-display-banner-logo">
                            <img ng-if="currSelectedAgency.replaceLogos.length > 0" ng-src="{{ currSelectedAgency.replaceLogos[currSelectedAgency.replaceLogos.length - 1].result }}" class="gk-profile-agency-display-banner-logo">
                        </div>
                        <div class="gk-padding">
                            <div>
                                <h5 class="gk-nopadding gk-padding-small">{{ currSelectedAgency.name.length > 0 ? currSelectedAgency.name : 'No agency name yet' }}</h5>
                            </div>
                            <div>
                                <p class="gk-nopadding gk-padding-small"><strong>{{ ui.en ? 'Address' : '地址' }}: </strong>
                                    {{ currSelectedAgency.address.length > 0 ? currSelectedAgency.address : 'None' }}</p>
                            </div>
                            <div>
                                <p class="gk-nopadding gk-padding-small"><strong>{{ ui.en ? 'Website' : '网站' }}: </strong>
                                    {{ currSelectedAgency.website.length > 0 ? currSelectedAgency.website : 'None'}}</p>
                            </div>
                        </div>
                    </div>

                    <button class="gk-button-small" style="margin-top: 0.6em" ng-click="saveColor()">Save</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>