    <!-- Add user button -->
    <div class="gk-new-agency" ng-click="addUser()">
        <div>+</div>
        <div>{{ui.en ? 'Create new user profile' : '创建新的用户个人资料' }}</div>
    </div>

    <div class="gk-new-agency-overflow-mask">
        <div class="gk-profile-user gk-relative" 
            ng-repeat="user in acc.users"
            ng-class="{ 'gk-profile-user-selectable': selectable, 'gk-profile-user-selected': selected.id == user.id }" 
            ng-click="setSelectedUser(user)">

            <div ng-show="!user.isEditting" class="profile-edit-btn">
                <div ng-click="user.isEditting = true">
                    <gk-sprite ui="ui" name="'i_pen'" ar="1"></gk-sprite>
                </div>
                <div ng-click="deleteUser(user)">
                    <gk-sprite ui="ui" name="'i_bcross'" ar="1"></gk-sprite>
                </div>
            </div>
            <form class="gk-nopadding">
                <table style="width:auto"><tbody><tr>
                    <td style="text-align:center">
                        <img class="gk-profile-user-dp" ng-if="!(user.replaceDps.length > 0)" ng-src="/dpid/{{user.dpid}}">
                        <img class="gk-profile-user-dp" ng-if="user.replaceDps.length > 0" ng-src="{{ user.replaceDps[user.replaceDps.length - 1].result }}">
                        
                        <input type="file" name="logo" id="userLogoBtn_{{user.id}}" class="hidden" accept="image/*" ng-init="user.replaceDps = []" fileread="user.replaceDps">
                        <button ng-if="user.isEditting" class="gk-button-small" ng-click="clickLogoBtn(user)" style="margin-top:0.625em">
                            {{ ui.en ? 'Change picture' : '更换图片' }} 
                        </button>
                    </td>
                    <td style="width:100%">
                        <table>
                            <tbody>
                                <tr>
                                    <td><p>{{ ui.en ? 'Name' : '名字' }}:</p></td>
                                    <td>
                                        <div style="display: inline-block">
                                            <p ng-if="!user.isEditting" style="margin-right: 0.3em">{{ user.fname }}</p>
                                            <input ng-if="user.isEditting" type="text" name="fname" autocomplete="fname" class="gk-profile-input" ng-model="user.fname" placeholder="{{ ui.en ? 'First name' : '名字' }}" style="margin: 0 0.3em 0.3em 0">
                                        </div>
                                        <div style="display: inline-block">
                                            <p ng-if="!user.isEditting" >{{ user.lname }}</p>
                                            <input ng-if="user.isEditting" type="text" name="fname" autocomplete="lname" class="gk-profile-input" ng-model="user.lname" placeholder="{{ ui.en ? 'Last name' : '姓' }}">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>{{ ui.en ? 'Email' : '电子邮件' }}:</p></td>
                                    <td>
                                        <p ng-if="!user.isEditting">{{ user.email }}</p>
                                        <input ng-if="user.isEditting" type="text" name="email" autocomplete="email" class="gk-profile-input" ng-model="user.email">
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>{{ ui.en ? 'Phone' : '电话号码' }}:</p></td>
                                    <td>
                                        <p ng-if="!user.isEditting">{{ user.phone }}</p>
                                        <input ng-if="user.isEditting" type="text" name="phone" autocomplete="tel" class="gk-profile-input" ng-model="user.phone">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p ng-if="user.modifyResult.en.length > 0" class="loginMessage">{{ ui.en ? user.modifyResult.en : user.modifyResult.ch }}</p>
                        <button ng-show="user.isEditting" ng-click="updateUser(user)" class="gk-button-small gk-right gk-nofocus">
                            <div ng-if="!updateUserPending">{{ ui.en ? 'Save' : '保存' }}</div>
                            <div ng-if="updateUserPending" style="width: 1.2em; margin: 0 auto">
                                <gk-bar-preloader color="'#325b5b'"></gk-bar-preloader>
                            </div>
                        </button>
                    </td>
                </tr></tbody></table>

            </form>
        </div>
    </div>

    <table ng-if="showProfilePhotoEditor && currentlyFocusedUser.replaceDps.length > 0" class="login-form-background-mask" ng-click="showProfilePhotoEditor = false"><tbody><tr><td>
        <div class="gk-new-agency-change-dp-wrap">
            <gk-canvas-img-editor 
                gk-selected-index="currentlyFocusedUser.replaceDps.length - 1" 
                gk-imgs="currentlyFocusedUser.replaceDps" 
                aspect-ratio="1"
                callback="profilePhotoCallback"></gk-canvas-img-editor>
        </div>
    </td></tr></tbody></table>