<table class="gk-chat-tbl" ng-init="chatbox={}">
    <tbody>
        <tr class="gk-chat-head">
            <td>
                <p class="gk-nopadding">{{ ui.en ? 'Message to' : '发送消息给' }}: {{ ui.chatbox.listing.address.street + ', ' + ui.chatbox.listing.address.suburb }}</p>
                <div class="gk-chat-cancel" ng-click="ui.chatbox.listing = null;">x</div>
            </td>
        </tr>
        <tr ng-if="!(acc.users.length > 0)" class="gk-chat-email">
            <td>
                <input class="gk-chat-email-input" name="email" type="text" ng-model="chatbox.email" 
                    placeholder="{{ (acc != null && acc.email != null) ? acc.email : (ui.en ? 'Your email': '回复电邮')}}">
            </td>
        </tr>
        <tr ng-if="acc.users.length > 0">
            <td>
                <p style="margin: 0; padding: 0.6em 0">Sending message as:</p>
                <select class="gk-chat-subject-input" name="user" ng-model="chatbox.user" ng-init="chatbox.user = chatbox.user || acc.users[0].id">
                    <option value="{{ user.id }}" ng-repeat="user in acc.users">{{ user.fname + ' ' + user.lname }}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select class="gk-chat-subject-input" name="subject" ng-model="chatbox.subject" ng-init="chatbox.subject = chatbox.subject || static.messageTypes[0].en">
                    <option value="{{subject.en}}" ng-repeat="subject in static.messageTypes">{{ui.en ? subject.en : subject.ch}}</option>
                </select>
            </td>
        </tr>
        <tr class="gk-chat-body">
            <td>
                <textarea rows="20" class="gk-chat-email-input" name="message" type="text" ng-model="chatbox.text" 
                    placeholder="{{ui.en ? 'Type your message here' : '信息'}}"></textarea>
            </td>
        </tr>
        <tr>
            <td class="gk-chat-action">
                <p style="display:inline" ng-if="chatbox.msg.en != null">{{ui.en ? chatbox.msg.en : chatbox.msg.ch}}</p>
                <button class="gk-chat-btn" ng-click="postMessage(chatbox)">{{ui.en ? 'Send' : '发送'}}</button>
                <button class="gk-chat-btn" ng-click="ui.chatbox.listing = null;">{{ui.en ? 'Cancel' : '取消'}}</button>
                <button class="gk-chat-btn" ng-click="chatbox.text = ''">{{ui.en ? 'Clear' : '清除' }}</button>
            </td>
        </tr>
    </tbody>
</table>