<table class="login-form-background-mask fade" 
        ng-show="ui.showConfirmActionForm" 
        ng-click="ui.showConfirmActionForm = false">

    <tbody>
        <tr>
            <td>

                <div class="gk-center-form gk-padding" style="text-align:center" ng-click="$event.stopPropagation()">
                    <div style="width:50px;margin:0 auto">
                        <gk-sprite ng-if="ui.confirmActionIcon == 'tick'" ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                        <gk-sprite ng-if="ui.confirmActionIcon == 'em'" ui="ui" name="'i_em'" ar="1"></gk-sprite>
                        <gk-sprite ng-if="ui.confirmActionIcon == 'fireworks'" ui="ui" name="'i_fireworks'" ar="1"></gk-sprite>
                    </div>
                    <div class="gk-padding">
                        {{ ui.en ? ui.confirmActionMsg.en : ui.confirmActionMsg.ch }}
                    </div>

                    <button class="gk-button-small" ng-click="ui.showConfirmActionForm = false">
                        {{ ui.en ? 'Cancel' : '取消' }}
                    </button>

                    <button class="gk-button-small" ng-click="ui.confirmActionCallback(); ui.showConfirmActionForm = false">
                        {{ ui.en ? ui.confirmLabel.en : ui.confirmLabel.ch }}
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>