<div ng-style="{width:width}" class="gk-date-wrap">
    <table cellspacing="0">
        <tbody>
            <!-- Header -->
            <tr>
                <td colspan="7" class="gk-relative">
                    <div class="gk-date-month">{{ month }}</div>
                    <div class="gk-date-month-nav gk-date-prev" ng-click="incrementMonth(-1)"></div>
                    <div class="gk-date-month-nav gk-date-next" ng-click="incrementMonth(1)"></div>
                </td>
            </tr>
            <!-- Day of week labels -->
            <tr class="gk-date-header">
                <td ng-repeat="day in daysOfWeek" width="14.2857%">
                    {{ day }}
                </td>
            </tr>

            <!-- days -->
            <tr ng-repeat="row in days">
                <td ng-repeat="d in row" ng-click="selectDate(d)" class="gk-date-cell" 
                ng-class="{'gk-date-cell-grayed': !d.isCurrMonth, 'gk-date-cell-selected': isSelectedDate(d) }">
                    {{ d.date }}
                </td>
            </tr>
        </tbody>
    </table>
</div>