<table ng-if="ui.topElement == 'feedback' || ui.topElement == 'contact' || ui.topElement == 'support'" 
    class="login-form-background-mask fade"
    ng-click="ui.topElement = null;"
    ng-init="formContent = null;"><tbody><tr><td>

    <div ng-if="ui.topElement == 'feedback'" class="gk-padding gk-center-form fade" ng-click="$event.stopPropagation()" ng-init="clearForm()">
        <form ng-if="!formSubmitted">
            <h4>{{ ui.en ? 'Feedback' : '反馈表' }}</h4>
            <p>{{ ui.en ? 'Your email' : '联系邮箱' }}:</p>
            <input type="text" name="email" class="gk-input gk-center-input" ng-model="formContent.email" ng-init="formContent.email = acc.email">
            <p>{{ ui.en ? 'Comments' : '评论' }}:</p>
            <textarea name="comment" rows="10" class="gk-input gk-center-input" ng-model="formContent.comment"></textarea>
            <p ng-if="formContent.result.en.length > 0" class="loginMessage">{{ ui.en ? formContent.result.en : formContent.result.ch }}</p>
            <button class="gk-green-btn" ng-click="submitForm('feedback', formContent)">
                {{ ui.en ? 'Submit' : '发送' }} 
            </button>
        </form>
        <div ng-if="formSubmitted">
            <h4>{{ ui.en ? 'Thank you for your feedback.' : '感谢您的反馈意见。' }}</h4>
            <p>{{ ui.en ? 'Your comments are very valuable in helping us improve. We will be in touch soon.' :
                            '您的意见对于帮助我们改进非常有价值。我们会很快地和你联系。' }} </p>

            <button class="gk-green-btn" ng-click="ui.topElement = null">{{ ui.en ? 'Close' : '关' }}</button>
        </div>
    </div>
    <div ng-if="ui.topElement == 'contact'" class="gk-padding gk-center-form fade" ng-click="$event.stopPropagation()">
        <h4>{{ ui.en ? 'Contact us' : '联系我们' }}</h4>
        <p><strong>{{ ui.en ? 'Phone number:' : '电话' }}</strong></p>
        <button ng-if="!hiddenContent.phoneNumber" class="gk-button-small" ng-click="hiddenContent.phoneNumber = true;">{{ ui.en ? 'Click to reveal' : '请点击显示' }}</button>
        <p ng-if="hiddenContent.phoneNumber">(6 18) 6226 9988</p>
        <p><strong>{{ ui.en ? 'Email us at' : '电子邮件' }}:</strong></p>
        <button ng-if="!hiddenContent.email" class="gk-button-small" ng-click="hiddenContent.email = true;">{{ ui.en ? 'Click to reveal' : '请点击显示' }}</button>
        <p ng-if="hiddenContent.email">support@mfmf.com.au</p>
    </div>
    <div ng-if="ui.topElement == 'support'" class="gk-padding gk-center-form fade" ng-click="$event.stopPropagation()" ng-init="clearForm()">
        <form ng-if="!formSubmitted">
            <h4>{{ ui.en ? 'Submit a support ticket' : '提交支持票' }}</h4>
            <p>{{ ui.en ? 'Your Email' : '联系邮箱' }}:</p>
            <input type="text" name="email" class="gk-input gk-center-input" ng-model="formContent.email" ng-init="formContent.email = acc.email">
            <p>{{ ui.en ? 'Please describe the problem(s) you are facing' : '请描述您遇到的任何困难' }}:</p>
            <textarea name="comment" rows="10" class="gk-input gk-center-input" ng-model="formContent.comment"></textarea>
            <p ng-if="formContent.result.en.length > 0" class="loginMessage">
                {{ ui.en ? formContent.result.en : formContent.ch }}
            </p>
            <button class="gk-green-btn" ng-click="submitForm('support', formContent)">
                {{ ui.en ? 'Submit' : '发送' }}
            </button>
        </form>
        <div ng-if="formSubmitted" class="gk-padding">
            <h4>{{ ui.en ? 'Your support ticket has been submitted. You will hear from us within 24 hours.' : 
                            '您的支持请求已提交。您将在24小时内收到我们的回复。' }} </h4>
            <button class="gk-green-btn" ng-click="ui.topElement = null">{{ ui.en ? 'Close' : '关' }}</button>
        </div>
    </div>


</td></tr></tbody></table>