<div class="img-panel-top">
    <table class="img-main-tbl" ng-style="{'max-width': maxWidth}">
        <tbody>
            <tr>
                <!-- placeholder -->
                <td ng-if="images.length <= 0" class="img-main-td">
                    <div class="img-main-placeholder">
                        <table><tbody><tr><td>
                            <div style="width:6.25em;margin:0 auto 1em auto">
                                <gk-sprite ui="ui" name="'i_mag_large'" ar="1"></gk-sprite>
                            </div>
                            <div>
                                {{ ui.en ? 'There are no images for this property yet.' : '没有图像可以显示' }} 
                            </div>
                        </td></tr></tbody></table>
                    </div>
                </td>

                <!-- image contain -->
                <td ng-if="images.length > 0" class="img-main-td" 
                    ng-mouseover="gui.isMouseoverMainImg = true" 
                    ng-mouseleave="gui.isMouseoverMainImg = false">

                    <img class="img-main fade"
                        ng-src="/images/{{images[ui.galleryIndex].i}}" ng-animate-swap="ui.galleryIndex">
                        
                    <div ng-if="gui.isMouseoverMainImg" class="img-counter fade">
                        <div class="img-counter-bubble">
                            <p class="gk-nopadding">{{ui.galleryIndex + 1}} / {{images.length}}</p>
                        </div>
                    </div>

                    <div ng-if="gui.isMouseoverMainImg" class="img-arrow img-left fade">
                        <gk-sprite ui="ui" name="'i_prev'" ar="1" class="img-left" ng-click="shiftGalleryImage(-1)"></gk-sprite>
                    </div>
                    <div ng-if="gui.isMouseoverMainImg" class="img-arrow img-right fade">
                        <gk-sprite ui="ui" name="'i_next'" ar="1" class="img-right" ng-click="shiftGalleryImage(1)"></gk-sprite>
                    </div>
                </td>
            </tr>
            <tr ng-if="images.length > 0">
                <!-- relatively positioned -->
                <td class="img-panel-top-preview-wrapper" 
                    ng-mouseover="gui.isMouseoverPreview = true"
                    ng-mouseleave="gui.isMouseoverPreview = false">

                    <!-- absolutely positioned -->
                    <div id="img-panel-top-preview"
                            ng-style="{ 'left' : gui.currSelectedGalleryLeftPosition ?  gui.currSelectedGalleryLeftPosition + 'px': 0 }">
                        <div ng-repeat="imgId in images">
                            <img ng-src="{{'/images/' + imgId.i}}" class="img-panel-top-preview-img" 
                                ng-click="ui.galleryIndex = $index"
                                ng-class="{'img-panel-top-preview-img-selected': ui.galleryIndex == $index}">
                        </div>
                    </div>


                    <div ng-if="gui.isMouseoverPreview" class="img-arrow img-left fade">
                        <gk-sprite ui="ui" name="'i_prev'" ar="1" class="img-left" ng-click="shiftPreviewPanel(-1)"></gk-sprite>
                    </div>
                    <div ng-if="gui.isMouseoverPreview" class="img-arrow img-right fade">
                        <gk-sprite ui="ui" name="'i_next'" ar="1" class="img-right" ng-click="shiftPreviewPanel(1)"></gk-sprite>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>