<div id="header" ng-style="{ 'height': ui.size.headerHeight + 'px' }" ng-class="{'header-mob': hui.smallHead}">
    <div class="header-logo-wrap">
        <div id="header-logo" ng-click="ui.currMainDisplay = 'listings'" ng-style="{'width': 3 * ui.size.headerHeight + 'px'}">
            <gk-sprite ui="ui" name="'i_logo'" ar="0.316"></gk-sprite>
        </div>
    </div>

    <div id="header-navbar" ng-style="{ 'left': ui.isMobileDisplay() ? 0 : ui.size.headerNavLeft + 'px', 
                                        'width': ui.isMobileDisplay() ? ui.size.width + 'px' : (ui.size.width - ui.size.headerNavLeft) + 'px' }">

        <!-- Mobile displays. Hidden by default via css:visibility -->
        <div class="header-menu-img" 
            ng-if="hui.smallHead"
            ng-click="hui.showDropdownMenu = !hui.showDropdownMenu;"
            ng-class="{ 'header-menu-img-active' : hui.showDropdownMenu }"
            ng-style="{ 'width': (ui.size.headerHeight * 0.5) + 'px' }">
            <gk-sprite ui="ui" name="'i_menu'" ar="0.8875"></gk-sprite>
        </div>

        <!-- Main menu. Hidden by default via css:visibility -->
        <div class="header-menu-wrap-mask"
            ng-if="!hui.smallHead || hui.showDropdownMenu"
            ng-click="hui.showDropdownMenu = false; $event.stopPropagation()">

            <!-- Cloaked until js compiles. Each of the css classes have visibility:visible !important -->
            <div ng-style="{ 'top': hui.smallHead ? ui.size.headerHeight + 'px' : 0 }"
                ng-class="{ 'header-menu-wrap-mob': hui.smallHead, 
                            'header-menu-wrap': !hui.smallHead,
                            'header-menu-wrap-mob-device': ui.isMobileDevice }">

                <div ng-if="hui.smallHead" ng-click="togSearch(true)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_mag'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'Search' : '搜索属性'}}</p>
                </div>
                <div ng-click="ui.currMainDisplay = 'mapsearch'; togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_location'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'Map search' : '地图搜索'}}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'mapsearch'" class="header-menu-bookmark-arrow"></div>
                </div>
                <div ng-click="ui.currMainDisplay = 'listings'; togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_home'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'View listings' : '查看列表' }}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'listings'" class="header-menu-bookmark-arrow"></div>
                </div>
                <div ng-if="acc!=null" ng-click="ui.currMainDisplay = 'postlisting'; ui.populateNewListingForm(); togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_signup'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'Post listing' : '发布列表'}}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'postlisting'" class="header-menu-bookmark-arrow"></div>
                </div>
                <div ng-if="acc!=null" ng-click="ui.currMainDisplay = 'mylistings'; getUserListings(); togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_mylistings'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'My listings' : '我的房源'}}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'mylistings'" class="header-menu-bookmark-arrow"></div>
                </div>
                <div ng-if="acc!=null" ng-click="ui.currMainDisplay = 'profile'; togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_profile'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'My Profile': '我的帐户'}}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'profile'" class="header-menu-bookmark-arrow"></div>
                </div>
                <div ng-if="acc!=null" ng-click="ui.currMainDisplay = 'wishlist'; getWishlist(); togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_star'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'My Wishlist' : '愿望清单'}}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'wishlist'" class="header-menu-bookmark-arrow"></div>
                </div>

                <!-- hiding the messages too -->
                <div ng-if="acc!=null" ng-click="ui.currMainDisplay = 'inbox'; acc.unreadMessages = 0; getUserInbox(); togSearch(false)">
                    <div ng-if="acc.unreadMessages > 0" class="header-inbox-message-counter">
                        {{ acc.unreadMessages > 9 ? '9+' : acc.unreadMessages }}
                    </div>
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_mail'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'My Inbox' : '我的邮箱'}}</p>
                    <div ng-if="!hui.smallHead && ui.currMainDisplay == 'inbox'" class="header-menu-bookmark-arrow"></div>
                </div>
                <div ng-if="acc!=null" ng-click="logout(); togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_login'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'Logout' : '登出' }}</p>
                </div>
                <div ng-if="acc==null" ng-click="ui.loginView = 'signup'; ui.topElement = 'login'; togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_signup'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'Sign up' : '注册帐户'}}</p>
                </div>
                <div ng-if="acc==null" ng-click="ui.loginView = 'login'; ui.topElement = 'login'; togSearch(false)">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_login'" ar="1"></gk-sprite>
                    <p>{{ ui.en ? 'Login' : '登录'}}</p>
                </div>

                <div class="header-menu-item-noborder">
                    <table class="header-menu-lang-tbl">
                        <tbody>
                            <tr>
                                <td ng-class="{'lang-selected' : ui.en }" ng-click="setLang(true); $event.stopPropagation()">English</td>
                                <td ng-class="{'lang-selected' : !ui.en }" ng-click="setLang(false); $event.stopPropagation()"><strong>中文</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="!hui.smallHead" class="header-welcome-msg">
                            {{
                                acc == null ? 
                                    (
                                        ui.en ? 
                                            '':
                                            '澳大利亚房地产'
                                    )
                                : 
                                    (
                                        (ui.en ? "Welcome back" : "欢迎回来") + (acc.users[0].fname != null ? ', ' : '') + acc.users[0].fname
                                    )
                            }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>