<div id="img-edit-canvas" class="gk-checkered gk-noselect" ng-mouseenter="displayEditors = true" ng-mouseleave="displayEditors = false">
    <img id="img-edit-canvas-main" ng-show="gkImgs[gkSelectedIndex].result != null" ng-src="{{gkImgs[gkSelectedIndex].result}}" gk-editable gk-position="" draggable="false">
    <div class="img-edit-canvas-mask" id="img-edit-canvas-mask-top"></div>
    <div class="img-edit-canvas-mask" id="img-edit-canvas-mask-left"></div>
    <div class="img-edit-canvas-mask" id="img-edit-canvas-mask-right"></div>
    <div class="img-edit-canvas-mask" id="img-edit-canvas-mask-bottom"></div>

    <div ng-if="displayEditors" class="img-edit-zoom fade">
        <div><p class="gk-nopadding">Adjust zoom:</p></div>
        <div class="img-edit-zoom-btn" ng-click="resizeImg(1)">+</div>
        <div class="img-edit-zoom-btn" ng-click="resizeImg(-1)">‒</div>
    </div>
    <div ng-if="displayEditors" class="img-edit-move fade">
        <img ng-click="moveImg('up')" class="img-edit-move-up" src="/resources/arrow-up.png">
        <img ng-click="moveImg('left')" class="img-edit-move-left" src="/resources/arrow-left.png">
        <img ng-click="moveImg('right')" class="img-edit-move-right" src="/resources/arrow-right.png">
        <img ng-click="moveImg('down')" class="img-edit-move-down" src="/resources/arrow-down.png">
    </div>
</div>
<div class="gk-padding-vertical">
    <button class="img-edit-btn gk-nofocus" ng-click="captureImg()">Save</button>
    <button class="img-edit-btn gk-nofocus" ng-click="resetImg()">Reset</button>
    <button class="img-edit-btn gk-nofocus" ng-click="cancelImg()">Cancel</button>
</div>
