<div class="inbox-wrapper">
    <h3>{{ ui.en ? 'My Inbox' : '我的收件箱' }}</h3>
    <div ng-class="{'inbox-row' : !isSmallDisplay(), 'inbox-row-mob' : isSmallDisplay()}">
        <!-- conversations list -->
        <div id="inbox-conversations">
            <div ng-class="{'inbox-conv-overflow-mask' : !isSmallDisplay(), 'inbox-conv-overflow-mask-mob' : isSmallDisplay()}">

                <!-- Preloader -->
                <table ng-if="!acc.convs" style="height:100%;width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <div style="width:3em;margin: 0 auto">
                                    <gk-bar-preloader color="'#325b5b'"></gk-bar-preloader>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Loaded, with conversations -->
                <table ng-if="acc.convs && acc.convs.length > 0" class="inbox-conv-tbl">
                    <tbody>
                        <tr ng-repeat="conv in acc.convs">
                            <td class="inbox-conv-border" ng-class="{'inbox-selected-conv': selectedConv.id === conv.id }" ng-click="getConversation(conv)">
                                <table class="inbox-conv-panel">
                                    <tbody>
                                        <tr>
                                            <td><img class="inbox-conv-dp" ng-src="/dpid/{{conv.otheruser.dpid}}"></td>
                                            <td class="inbox-conv-details" ng-class="{ 'inbox-conv-emphasis': !isSeenByMe(conv) }">
                                                <div class="inbox-conv-delete" ng-click="ui.showInboxConfirm = true">
                                                    <gk-sprite ui="ui" name="'i_bcross'" ar="1"></gk-sprite>
                                                </div>
                                                <h5 class="gk-nopadding">{{ getCounterpartyName(conv) }}</h5>
                                                <p class="gk-nopadding">{{ ui.en ? 'Subject' : '话题' }}: {{ conv.subject }}</p>
                                                <p ng-if="conv.messages.length > 0" class="conv-msg">
                                                    {{ 
                                                        truncateString(
                                                            (isSentByMe(conv, conv.messages[conv.messages.length - 1]) ? (ui.en?'You':'我说') : getCounterpartyName(conv)) + ': ' + 
                                                                (ui.en ? conv.messages[conv.messages.length - 1].text.en : conv.messages[conv.messages.length - 1].text.ch), 40) 
                                                    }}
                                                </p>
                                                <p ng-if="conv.messages.length > 0" class="conv-time">{{ getTimeString(conv.messages[conv.messages.length - 1].time) }}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Loaded, but no conversations  -->
                <table ng-if="accs.convs && acc.convs.length > 0" class="inbox-conv-tbl-empty">
                    <tbody>
                        <tr>
                            <td>
                                <div style="width:3.125em;margin:0 auto">
                                    <gk-sprite ui="ui" name="'i_mag_large'" ar="1"></gk-sprite>
                                </div>
                                <p>{{ui.en ? 'You have no new messages' : '没有新消息'}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Chat main - hide if there are no conversations and it's a small display -->
        <div id="inbox-chat" ng-hide="isSmallDisplay() && !(acc.convs.length > 0)">
            <table ng-class="{ 'inbox-chat-mob': isSmallDisplay() && selectedConv != undefined }">
                <div class="inbox-chat-subject">
                    <strong>{{ getCounterpartyName(selectedConv)}}</strong>{{': ' + selectedConv.subject }}
                </div>    
                <tbody>
                    <tr>
                        <!-- Chat panel-->
                        <td colspan="2" class="inbox-msg-tbl-wrap">
                            <div ng-if="acc.convs.length > 0" id="inbox-overflow-mask">
                                <table id="inbox-msg-tbl">
                                    <tbody>
                                        <tr ng-repeat="msg in selectedConv.messages">
                                            <td>
                                                <div class="inbox-msg-wrap" ng-class="{'inbox-msg-wrap-left': !isSentByMe(selectedConv, msg), 
                                                                                        'inbox-msg-wrap-right': isSentByMe(selectedConv, msg)}">
                                                    <p class="inbox-msg-user">
                                                        {{ (isSentByMe(selectedConv, msg) ? (ui.en?'You':'我说') : getCounterpartyName(selectedConv)) + ' | ' + getDateString(msg.time) }}
                                                    </p>
                                                    <div class="inbox-msg" ng-class="{'inbox-msg-left': !isSentByMe(selectedConv, msg), 
                                                                                        'inbox-msg-right': isSentByMe(selectedConv, msg)}">
                                                        <p class="gk-nopadding">{{ msg.text.src == 'en' ? msg.text.en : msg.text.ch }}</p>
                                                        <div ng-show="!msg.isChangingTranslation" class="inbox-msg-translation">
                                                            <p class="gk-nopadding">{{ msg.text.src == 'en' ? msg.text.ch : msg.text.en }}</p>
                                                            <div ng-if="isSentByMe(selectedConv, msg)">
                                                                <div class="inbox-msg-translate-msg">
                                                                    {{ ui.en ? 'Translated using Google Translate' : '这个翻译使用 Google 翻译' }}
                                                                </div>
                                                                <button class="inbox-msg-translate-btn gk-nofocus" ng-click="msg.isChangingTranslation = true">
                                                                    {{ ui.en ? 'Change translation' : '改变这个翻译' }}
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div ng-if="msg.isChangingTranslation" class="">
                                                            <form>
                                                                <input class="inbox-msg-translate-input" type="text" name="translation" placeholder="{{ msg.text.src == 'en' ? msg.text.ch : msg.text.en }}" ng-model="msg.translation">
                                                                <button class="inbox-msg-translate-btn gk-nofocus" ng-click="msg.isChangingTranslation = false">
                                                                    {{ ui.en ? 'Cancel' : '取消' }}
                                                                </button>
                                                                <button class="inbox-msg-translate-btn gk-nofocus" ng-click="changeTranslation(msg)">
                                                                    {{ ui.en ? 'Save' : '保存' }}
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!(acc.convs.length > 0)">
                                <p>No messages yet</p>
                            </div>
                        </td>
                    </tr>

                    <!-- Inputs -->
                    <tr class="inbox-msg-input-panel">
                        <td class="input-msg-input-input">
                            <textarea name="message" rows="{{ isSmallDisplay() ? 2 : 5}}" ng-model="newtext.msg" placeholder="{{ ui.en ? 'Type message ...' : '输入消息 ...' }}"></textarea>
                        </td>
                        <td class="input-msg-input-fn">
                            <button class="input-msg-input-send" ng-click="send(selectedConv, newtext)">
                                <div ng-if="!sendMessagePending">{{ ui.en ? 'Send' : '发送' }}</div>
                                <div ng-if="sendMessagePending" style="width: 1.5em; margin: 0 auto">
                                    <gk-bar-preloader color="'#325b5b'"></gk-bar-preloader>
                                </div>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- ?? -->
        <div id="inbox-property" ng-if="!isSmallDisplay()">
            <table class="inbox-property-tbl">
                <tbody>
                    <tr ng-repeat="reminder in acc.inspectionReminders"><td><p></p></td></tr>
                </tbody>
            </table>
        </div>
    </div>


    <table ng-if="ui.showInboxConfirm" 
        class="login-form-background-mask fade"
        ng-click="ui.showInboxConfirm = false;"><tbody><tr><td>

        <div class="inbox-confirm" ng-if="ui.showInboxConfirm">
            <div style="width:50px;margin:0 auto">
                <gk-sprite ui="ui" name="'i_em'" ar="1"></gk-sprite>
            </div>
            <p>{{ 
                ui.en ? 'Are you sure you want to delete this conversation? This action cannot be undone.' : 
                        '您确定要删除此对话吗？此操作无法撤消。'
                }}
            </p>
            <button class="gk-button-small" ng-click="deleteConversation(selectedConv)" style="margin-right:10px">{{ ui.en ? 'Delete' : '删除' }}</button>
            <button class="gk-button-small" ng-click="ui.showInboxConfirm = false">{{ ui.en ? 'Cancel' : '取消' }}</button>
        </div>
    </td></tr></tbody></table>
</div>