<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="galleryStyles.css">
    <link rel="stylesheet" href="userListingStyles.css">
    <link rel="stylesheet" href="chatStyles.css">
    <link rel="stylesheet" href="landingStyles.css">
    <link rel="stylesheet" href="datePickerStyles.css">
    <link rel="shortcut icon" href="/resources/favicon.png" />
</head>

<body ng-app="mainApp" ng-controller="mainCtrl" ng-class="{'font-mob-device':ui.isMobileDevice, 'gk-mob':ui.isMobileDisplay()}">

    <!-- Header is always present -->
    <gk-header></gk-header>
    <gk-login></gk-login>

    <div id="gk-notifboard">
        <div class="gk-notif-msg fade" ng-repeat="notif in ui.notifs | orderBy:$index:true" ng-click="ui.notifs.splice($index, 1)">
            <table>
                <tbody>
                    <tr>
                        <td class="gk-notif-img-td">
                            <gk-sprite ng-if="notif.icon=='tick'" ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                            <gk-sprite ng-if="notif.icon=='em'" ui="ui" name="'i_em'" ar="1"></gk-sprite>
                        </td>
                        <td class="gk-notif-text"><p class="gk-nopadding">{{ui.en ? notif.en : notif.ch}}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <gk-confirm-action ui="ui"></gk-confirm-action>
    <gk-chatbox class="gk-chat" ng-if="ui.chatbox.listing != null"></gk-chatbox>

    <!-- Content -->
    <div id="bodyBar" ng-click="clickApp()">

        <div id="preloader" ng-if="!ui.userDataLoaded || !ui.listingDataLoaded">
            <table><tbody><tr><td>
                <div class="preload-spinner-wrap">
                    <div class="preload-spinner-load" ng-style="{height: ui.progressBar + '%'}"></div>
                    <img class="preload-spinner" src="/resources/australia_mask.png">
                </div>
                <div class="preload-text">
                    <h2 class="preload-text-ch">买卖 澳大利亚 房地产</h2>
                    <h5 class="preload-text-en">Connecting Australian real estate agents to Chinese buyers</h5>
                </div>
            </td></tr></tbody></table>
        </div>

        <gk-search></gk-search>
        
        <div id="contentBar" ng-style="{'margin-left': ui.size.contentBarLeft+'px', 'margin-top':ui.size.headerHeight+'px'}">
            <div ng-if="!ui.shown.searchBar && (ui.currMainDisplay == 'mapsearch' || ui.currMainDisplay == 'listings')" id="search-show-panel">
                <div ng-click="showSearchBar()">
                    <gk-sprite style="width: 2em" ui="ui" name="'i_mag'" ar="1"></gk-sprite>
                </div>
            </div>
            
            <gk-map-search ng-if="ui.currMainDisplay == 'mapsearch'" ui="ui"></gk-map-search>
            <gk-user-profile ng-if="ui.currMainDisplay == 'profile'" acc="acc" ui="ui" methods="methods"></gk-user-profile>
            <gk-listings-display ng-if="ui.currMainDisplay == 'mylistings'" acc="acc" ui="ui" listings="userlistings" methods="methods" type="'m'"></gk-listings-display>
            <gk-post-listing ng-if="ui.currMainDisplay == 'postlisting'" acc="acc" ui="ui" methods="methods" static="static" newlist="newlist"></gk-post-listing>   
            <gk-listings ng-if="ui.currMainDisplay == 'listings'" acc="acc" ui="ui" listings="listings" listing-panels="ui.panels" 
                methods="methods" query-params="queryParams" static="static" show-sort-order="true" load-more="true"></gk-listings>
            <gk-listings-display ng-if="ui.currMainDisplay == 'wishlist'" acc="acc" ui="ui" listings="wishlist" methods="methods" type="'w'"></gk-listings-display>
            <gk-inbox ng-if="ui.currMainDisplay == 'inbox'" acc="acc" ui="ui" methods="methods"></gk-inbox>
        </div>
        
        <gk-feedback ui="ui" acc="acc"></gk-feedback>
    </div>

    <!-- dependencies of app -->
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-animate.min.js"></script>

    <script src="/scripts/angular-scroll.min.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/styles.js"></script>
    <script src="/scripts/mainApp.js"></script>
    <script src="/scripts/mainCtrl.js"></script>

    <script src="/scripts/directive-listings.js"></script>
    <script src="/scripts/directive-listing-panel.js"></script>
    <script src="/scripts/directive-listing-detail.js"></script>
    <script src="/scripts/directive-post-listing.js"></script>
    <script src="/scripts/directive-img-edit.js"></script>
    <script src="/scripts/directive-listings-display.js"></script>
    <script src="/scripts/directive-user-listing-panel.js"></script>
    <script src="/scripts/directive-user-profile.js"></script>
    <script src="/scripts/directive-user-public-profile.js"></script>
    <script src="/scripts/directive-feedback.js"></script>
    <script src="/scripts/directive-login.js"></script>
    <script src="/scripts/directive-head.js"></script>
    <script src="/scripts/directive-search.js"></script>
    <script src="/scripts/directive-chatbox.js"></script>
    <script src="/scripts/directive-inbox.js"></script>
    <script src="/scripts/directive-map-search.js"></script>
    <script src="/scripts/directive-add-agency.js"></script>
    <script src="/scripts/directive-add-user.js"></script>
    <script src="/scripts/directive-confirm.js"></script>
    <script src="/scripts/directive-suggestions.js"></script>
    
    <script src="/scripts/directive-sprite.js"></script>
    <script src="/scripts/directive-progress-bar.js"></script>
    <script src="/scripts/directive-bar-preloader.js"></script>
    <script src="/scripts/directive-blocks-preloader.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7IA-SEV3Ss2dOLncb5XZ6iAA1YQcjFy4"></script>
    <script src="/scripts/directive-date-picker.js"></script>
</body>
</html>