<div class="detailed-listing-panel" ng-class="{'detailed-listing-panel-active': shown, 'detailed-listing-panel-small': ui.nCol <= 2 }">
    
    <!-- 1st row -->
    <div ng-if="shown" class="detailed-listing-panel-row">
        <div class="detailed-listing-panel-left">
            <gk-gallery images="listing.imageIds" ui="ui" gui="gui"></gk-gallery>
        </div>
        <div class="detailed-listing-panel-right gk-google-maps-wrap">
                <!-- If there is a map available, preloader for the map -->
                <div ng-if="(listing.address.mapSrc.length > 0)" class="gk-google-maps-bg">
                    <table class="gk-google-maps-placeholder">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="width:2.5em; margin:0.6em auto">
                                        <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
                                    </div>
                                    <p>{{ ui.en ? 'Map is loading...' : '地图正在加载...' }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <iframe ng-if="listing.address.mapSrc.length > 0 && ui.listingPanelTransitionComplete"
                        class="gk-google-maps-iframe" frameborder="0" allowfullscreen 
                        ng-src="{{ methods.trustAsResourceUrl(listing.address.mapSrc )}}">
                </iframe>

                <!-- If there is no maps available -->
                <div ng-if="!(listing.address.mapSrc.length > 0)" class="gk-google-maps-bg">
                    <table class="gk-google-maps-placeholder">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="width:10%;margin:0.6em auto 0 auto">
                                        <gk-sprite ui="ui" name="'i_mag_large'" ar="1"></gk-sprite>
                                    </div>
                                    <p>{{ ui.en ? 'Unfortunately, a map is unavailable for this listing.' : '此商家信息没有地图' }}</p>
                                    <button class="gk-button-small" ng-click="loadDefaultGoogleMap(listing)">{{ ui.en ? 'Search' : '搜索地址'}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

    <!-- 2nd row -->
    <div ng-if="shown" class="detailed-listing-panel-row">
        <div class="detailed-listing-panel-left" ng-if="layout==1">
            <div class="detailed-listing-panel-description">
                <h3 ng-if="listing.title.length > 0" class="gk-nopadding gk-padding-vertical">{{ listing.title }}</h3>
                <div ng-if="listing.description.length > 0">
                    <p style="white-space:pre-line; font-size:0.85em; line-height:1.5em">{{ listing.description }}</p>
                </div>
            </div>
        </div>
        <div ng-class="{'detailed-listing-panel-left': layout==2, 'detailed-listing-panel-right': layout==1 }">
            <div class="detailed-listing-panel-features">
                    <div>
                        <h5 class="detailed-listing-panel-title">
                            <strong>{{ ui.en ? 'Price': '价钱' }}:</strong> {{ ui.en ? listing.price.en : listing.price.ch }}
                        </h5>
                        <h5 style="padding: 0.6em 0; margin: 0">
                            <strong>{{ ui.en ? 'Address' : '地址' }}:</strong> {{ listing.address.street + ', ' + listing.address.suburb }}
                        </h5>
                    </div>
                    
                    <div ng-if="listing.sorted.mainFeatures.length > 0">
                        <h5 class="detailed-listing-panel-title">{{ ui.en ? 'Property features' : '房地产特点' }}:</h5>
                        <div class="detailed-listing-panel-detail-tag" ng-repeat="feature in listing.sorted.mainFeatures">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <gk-sprite class="detailed-listing-panel-detail-tag-img" ui="ui" name="feature.name" ar="1"></gk-sprite>
                                        </td>
                                        <td>
                                            <p>{{ ui.en ? feature.en : feature.ch }}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div ng-if="listing.sorted.roomFeatures.length > 0">
                        <h5 class="detailed-listing-panel-title">{{ ui.en ? 'Home features' : '屋子特点' }}:</h5>
                        <div class="detailed-listing-panel-detail-tag" ng-repeat="feature in listing.sorted.roomFeatures">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <gk-sprite class="detailed-listing-panel-detail-tag-img" ui="ui" name="feature.name" ar="1"></gk-sprite>
                                        </td>
                                        <td>
                                            <p>
                                                {{ ui.en ? feature.en : feature.ch }}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div ng-if="listing.sorted.locationFeatures.length > 0">
                        <h5 class="detailed-listing-panel-title">{{ ui.en ? 'Convenience' : '便利条件' }}:</h5>
                        <div class="detailed-listing-panel-detail-tag" ng-repeat="feature in listing.sorted.locationFeatures">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <gk-sprite class="detailed-listing-panel-detail-tag-img" ui="ui" name="feature.name" ar="1"></gk-sprite>
                                        </td>
                                        <td>
                                            <p>
                                                {{ ui.en ? feature.en : feature.ch }}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                <div ng-if="listing.sorted.extraFeatures.length > 0">
                    <h5 class="detailed-listing-panel-title">{{ ui.en ? 'Extra features' : '其它特点' }}:</h5>
                    <div class="detailed-listing-panel-detail-tag" ng-repeat="feature in listing.sorted.extraFeatures">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <gk-sprite class="detailed-listing-panel-detail-tag-img" ui="ui" name="feature.name" ar="1"></gk-sprite>
                                        </td>
                                        <td>
                                            <p>
                                                {{ ui.en ? feature.en : feature.ch }}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
                    
                <div ng-if="listing.inspections.length > 0">
                    <h5 class="detailed-listing-panel-title">{{ ui.en ? 'Inspection times' : '开放看房时间' }}:</h5>
                    <div class="detailed-listing-panel-inspection" ng-repeat="ins in inspectionTimes">
                        <div>
                            <p class="gk-nopadding">{{ ui.en ? ins.en : ins.ch }}</p>
                        </div>
                        <div ng-click="toggleInspectionReminder(ins)" ng-class="{'detailed-listing-panel-inspection-active':ins.reminderSet}">
                            <img src="/resources/reminder-icon.png">
                            <div class="detailed-listing-panel-inspection-info">
                                {{ ins.reminderSet ? (ui.en ? 'Remove reminder':'删除提醒') : (ui.en ? 'Set reminder':'设置提醒') }}
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <gk-user-public-profile ng-if="layout==1" acc="acc" ui="ui" listing="listing"></gk-user-public-profile>
        </div>
        <div ng-if="layout==2" class="detailed-listing-panel-right">
            <gk-user-public-profile acc="acc" ui="ui" listing="listing"></gk-user-public-profile>
        </div>
    </div>
</div>