<div class="gk-nopadding gk-relative">

    <div class="listings-head">
        <div>
            <h3 class="gk-nopadding">{{
                ui.en ? 
                'Properties for sale in ' + (queryParams.suburbs.length > 0 ? ' "' + toCapitalCase(queryParams.suburbs[0]) + '" ': 'Australia') : 
                '在' + (queryParams.suburbs.length > 0 ? ' "' + toCapitalCase(queryParams.suburbs[0]) + '" ': '澳大利亚') + '待售房产' }}
            </h3>
        </div>
    
        <div ng-if="showSortOrder" class="listing-panel-head">
            <select class="gk-input gk-input-medium gk-select"
                    ng-model="orderParams.orderBy"
                    ng-change="onReorderRequest(orderParams.orderBy)"
                    ng-init="orderParams.orderBy = orderParams.orderBy || static.sortTypes[0].en">
    
                <option class="gk-option" ng-repeat="type in static.sortTypes" value="{{type.en}}">
                    {{ui.en ? type.en : type.ch}}
                </option>
            </select>
        </div>
    </div>

    <table id="listing-panel-contain">
        <tbody>
            <tr ng-repeat-start="row in listingPanels">
                <td ng-repeat="listing in row" ng-style="{ width: (100/ui.nCol).toFixed(0) +'%' }" class="gk-relative listing-panel-cell">
                    <gk-listing-panel ui="ui" acc="acc" listing="listing" methods="methods" controls="gui.controls"></gk-listing-panel>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="ui.currDetailedPanelId == $index">
                <td colspan="{{ui.nCol}}">

                    <!-- Run a separate table for the triangle -->
                    <table class="detailed-listing-panel-top">
                        <tbody>
                            <tr>
                                <td ng-repeat="i in getArray(ui.nCol) track by $index" ng-style="{ 'width': 100 / ui.nCol + '%' }">
                                    <div ng-if="listings[ui.currSelectedPanelId].id == row[$index].id" class="detailed-listing-panel-pointer-wrapper">
                                        <!-- outer arrow -->
                                        <div></div>
                                        <!-- inner arrow -->
                                        <div></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <gk-detail-listing-panel ui="ui" gui="gui" acc="acc" listing="listings[ui.currSelectedPanelId]" 
                        methods="methods" shown="ui.currDetailedPanelId == $index"></gk-detail-listing-panel>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="loadMore" class="listing-panel-foot">
        <div ng-if="!allListingsFetched">
            <div style="width:2.5em; margin:0.6em auto">
                <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
            </div>
            <div class="gk-padding">{{ui.en ? 'Loading more...' : '请耐心等待...' }}</div>
        </div>
        <div ng-if="allListingsFetched">
            {{ ui.en ? 'No more listings to show. Come back later for more!' : '没有更多的房源显示。稍后回来再来！' }}
        </div>
    </div>

</div>