<div ng-if="listings.length > 0">

    <div class="gk-ul-panel-wrap gk-padding" ng-style="{ width: (100 / ui.nCol).toFixed(0) +'%' }">
        
        <div ng-if="type == 'm'">
            <h3>My Listings</h3>
            <div class="gk-ul-description">
                <p>{{(listings == null||listings==0) ? 'You have no' : 'Showing ' + listings.length }} 
                    currently active listings. Click <a href ng-click="ui.currMainDisplay = 'postlisting'">here</a> to post a new listing.</p>
            </div>
        </div>
        <div ng-if="type == 'w'">
            <h3>My wishlist</h3>
            <div class="gk-ul-description">
            <p>{{ (listings == null || listings.length == 0) ? 'Your wishlist is currently empty.' : 'Showing ' + listings.length + ' properties.'}}</p>
            </div>
        </div>

        <div ng-repeat="listing in listings | orderBy : (ordering.en == 'Newest first' ? listing.postingdate : -listing.postingdate)" class="gk-relative">
            <gk-listing-panel ui="ui" listing="listing" methods="methods" controls="gui.controls"></gk-listing-panel>
            <div ng-if="selectedListing.id == listing.id" class="gk-ul-pointer"></div>
            <div ng-if="selectedListing.id == listing.id" class="gk-ul-pointer-inner"></div>
        </div>
    </div>

    <div ng-if="ui.nCol > 1" id="gk-ul-detail" 
        ng-style="{ 'top': ui.detailedPanel2.top, 'left': ui.detailedPanel2.left, 'height': ui.detailedPanel2.height, 'width': ui.detailedPanel2.width }">

        <div class="gk-ul-detail-inner">
            <gk-user-listing-panel ng-if="selectedListing != undefined" 
                ui="ui" acc="acc" listing="selectedListing" gui="gui" methods="methods" lmethods="lmethods" type="type"></gk-user-listing-panel>
        </div>
    </div>
</div>

<!-- Placeholders -->
<table ng-if="!(listings.length > 0)" class="gk-ul-placeholder">
    <tbody>
        <tr>
            <td ng-if="type == 'm'">
                <div style="width:6.25em;margin:0 auto">
                    <gk-sprite ui="ui" name="'i_mag_large'" ar="1"></gk-sprite>
                </div>
                <h5 class="gk-padding-vertical" style="margin:0">{{ ui.en ? 'You have no currently active listings.' : '您目前没有有效的商家信息。' }}</h5>
                <button class="gk-button-small" ng-click="ui.currMainDisplay = 'postlisting'">{{ ui.en ? 'Post a listing' : '发布一个列表' }}</button>
            </td>
            <td ng-if="type == 'w'">
                <div style="width:6.25em;margin:0 auto">
                    <gk-sprite ui="ui" name="'i_mag_large'" ar="1"></gk-sprite>
                </div>
                <h5 class="gk-padding-vertical" style="margin:0">{{ ui.en ? 'Your wishlist is currently empty.' : '您的监视列表目前是空的。' }}</h5>
                <button class="gk-button-small" ng-click="ui.currMainDisplay = 'listings'">{{ ui.en ? 'Browse listings' : '浏览列表' }}</button>
            </td>
        </tr>
    </tbody>
</table>