<div id="listing{{listing.id}}" class="listing-panel" ng-class="{ 'listing-panel-mob': ui.isMobileDevice }" ng-click="stopGalleryAnimation(); controls.showDetailedPanel(listing);"
        ng-mouseenter="startGalleryAnimation()" ng-mouseleave="stopGalleryAnimation()">

    <!-- Banner -->
    <div ng-if="listing.agency != null" class="listing-panel-banner" ng-style="{ 'background-color': listing.agency.hex }"><!--
        --><img ng-src="/images/{{listing.agency.lid}}"><!--
--></div>

    <!-- Backup banner - if private listing -->
    <div ng-if="listing.agency == null" class="listing-panel-banner">
        <h5 class="gk-nopadding">{{ ui.en ? 'Private Listing' : '私人上市' }}</h5>
    </div>

    <!-- Middle of main panel -->
    <div class="listing-panel-padding">
        <img class="listing-panel-ribbon" ng-if="listing.ltype == 'Sold'" ng-src="{{ui.en ? '/resources/ribbon_sold_en.png' : '/resources/ribbon_sold_ch.png'}}">
        <img class="listing-panel-ribbon" ng-if="listing.ltype == 'Under offer'" ng-src="{{ui.en ? '/resources/ribbon_underoffer_en.png' : '/resources/ribbon_underoffer_ch.png' }}">
        <img class="listing-panel-ribbon" ng-if="isnew(listing)" ng-src="{{ui.en ? '/resources/ribbon_new_en.png' : '/resources/ribbon_new_ch.png' }}">
    
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <!-- Image -->
                    <td>
                        <div ng-if="listing.imageIds.length > 0" class="listing-panel-main-img-wrap">
                            <!-- loading classes -->
                            <div ng-if="!listing.hidePreloader">
                                <div class="listing-panel-main-img gk-blur-wrap">
                                    <img class="gk-blur" data-ng-src="data:image/png;base64,{{listing.imageIds[0].t}}">
                                </div>
                            </div>
                            
                            <img class="listing-panel-main-img fade" 
                                ng-animate-swap="listing.currDisplayedImage" 
                                ng-src="{{listing.currDisplayedImage}}"
                                image-onload>
                            
                            <div ng-if="listing.inspections.length > 0" class="listing-panel-inspection">
                                <strong>Open </strong>{{ formatDate(listing.inspections[0].start) }}
                            </div>
                        </div>

                        <!-- fallback in case no image -->
                        <div ng-if="!(listing.imageIds.length > 0)" class="listing-panel-main-img-wrap">
                            <img class="listing-panel-main-img fade" src="/resources/house-placeholder.png">
                        </div>
                    </td>
                    <!-- Features -->
                    <td class="listing-panel-feature-contain" ng-class="{ 'listing-panel-feature-contain-mob': ui.isMobileDevice }">
                        <table class="listing-panel-feature-tbl">
                            <tbody>
                                <tr ng-repeat="feature in getFeatures(listing.mainfeatures)">
                                    <td class="listing-panel-feature-sym">
                                        <gk-sprite class="listing-panel-feature-icon" ui="ui" name="feature.name" ar="1"></gk-sprite>
                                        
                                        <!-- Description -->
                                        <div class="listing-panel-desc fade">
                                            <p class="gk-nopadding">{{ ui.en ? feature.en : feature.ch }}</p>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </td>

                                    <td class="listing-panel-feature-value">
                                        <p class="gk-nopadding">{{ feature.v }}</p>
                                        <p ng-if="getFeatureDisplayUnits(feature).length > 0" class="gk-nopadding small-p">
                                            {{ getFeatureDisplayUnits(feature) }}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bottom of main panel -->
    <div class="listing-panel-bottom" id="listing-bottom-{{listing.id}}">
        <div class="listing-panel-price">
            <div class="listing-panel-price-icon">{{ getListingType(listing) }}</div>
            <div class="listing-panel-price-value">{{ (ui.en ? listing.price.en : listing.price.ch) }}</div>

            <div class="listing-panel-price-details" ng-if="!ui.en && listing.price.cny != undefined">
                <div class="listing-panel-price-arrow">
                    <div class="gk-arrow-outer"></div>
                    <!--Outer-->
                    <div class="gk-arrow-inner"></div>
                    <h5>&asymp; {{ listing.price.cny }}</h5>
                    <p class="gk-nopadding">
                        {{ '根据转换率: CNY/AUD = ' + listing.price.rate.toFixed(3) }}
                    </p>
                </div>
            </div>
        </div>

        <div style="height:1.5em; overflow:hidden; width:100%">
            <h4 class="listing-panel-address">{{listing.address.street + ', ' + listing.address.suburb + ', ' + listing.address.state + ' ' + listing.address.postcode }}</h4>
        </div>
        
        <!-- wishlist star -->
        <div class="listing-panel-wishlist-star-wrap">
            <div class="listing-panel-icon">
                <gk-sprite ng-if="!inWishlist(listing.id)" ng-click="methods.addToWishlist(listing); $event.stopPropagation()"
                    ui="ui" name="'f_wl'" ar="1"></gk-sprite>
                <gk-sprite ng-if="inWishlist(listing.id)" ng-click="methods.removeFromWishlist(listing); $event.stopPropagation()"
                    ui="ui" name="'f_wl_sel'" ar="1"></gk-sprite>
            </div>
            <div class="listing-panel-desc fade">
                <p class="gk-nopadding">{{ !inWishlist(listing.id) ?
                    (ui.en ? 'Add to my wishlist' : '加入我的最爱') :
                    (ui.en ? 'Remove from my wishlist' : '从我的收藏中删除')}}</p>
                <div></div>
                <div></div>
            </div>
        </div>

        <!-- chat icon -->
        <div class="listing-panel-chat-wrap">
            <div class="listing-panel-icon">
                <gk-sprite ng-click="ui.chatbox.listing = listing; $event.stopPropagation()" ui="ui" name="'f_chat'" ar="1"></gk-sprite>
            </div>
            <div class="listing-panel-desc fade">
                <p class="gk-nopadding">{{ ui.en ? 'Message agent' : '信息咨询' }}</p>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>