<table ng-if="ui.topElement == 'login'" class="login-form-background-mask fade" ng-click="ui.topElement = null; ui.login.customMsg = null;">
    <tbody>
        <tr>
            <td>
                <div id="loginForm" ng-class="{ 'loginForm-mob': ui.isMobileDevice }" ng-init="resetLoginForm()" ng-click="$event.stopPropagation()">

                    <div class="gk-padding">
                        <div>
                            <div class="loginHeader" ng-click="ui.loginView = 'login';" ng-class="{'loginHeader-selected': ui.loginView == 'login'}">
                                <strong>{{ui.en ? 'Login' : '登录'}}</strong>
                            </div>
                            <div class="loginHeader" ng-click="ui.loginView = 'signup';" ng-class="{'loginHeader-selected': ui.loginView == 'signup'}">
                                <strong>{{ui.en ? 'Sign up' : '注册帐户'}}</strong>
                            </div>
                        </div>

                        <!-- Signup -->
                        <div ng-if="ui.loginView == 'signup'">
                            <div>
                                <p> {{ ui.en ? 'Make an account to add properties to your watchlist, post advertisements, and more' : 
                                    '建立一个帐户，将属性添加到您的监视列表，发布广告等' }}</p>
                                <form class="gk-nopadding">
                                    <table class="signup-acc-name-tbl">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <p>{{ui.en ? 'Your email' : '电子邮件地址'}}:</p>
                                                    <input type="text" name="nuEmail" class="gk-input gk-input-large" ng-model="newuser.email" required>
                                                </td>
                                            </tr>

                                            <!-- English name -->
                                            <tr ng-if="ui.en">
                                                <td style="padding-right: 5px">
                                                    <p>First name</p>
                                                    <input type="text" name="nuFirstname" class="gk-input gk-input-large" ng-model="newuser.firstname" required>
                                                </td>
                                                <td style="padding-left: 5px">
                                                    <p>Last name</p>
                                                    <input type="text" name="nuLastname" class="gk-input gk-input-large" ng-model="newuser.lastname" required>
                                                </td>
                                            </tr>
                                            <!-- Chinese name -->
                                            <tr ng-if="!ui.en">
                                                <td colspan="2">
                                                    <p>名字:</p>
                                                    <input type="text" name="nuFirstname" class="gk-input gk-input-large" ng-model="newuser.firstname" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p>{{ ui.en ? 'Please choose a strong password' : '选择一个密码'}}:</p>
                                                    <input type="password" name="nuPass" class="gk-input gk-input-large" ng-model="newuser.pass" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="g-recaptcha" data-sitekey="6LdURZoUAAAAAFI57O8dserUBOlmak4YEdgFWTF7"></div>
                                                </td>
                                            </tr>

                                            <tr ng-if="ui.login.signupResult.msg.en != null" class="fade">
                                                <td colspan="2">
                                                    <p class="loginMessage fade"><strong>{{ui.en ? ui.login.signupResult.msg.en : ui.login.signupResult.msg.ch}}</strong></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <button type="submit" value="Submit" class="gk-green-btn" id="signupBtn" ng-click="signup(newuser)">
                                                        <div ng-if="!lui.signingIn">{{ui.en ? 'Create account' : '注册帐户'}}</div>
                                                        <div ng-if="lui.signingIn" style="width: 2em; margin: 0 auto">
                                                            <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                                                        </div>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>

                        <div ng-if="ui.loginView == 'login'">

                            <p ng-if="ui.login.customMsg.en.length > 0" class="login-custom-msg">
                                {{ ui.en ? ui.login.customMsg.en : ui.login.customMsg.ch }}
                            </p>

                            <form class="gk-nopadding">
                                <p>{{ui.en ? 'Email' : '邮件'}}</p>
                                <input type="text" name="luEmail" class="gk-input gk-input-large" ng-model="loginuser.email" required>

                                <p>{{ui.en ? 'Password' : '密码'}}</p>
                                <input type="password" name="luPass" class="gk-input gk-input-large" ng-model="loginuser.pass" required>
                                <p ng-if="ui.login.result.msg.en != null" class="loginMessage fade">
                                    <strong>{{ui.en ? ui.login.result.msg.en : ui.login.result.msg.ch}}</strong>
                                </p>

                                <div ng-if="ui.en">
                                    <p>Forgot your password? Please <a href="#" ng-click="ui.loginView = 'forgotpass'">click here</a>.</p>
                                    <p>Don't have an account? Sign up <a href="#" ng-click="ui.loginView = 'signup'">here</a></p>
                                </div>
                                <div ng-if="!ui.en">
                                    <p>忘记密码了吗？ 请<a href="#" ng-click="ui.loginView = 'forgotpass'">重设密码</a>.</p>
                                    <p>没有账号？ 请<a href="#" ng-click="ui.loginView = 'signup'">注册一个帐号.</a></p>
                                </div>

                                <button type="submit" value="Submit" class="gk-green-btn" ng-click="login(loginuser); ui.login.customMsg = null;">
                                    <div ng-if="!lui.loggingIn">{{ ui.en ? 'Login' : '登录' }}</div>
                                    <div ng-if="lui.loggingIn" style="width: 2em; margin: 0 auto">
                                        <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                                    </div>
                                </button>
                            </form>
                        </div>

                        <div ng-if="ui.loginView == 'forgotpass'">
                            <div>
                                <h4 style="margin-bottom: 0">{{ ui.en ? 'Recover your password' : '找回密码' }}</h4>
                                <form class="gk-nopadding">
                                    <p>{{ui.en ? 'Please enter your email address' : '请输入您的电子邮件地址'}}</p>
                                    <input type="text" name="femail" class="gk-input gk-input-large" ng-model="passrecovery.email" required>
                                    
                                    <!-- Stage 1 -->
                                    <div ng-if="!ui.login.recoveryEmailSent">
                                        <p ng-if="passrecovery.msg.en != null" class="loginMessage fade">
                                            <strong>{{ui.en ? passrecovery.msg.en : passrecovery.msg.ch}}</strong>
                                        </p>
                                        <button type="submit" value="Submit" class="gk-green-btn" ng-click="sendPasswordRecoveryEmail(passrecovery)">
                                            <div ng-if="!ui.login.recoveryEmailSending">{{ ui.en ? 'Submit' : '输入'}}</div>
                                            <div ng-if="ui.login.recoveryEmailSending" style="width: 2em; margin: 0 auto">
                                                <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                                            </div>
                                        </button>
                                    </div>

                                    <!-- Stage 2: enter email code -->
                                    <div ng-if="ui.login.recoveryEmailSent">
                                        <p>{{ ui.en ? 'Please check your email inbox. We have sent you a 6-digit code.' : '请检查您的电子邮件收件箱。我们已经发送了一个6位数的代码。' }}</p>
                                        
                                        <p>{{ui.en ? 'Enter a new password' : '输入一个新的密码'}}</p>
                                        <input type="password" name="fpass" class="gk-input gk-input-large" ng-model="passrecovery.pass" required>
    
                                        <p>{{ui.en ? 'Please enter your 6-digit code (found in your email)' : '请输入您的6位数密码（可在电子邮件中找到）'}}</p>
                                        <input type="text" name="passwordRecoveryCode" class="gk-input gk-input-large" ng-model="passrecovery.code" required>
                                        
                                        <p ng-if="passrecovery.msg.en != null" class="loginMessage fade">
                                            <strong>{{ui.en ? passrecovery.msg.en : passrecovery.msg.ch}}</strong>
                                        </p>
                                        <button type="submit" value="Submit" class="gk-green-btn" ng-click="submitPassword(passrecovery)">
                                            <div ng-if="!ui.login.recoveryEmailSending">{{ ui.en ? 'Submit' : '输入'}}</div>
                                            <div ng-if="ui.login.recoveryEmailSending" style="width: 2em; margin: 0 auto">
                                                <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>