<div class="map-search-wrapper">

    <table class="map-loading-pane" style="height: 100%; width: 100%; text-align: center; color: #003333"><tbody><tr><td>
        <div style="width:3em; margin: 0 auto">
            <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
        </div>
        <div class="gk-padding">
            {{ ui.en ? 'Please wait while map loads...' : '地图加载时请等待...' }}
        </div>
    </td></tr></tbody></table>

    <div class="map-pane">

        <table class="map-search"><tbody><tr>
            <td class="map-search-cell">
                <h3 class="gk-nopadding">{{ui.en ? 'Click and drag your mouse to move the map' : '单击并拖动鼠标以移动地图' }}</h3>
            </td>
            <td class="map-search-cell">
                <button class="gk-green-btn map-search-btn" ng-click="search()">
                    <table><tbody><tr>
                        <td>
                            <div>
                                <gk-sprite ui="ui" name="'i_mag'" ar="1"></gk-sprite>
                            </div>
                        </td>
                        <td>
                            <h5 ng-if="!searching" class="gk-nopadding">{{ui.en ? 'Search in this area' : '在这个区域搜索' }}</h5>
                            <div ng-if="searching" style="width: 2em; margin-left: 1em">
                                <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                            </div>
                        </td>
                    </tr></tbody></table>
                </button>
            </td>
        </tr></tbody></table>
        <div id="mapSearchMain"></div>
    </div>
</div>