<form ng-if="!newlist.result.iscomplete" class="gk-padding" ng-class="{ 'new-listing-mob': ui.isMobileDisplay() || ui.size.width < 1080 }">
    <h3 style="text-align:center">{{newlist.userMode == 'edit' ? 'Edit your listing' : 'Post a new listing'}}</h3>
    
    <div ng-show="!displayForm && newlist.userMode != 'edit'">

        <!-- 1-click listing -->
        <div class="new-listing-front-1click-wrap">
            <h5 class="gk-nopadding">List with just 1 click!</h5>
            <p style="color:#999999">Got an existing listing on a website? Paste your link below and let us do the work for you 
                <a class="hover-pointer" 
                    ng-mouseleave="newlist.show1clickListingExplain=false" 
                    ng-mouseover="newlist.show1clickListingExplain=true">[?]</a></p>

            <table><tbody>
                <tr>
                    <td colspan="2">
                        <div class="gk-slidedown-wrap" ng-class="{'gk-slidedown-wrap-show': newlist.show1clickListingExplain }">
                            <div class="new-listing-explain-well" style="color:#003333">
                                <p class="gk-nopadding">
                                    Our automated web crawler will attempt to fill out this form as much as possible, 
                                    using the public information you have provided on the internet.
                                </p>
                                <br>
                                <p class="gk-nopadding">
                                    By using this service you confirm ownership of the relevant data supplied in the link, 
                                    and authorise us to read, reorganise and redistribute this data.
                                    To protect your privacy, we will never store, process or distribute data outside of the confines of this listing.
                                    For more information, please read our terms and conditions.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="entry-first" style="width:100%">
                        <input type="text" ng-model="newlist.link" class="gk-input gk-input-large" placeholder="Paste the link to your listing here">
                    </td>
                    <td class="entry-last">
                        
                        <button class="new-listing-urllink-btn gk-nofocus" ng-click="submitLink(newlist.link)">
                            <div ng-if="!loading1clickListing">Go!</div>
                            <div ng-if="loading1clickListing" style="width: 2em; margin: 0 auto">
                                <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                            </div>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:0.6em 0 0 0">
                        <p class="loginMessage fade" style="text-align:left; white-space:pre-line" ng-if="newlist.result1clickListing.length > 0">{{ newlist.result1clickListing }}</p>
                        <gk-progress-bar ng-show="progressBar.show" state="progressBar.state" description="progressBar.description"></gk-progress-bar>
                    </td>
                </tr>
            </tbody></table>
        </div>
        
        <!-- Separator -->
        <div class="new-listing-separator">
            <div>OR</div>
        </div>
        
        <div class="new-listing-front-btn-wrap">
            <button class="new-listing-urllink-btn" style="padding: 0.7em 2em; height:auto" ng-click="displayForm = true">
                <div style="width: 1.5em; margin-right: 1em">
                    <gk-sprite class="header-menu-item-icon-wrap" ui="ui" name="'i_signup'" ar="1"></gk-sprite>
                </div>
                <div>{{ ui.en ? 'Let me fill out the form myself' : 'Let me fill out the form myself' }}</div>
            </button>
        </div>
    </div>

    <!-- The form itself -->
    <div ng-show="displayForm || newlist.userMode == 'edit'" class="gk-relative">

        <div ng-show="displayForm" class="gk-green-btn-sml new-listing-back-btn" ng-click="displayForm = false">
            < Back
        </div>

        <!-- start flex row -->
        <div class="gk-nopadding new-listing-flex-grid" ng-class="{ 'new-listing-flex-grid-mob': ui.isMobileDisplay() }">
            <div>
                <div class="new-listing-well" ng-class="{'new-listing-well-complete': newlist.ltype != undefined }">
                    <div ng-if="newlist.ltype != undefined" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">Type of listing</h5>
                    <p class="new-listing-label">Please select the type of this listing:</p>
                    <select name="listingtype" 
                            ng-model="newlist.ltype" 
                            class="gk-input gk-select"
                            ng-init="newlist.ltype = static.listingTypes[0]"
                            ng-options="getListingTypeDisplay(type) for type in static.listingTypes">
                        <option></option>
                    </select>
                </div>

                <div class="new-listing-well" ng-class="{'new-listing-well-complete': complete.address }">
                    <div ng-if="complete.address" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">{{ ui.en ? 'Address' : '地址' }}</h5>
                    <table><tbody>
                        <tr>
                            <td colspan="3">
                                <p class="new-listing-label">Street address</p>
                                <input type="text" name="street" class="gk-input" ng-model="newlist.address.street">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50%" class="entry-first">
                                <p class="new-listing-label">Suburb</p>
                                <input type="text" name="suburb" class="gk-input" ng-model="newlist.address.suburb">
                                <gk-suggestions listening="newlist.address.showSuggestions" chosen="newlist.address.chosenSuburb" query="newlist.address.suburb" theme="'l'"></gk-suggestions>
                            </td>
                            <td style="width:25%" class="entry">
                                <p class="new-listing-label">State</p>
                                <select name="state" class="gk-input gk-select" 
                                        ng-model="newlist.address.state"
                                        ng-init="newlist.address.state = newlist.address.state || getActualStates(static.states)[0].en">
                                    <option class="gk-option" ng-repeat="state in getActualStates(static.states)" value="{{state.en}}">
                                        {{ui.en ? state.en : state.ch}}
                                    </option>
                                </select>
                            </td>
                            <td style="width:25%" class="entry-last">
                                <p class="new-listing-label">Post code</p>
                                <input type="number" name="postcode" min="0" class="gk-input" ng-model="newlist.address.postcode" ng-change="checkAddressCompleted()">
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <div class="new-listing-well" ng-if="userInitiatedAddress(newlist)"
                    ng-class="{'new-listing-well-complete': newlist.address.mapSaved }">
                    
                    <div ng-if="newlist.address.mapSaved" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">Map</h5>
                    <p ng-if="newlist.address.msg != null">{{newlist.address.msg}}</p>
                    <div class="gk-padding-vertical">
                        <button class="gk-button-small" ng-click="searchGoogleMaps(newlist)">Search for my address</button>
                    </div>

                    <!-- results -->
                    <div ng-if="newlist.address.mapSrc != null">
                        <iframe
                            class="new-listing-gm-iframe"
                            frameborder="0" 
                            scrolling="no" 
                            marginheight="0" 
                            marginwidth="0" 
                            ng-src="{{methods.trustAsResourceUrl(newlist.address.mapSrc)}}">
                        </iframe>
                        <div ng-if="!newlist.address.mapSaved" class="gk-padding-vertical">
                            <button class="gk-button-small" ng-click="newlist.address.mapSaved=true">Yes, this is me!</button>
                            <button class="gk-button-small" ng-click="newlist.address.mapSrc=null" style="margin-left: 0.3em" >No, let me enter a different address</button>
                        </div>
                    </div>
                </div>

                <div class="new-listing-well" ng-class="{'new-listing-well-complete': complete.price }">

                    <div ng-if="complete.price" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>
                    
                    <h5 class="gk-nopadding">Price</h5>

                    <p class="new-listing-label">Display price {{ newlist.ltype.k == 'Lease' ? '(per week) ' : ''}}<a class="hover-pointer" 
                            ng-mouseleave="newlist.showPriceDescriptionExplain=false" 
                            ng-mouseover="newlist.showPriceDescriptionExplain=true">[?]</a></p>
                    <div class="gk-slidedown-wrap" ng-class="{ 'gk-slidedown-wrap-show': newlist.showPriceDescriptionExplain }">
                        <div class="new-listing-explain-well">
                            <p class="gk-nopadding">Please provide a listing price (E.g. "From $499,000", "Auction"). This is the price that will be revealed to buyers.</p>   
                            <p ng-if="ui.en" class="gk-nopadding"><br>Your display price will be automatically translated to Chinese.</p>   
                        </div>
                    </div>
                    
                    <table>
                        <tbody>
                            <tr>
                                <td class="entry-first" style="width:33%">
                                    <select name="pricetype" class="gk-input gk-select" ng-model="newlist.pricedescriptiontype" 
                                            ng-init="newlist.pricedescriptiontype = newlist.pricedescriptiontype || 'Fixed price'">
                                        <option class="gk-option" ng-repeat="option in static.priceDescriptionTypes" value="{{option.en}}">
                                            {{ ui.en ? option.en : option.ch }}
                                        </option>
                                    </select>
                                </td>
                                <td class="entry-last" style="width:67%">
                                    <div ng-if="newlist.pricedescriptiontype != null && 
                                                newlist.pricedescriptiontype != 'Between' &&
                                                newlist.pricedescriptiontype != 'Auction' &&
                                                newlist.pricedescriptiontype != 'Contact agent' &&
                                                newlist.pricedescriptiontype != 'All offers'">
                                        <input type="number" name="pricedesc" min="0" class="gk-input" ng-model="newlist.pricedescription" placeholder="{{ui.en ? 'Price ($)' : '价钱 ($)'}}">
                                    </div>
                                    <div ng-if="newlist.pricedescriptiontype == 'Between'">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="entry-first"><input type="number" name="pricedesc1" min="0" class="gk-input" ng-model="newlist.pricedescription1" placeholder="{{ui.en ? 'Min ($)' : '最低 ($)'}}"></td>
                                                    <td class="entry-last"><input type="number" name="pricedesc2" min="0" class="gk-input" ng-model="newlist.pricedescription2" placeholder="{{ui.en ? 'Max ($)' : '最高 ($)'}}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-show="priceTranslation.length > 0">{{'Your display price will be translated to mean: "' + priceTranslation + '"'}}</p>

                    <div ng-if="newlist.pricedescriptiontype == null || newlist.pricedescriptiontype == 'Auction' ||
                                newlist.pricedescriptiontype == 'Contact agent' || newlist.pricedescriptiontype == 'All offers'">

                        <p class="new-listing-label">Indicative Price {{ newlist.ltype.k == 'Lease' ? '(per week) ' : '' }}
                            <a class="hover-pointer" 
                                ng-mouseleave="newlist.showIndicativePriceExplain=false" 
                                ng-mouseover="newlist.showIndicativePriceExplain=true">[?]</a></p>
        
                        <div class="gk-slidedown-wrap" ng-class="{ 'gk-slidedown-wrap-show': newlist.showIndicativePriceExplain }">
                            <div class="new-listing-explain-well">
                                <p class="gk-nopadding">Please provide an indicative price so we can match your listing to the right buyers.</p>
                                <br>
                                <p class="gk-nopadding">This price will never be revealed to potential buyers. However, if a user specifies a price range when searching 
                                    for a property, our system will only include properties whose indicative price lies within that range.
                                </p>
                            </div>
                        </div>
                        
                        <input type="number" name="price" min="0" class="gk-input" ng-model="newlist.pricedescription" placeholder="$">
                    </div>

                </div>
                
                <div class="new-listing-well" ng-class="{'new-listing-well-complete': complete.homeFeatures }">
                    <div ng-if="complete.homeFeatures" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">Features</h5>
                    <table><tbody>
                        <tr>
                            <td class="entry-first">
                                <p class="new-listing-label">Bedrooms</p><input type="number" name="beds" min="0" class="gk-input" ng-model="newlist.features['Bedrooms']">
                            </td>
                            <td class="entry">
                                <p class="new-listing-label">Bathrooms</p><input type="number" name="baths" min="0" class="gk-input" ng-model="newlist.features['Bathrooms']">
                            </td>
                            <td class="entry-last">
                                <p class="new-listing-label">Car spaces</p><input type="number" name="cars" min="0" class="gk-input" ng-model="newlist.features['Garages']">
                            </td>
                        </tr>
                        <tr>
                            <td class="entry-first">
                                <p class="new-listing-label">Type of residence</p>
                                <select class="gk-input gk-select" name="propertytype" ng-model="newlist.type" ng-init="newlist.type = newlist.type || static.propertyTypes[1].en">
                                    <option class="gk-option" ng-repeat="type in static.propertyTypes" ng-if="type != 'Any'" value="{{type.en}}">{{type.en}}</option>
                                </select>
                            </td>
                            <td class="entry">
                                <p class="new-listing-label">Land area (m²)</p><input type="number" name="lndsize" min="0" class="gk-input" ng-model="newlist.features['LandArea']">
                            </td>
                            <td class="entry-last">
                                <p class="new-listing-label">Building area (m²)</p><input type="number" name="flrsize" min="0" class="gk-input" ng-model="newlist.features['BuildingArea']">
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="entry-first">
                                <div>
                                    <input type="checkbox" name="isnew" class="new-listing-checkbox" ng-checked="newlist.features['IsNew']" ng-click="newlist.features['IsNew']=true"><p class="new-listing-label" style="display:inline-block">New home</p>
                                </div>
                                <div>
                                    <input type="checkbox" name="isold" class="new-listing-checkbox" ng-checked="!newlist.features['IsNew']" ng-click="newlist.features['IsNew']=false"><p class="new-listing-label" style="display:inline-block">Existing home</p>
                                </div>
                            </td>
                            <td class="entry">
                                
                            </td>
                            <td>
                                <div class="gk-green-btn-sml" ng-click="toggleGetFeatures()">
                                    {{ ui.en ? 
                                        (ui.shown.postListingFeatures ? 'Show less' : 'Add more features') :
                                        (ui.shown.postListingFeatures ? '显示较少' : '显示更多特点')
                                    }}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ui.shown.postListingFeatures" class="fade">
                            <td colspan="3">
                                <h5 class="new-listing-feature-header">Property Features</h5>
                                <div ng-if="!(features.property.length > 0)" class="new-listing-feature-loader fade">
                                    <div style="width:1.5em; margin:0 auto">
                                        <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
                                    </div>
                                </div>
                                <div ng-repeat="f in features.property" class="new-listing-feature">
                                    <div ng-if="f.type == 'double'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <input type="number" name="{{ '_' + f.name  }}" min="{{f.min}}" max="{{f.max}}" step="{{f.step}}" class="gk-input" ng-model="newlist.features[f.name]">
                                    </div>

                                    <div ng-if="f.type == 'boolean'">
                                        <table class="new-listing-checkbox-item"
                                                ng-click="newlist.features[f.name] = !newlist.features[f.name]"><tbody><tr>
                                            <td>
                                                <div class="new-listing-checkbox" 
                                                    ng-class="{'new-listing-checkbox-selected': newlist.features[f.name] }">

                                                    <div class="new-listing-checkbox-checkmark" ng-if="newlist.features[f.name]"></div>
                                                </div>
                                            </td>
                                            <td class="gk-fullwidth">
                                                <p>{{ ui.en ? f.display.en : f.display.ch }}</p>
                                            </td>
                                        </tr></tbody></table>
                                    </div>

                                    <div ng-if="f.type == 'enum'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <select name="{{ '_' + f.name }}" class="gk-input gk-select" ng-model="newlist.features[f.name]">
                                            <option class="gk-option" ng-repeat="v in f.values" value="{{v.en}}">
                                                {{ui.en ? v.en : v.ch}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <h5 class="new-listing-feature-header">Rooms</h5>
                                <div ng-if="!(features.rooms.length > 0)" class="new-listing-feature-loader fade">
                                    <div style="width:1.5em; margin:0 auto">
                                        <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
                                    </div>
                                </div>
                                <div ng-repeat="f in features.rooms" class="new-listing-feature">
                                    <div ng-if="f.type == 'double'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <input type="number" name="{{ '_' + f.name  }}" min="{{f.min}}" max="{{f.max}}" step="{{f.step}}" class="gk-input" ng-model="newlist.features[f.name]">
                                    </div>

                                    <div ng-if="f.type == 'boolean'">
                                        <table class="new-listing-checkbox-item" ng-click="newlist.features[f.name] = !newlist.features[f.name]"><tbody><tr>
                                            <td>
                                                <div class="new-listing-checkbox" ng-class="{'new-listing-checkbox-selected': newlist.features[f.name] }">
                                                    <div class="new-listing-checkbox-checkmark" ng-if="newlist.features[f.name]"></div>
                                                </div>
                                            </td>
                                            <td class="gk-fullwidth">
                                                <p>{{ ui.en ? f.display.en : f.display.ch }}</p>
                                            </td>
                                        </tr></tbody></table>
                                    </div>

                                    <div ng-if="f.type == 'enum'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <select name="{{ '_' + f.name }}" class="gk-input gk-select" ng-model="newlist.features[f.name]">
                                            <option class="gk-option" ng-repeat="v in f.values" value="{{v.en}}">
                                                {{ui.en ? v.en : v.ch}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <h5 class="new-listing-feature-header">Location</h5>
                                <div ng-if="!(features.location.length > 0)" class="new-listing-feature-loader fade">
                                    <div style="width:1.5em; margin:0 auto">
                                        <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
                                    </div>
                                </div>
                                <div ng-repeat="f in features.location" class="new-listing-feature">
                                    <div ng-if="f.type == 'double'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <input type="number" name="{{ '_' + f.name  }}" min="{{f.min}}" max="{{f.max}}" step="{{f.step}}" class="gk-input" ng-model="newlist.features[f.name]">
                                    </div>
                                </div>

                                <h5 class="new-listing-feature-header">Extra Features</h5>
                                <div ng-if="!(features.extras.length > 0)" class="new-listing-feature-loader fade">
                                    <div style="width:1.5em; margin:0 auto">
                                        <gk-blocks-preloader fore-color="'#325b5b'" back-color="'#519494'"></gk-blocks-preloader>
                                    </div>
                                </div>
                                <div ng-repeat="f in features.extras" class="new-listing-feature">
                                    <div ng-if="f.type == 'double'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <input type="number" name="{{ '_' + f.name  }}" min="{{f.min}}" max="{{f.max}}" step="{{f.step}}" class="gk-input" ng-model="newlist.features[f.name]">
                                    </div>

                                    <div ng-if="f.type == 'boolean'">
                                        <table class="new-listing-checkbox-item" ng-click="newlist.features[f.name] = !newlist.features[f.name]"><tbody><tr>
                                            <td>
                                                <div class="new-listing-checkbox" ng-class="{'new-listing-checkbox-selected': newlist.features[f.name] }">
                                                    <div class="new-listing-checkbox-checkmark" ng-if="newlist.features[f.name]"></div>
                                                </div>
                                            </td>
                                            <td class="gk-fullwidth">
                                                <p>{{ ui.en ? f.display.en : f.display.ch }}</p>
                                            </td>
                                        </tr></tbody></table>
                                    </div>

                                    <div ng-if="f.type == 'enum'">
                                        <p class="new-listing-label">{{ ui.en ? f.display.en : f.display.ch }}</p>
                                        <select name="{{ '_' + f.name }}" class="gk-input gk-select" ng-model="newlist.features[f.name]">
                                            <option class="gk-option" ng-repeat="v in f.values" value="{{v.en}}">
                                                {{ui.en ? v.en : v.ch}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
            <div class="last new-listing-description-col">
                <div class="new-listing-well new-listing-col-content" ng-class="{'new-listing-well-complete': complete.description }">
                    <div ng-if="complete.description" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">Property details (optional)</h5>
                    <p class="new-listing-label">These details will only be shown in the English version of the website.</p>
                    <div class="new-listing-description-col-nogrow">
                        <p>Title of your listing</p>
                        <input type="text" name="title" class="gk-input" ng-model="newlist.title">
                        <p>Description of your property</p>
                    </div>
                    <textarea name="desc" rows="15" type="text" class="gk-input new-listing-textarea new-listing-description-col-grow" ng-model="newlist.description"></textarea>
                </div>
            </div>
        </div>

        <!-- Bottom section - image editting and submissions -->
        <div class="new-listing-well" ng-class="{ 'new-listing-well-complete': newlist.fileread.length > 0 }">
            <div ng-if="newlist.fileread.length > 0" class="new-listing-completed-tick-small fade">
                <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
            </div>

            <div>
                <h5 class="gk-nopadding">Images</h5>
                <p class="new-listing-label">Listings with pictures receive more views. Attach up to 50 images per listing. Please select images individually and preview them.</p>
                <p class="new-listing-label">For best results, insert images of size 600 pixels (height) by 800 pixels (wide). You can crop images to the right size below.</p>
                
                <input type="file" name="images" id="listingImg" style="display:none;" accept="image/*" fileread="newlist.fileread" multiple>
                <button class="gk-button-small new-listing-upload-img-btn" onclick="listingImg.click()">Upload Images</button>

                <button class="gk-button-small new-listing-upload-img-btn" ng-click="newlist.fileread.length = 0">Clear All</button>
            </div>

            <div ng-if="newlist.fileread.length > 0" class="gk-nopadding new-listing-flex-grid">
                <div class="gk-relative" style="overflow: hidden; min-height: 300px">
                    <div class="new-listing-img-wrap-well">
                        <table class="new-listing-img-wrap" style="position: absolute; top: 0"><tbody>
                            <tr><td style="vertical-align: top">
                                <div class="new-listing-ph-img-contain">
                                    <div ng-repeat="img in newlist.fileread" class="new-listing-ph-img-well" ng-click="newlist.fileread.selectedIndex = $index">
                                        <p class="new-listing-ph-img-label">{{img.filename.substring(0, 15) + (img.filename.length > 15 ? '...' : '')}}</p>
                                        <p class="new-listing-ph-img-label new-listing-ph-img-label-close gk-right" ng-click="newlist.fileread.splice($index, 1)">x</p>
                                        <img height="100" ng-src="{{img.result}}">
                                    </div>
                                </div>
                            </td></tr>
                        </tbody></table>
                    </div>
                </div>
                <div class="last">
                    <div ng-if="newlist.fileread.length > 0" class="fade">
                        <p>If you would like to make some changes to your images, click on the image you would like to edit.</p>
                        <gk-canvas-img-editor gk-selected-index="newlist.fileread.selectedIndex" gk-imgs="newlist.fileread" aspect-ratio="0.75"></gk-canvas-img-editor>
                    </div>
                </div>
            </div>
        </div>

        <!-- Schedule an inspection -->
        <div class="new-listing-well">
            <h5 class="gk-nopadding" style="margin-bottom: 1em">Home open times (optional)</h5>

            <div style="display:inline-block; vertical-align:middle">
                <gk-date-picker ui="ui" width="'20em'" selected-date="currInspection.dateObject"></gk-date-picker>
            </div>
            <div style="display:inline-block; vertical-align:middle;margin:0 0 0 1em">
                <div>
                    <p class="new-listing-label">Date</p>
                    <input type="text" name="inspectiondate" class="gk-input" ng-model="currInspection.date" placeholder="DD/MM/YYYY">
                </div>
                <div>
                    <p class="new-listing-label">Start time</p>
                    <input style="display:inline-block;width:auto" type="text" name="inspectiontimestart" class="gk-input" ng-model="currInspection.start" placeholder="HH:MM">
                    <select style="display:inline-block;width:auto;margin-left:0.3em" name="inspectiontimestartampm" class="gk-input" ng-model="currInspection.startampm"
                                ng-init="currInspection.startampm = currInspection.startampm || inspectionTimeOptions[0]">
                        <option ng-repeat="t in inspectionTimeOptions" value="{{t}}">{{t}}</option>
                    </select>
                </div>
                <div>
                    <p class="new-listing-label">Finish time</p>
                    <input style="display:inline-block;width:auto" type="text" name="inspectiontimeend" class="gk-input" ng-model="currInspection.end" placeholder="HH:MM">
                    <select style="display:inline-block;width:auto;margin-left:0.3em" name="inspectiontimestartampm" class="gk-input" ng-model="currInspection.endampm" 
                                ng-init="currInspection.endampm = currInspection.endampm || inspectionTimeOptions[0]">
                        <option ng-repeat="t in inspectionTimeOptions" value="{{t}}">{{t}}</option>
                    </select>
                </div>
                <div>
                    <button ng-click="pushInspectionTime(currInspection)" class="gk-green-btn" style="height: 2em">Save inspection time</button>
                </div>
            </div>
            <p ng-if="currInspection.errMsg.length > 0">{{ currInspection.errMsg }}</p>
            
            <div ng-show="newlist.inspectiontimes.length > 0">
                <h5 class="gk-nopadding gk-padding-vertical">Home open times</h5>
                <div class="new-listing-inspection-time" ng-repeat="t in newlist.inspectiontimes">
                    <div>{{ t.display }}</div>
                    <div ng-click="newlist.inspectiontimes.splice($index, 1)"><gk-sprite ui="ui" name="'i_bcross'" ar="1"></gk-sprite></div>
                </div>
            </div>
        </div>

        <!-- Agency details -->
        <div class="gk-nopadding new-listing-flex-grid">
            <div>
                <div class="new-listing-well gk-relative" ng-class="{ 'new-listing-well-complete': newlist.isprivate || newlist.selectedAgency != null }">
                    <div ng-if="newlist.selectedAgency != null || newlist.isprivate" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">My agency details</h5>
                    <table style="display:inline-block;"><tbody><tr>
                        <td ng-click="newlist.isprivate=false" class="new-listing-checkbox-item">
                            <div class="new-listing-checkbox" ng-class="{ 'new-listing-checkbox-selected': !newlist.isprivate }">
                                <div class="new-listing-checkbox-checkmark" ng-if="!newlist.isprivate"></div>
                            </div>
                        </td>
                        <td style="padding-right: 1em"><p>I work in an agency</p></td>
                        <td ng-click="newlist.isprivate=true" class="new-listing-checkbox-item">
                            <div class="new-listing-checkbox" ng-class="{ 'new-listing-checkbox-selected': newlist.isprivate }">
                                <div class="new-listing-checkbox-checkmark" ng-if="newlist.isprivate"></div>
                            </div>
                        </td>
                        <td><p>This is a private listing</p></td>
                    </tr></tbody></table>

                    <div ng-if="!newlist.isprivate" class="new-listing-agency-banner-wrap">
                        <p>Please select from one of your agency profiles below, or create a new one.</p>
                        <gk-add-agency ui="ui" acc="acc" adding-agency="newlist.addingAgency" selectable="true" selected="newlist.selectedAgency"></gk-add-agency>
                    </div>
                </div>
            </div>
            <div class="last new-listing-description-col">
                <div class="new-listing-well new-listing-col-content gk-relative" ng-class="{ 'new-listing-well-complete': newlist.selecteduser != null }">
                    <div ng-if="newlist.selecteduser != null" class="new-listing-completed-tick-small fade">
                        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
                    </div>

                    <h5 class="gk-nopadding">My contact details</h5>
                    <div class="new-listing-agency-banner-wrap">
                        <p>Please select from one of your user profiles below, or create a new one.</p>
                        <gk-add-user acc="acc" ui="ui" methods="methods" selectable="true" selected="newlist.selecteduser"></gk-add-user>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Submission and terms + conditions -->
        <div class="new-listing-well">
            <h5 class="gk-nopadding">Submit your listing</h5>

            <table style="width:auto"><tbody><tr>
                <td ng-click="newlist.useragreementchecked = !newlist.useragreementchecked">
                    <div class="new-listing-checkbox" ng-class="{ 'new-listing-checkbox-selected': newlist.useragreementchecked }">
                        <div class="new-listing-checkbox-checkmark" ng-if="newlist.useragreementchecked"></div>
                    </div>
                </td>
                <td><p>I agree to the <a href="#">terms and conditions</a></p></td>
            </tr></tbody></table>
            
            <p class="loginMessage fade" ng-if="newlist.result.en.length > 0">{{ ui.en ? newlist.result.en : newlist.result.ch }}</p>

            <gk-progress-bar ng-if="submitProgress.show" state="submitProgress.state" description="submitProgress.description"></gk-progress-bar>

            <button type="submit" class="gk-green-btn gk-nofocus" ng-click="submitListing(newlist)">
                <div ng-if="!sendingListingData">{{newlist.userMode == 'edit' ? 'Save changes' : 'Submit listing'}}</div>
                <div ng-if="sendingListingData" style="width: 2em; margin: 0 auto">
                    <gk-bar-preloader color="'#e6e6e6'"></gk-bar-preloader>
                </div>
            </button>
        </div>
    
    </div>
</form>

<table ng-if="newlist.result.iscomplete" class="new-listing-end-result-tbl fade"><tbody><tr><td>
    <div style="width: 4em; margin: 0 auto">
        <gk-sprite ui="ui" name="'i_tick'" ar="1"></gk-sprite>
    </div>
    <h5>Listing successfully submitted</h5>
    <p>Listing ID: {{newlist.result.listingId}}</p>
    <p ng-if="newlist.result.failedImg">However, there were some errors. {{newlist.result.failedImg}} out of {{newlist.result.totalImg}} images failed to upload.</p>
    <p>You can review your submission under 'My Listings'</p>
    <button class="gk-button-small" ng-click="ui.currMainDisplay = 'listings';">Back to home</button>
</td></tr></tbody></table>