<div class="gk-loading-bar-contain">
    <div class="gk-loading-bar-inner" ng-style="{'width': smoothState + '%'}">
        <div class="gk-loading-bar-progress">
            {{ smoothState.toFixed(0) + '%' }}
        </div>
    </div>
</div>
<div class="gk-loading-bar-description">
    {{ description }}
</div>