<div id="searchBar" 
        ng-style="{width:ui.size.headerNavLeft+'px', top:ui.size.headerHeight+'px', left:ui.size.searchBarLeft+'px'}" 
        ng-class="{'search-mob': ui.shown.mobileSearch && ui.isMobileDisplay()}">

    <div class="search-well">
        <div class="search-header">
            <div ng-repeat="type in static.listingTypes"
                ng-if="type.show"
                ng-class="{'search-header-item-selected': searchparams.op == type.k, 'search-header-item': searchparams.op != type.k}"
                ng-click="searchparams.op = type.k" >{{ui.en ? type.en : type.ch }}</div>
        </div>
        <form class="gk-padding">
            <table class="gk-fullwidth">
                <tbody>
                    <tr>
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Type' : '类型'}}:</p>
                        </td>
                        <td colspan="2" class="gk-vpadding">
                            <div class="search-suburb-row">
                                <div class="search-suburb-input">
                                    <select 
                                        class="gk-input gk-select gk-dark-input" 
                                        ng-model="searchparams.currentType"
                                        ng-change="searchparams.types.push(searchparams.currentType)">
                                        <option name="type" class="gk-option" ng-repeat="type in static.propertyTypes" value="{{type.en}}">
                                            {{ui.en ? type.en : type.ch}}
                                        </option>
                                    </select>
                                </div>
                                <div class="search-suburb-add" ng-click="searchparams.types.push(searchparams.currentType);">+</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="searchparams.types.length > 0">
                        <td colspan="3" class="gk-vpadding">
                            <div class="search-suburb-term" ng-repeat="type in searchparams.types track by $index">
                                <div>{{ ui.en ? type : translate(static.propertyTypes, type, true) }}</div>
                                <div class="search-suburb-term-cross" ng-click="searchparams.types.splice($index, 1);">x</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'House' : '房子'}}:</p>
                        </td>
                        <td colspan="2">
                            <table class="search-checkbox-item" ng-click="searchparams.includenew = !searchparams.includenew"><tbody><tr>
                                <td>
                                    <div class="search-checkbox" ng-class="{'search-checkbox-selected': searchparams.includenew }">
                                        <div class="new-listing-checkbox-checkmark" ng-if="searchparams.includenew"></div>
                                    </div>
                                </td>
                                <td><p class="search-checkbox-label">{{ui.en ? 'New homes' : '新房子'}}</p></td>
                            </tr></tbody></table>
                            <table class="search-checkbox-item" ng-click="searchparams.includeold = !searchparams.includeold"><tbody><tr>
                                <td>
                                    <div class="search-checkbox" ng-class="{'search-checkbox-selected': searchparams.includeold }">
                                        <div class="new-listing-checkbox-checkmark" ng-if="searchparams.includeold"></div>
                                    </div>
                                </td>
                                <td><p class="search-checkbox-label">{{ui.en ? 'Existing homes' : '现有房子'}}</p></td>
                            </tr></tbody></table>
                        </td>
                    </tr>

                    <tr class="search-panel-label" ng-click="ui.shown.searchByLocation = !ui.shown.searchByLocation">
                        <td colspan="3">
                            {{ ui.en ? 'Search by Location' : '按位置搜索' }}
                            <div class="search-panel-arrow">
                                <gk-sprite ng-if="ui.shown.searchByLocation" ui="ui" name="'i_up'" ar="0.6"></gk-sprite>
                                <gk-sprite ng-if="!ui.shown.searchByLocation" ui="ui" name="'i_down'" ar="0.6"></gk-sprite>
                            </div>
                        </td>
                    </tr>

                    <tr ng-show="ui.shown.searchByLocation">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Suburbs' : '城区名'}}:</p>
                        </td>
                        <td colspan="2" class="gk-vpadding">
                            <div class="search-suburb-row">
                                <div class="search-suburb-input gk-relative">
                                    <input type="text" name="suburb" class="gk-input gk-dark-input" ng-model="searchparams.currentSuburb">
                                    <gk-suggestions listening="true" chosen="searchparams.chosenSuburb" query="searchparams.currentSuburb"></gk-suggestions>
                                </div>
                                <div class="search-suburb-add" 
                                    ng-click="searchparams.suburbs.push(searchparams.currentSuburb.toUpperCase()); searchparams.currentSuburb = '';">+</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByLocation" ng-if="searchparams.suburbs.length > 0">
                        <td colspan="3" class="gk-vpadding">
                            <div class="search-suburb-term" ng-repeat="suburb in searchparams.suburbs track by $index">
                                <div>{{suburb}}</div>
                                <div class="search-suburb-term-cross" ng-click="searchparams.suburbs.splice($index, 1);">x</div>
                            </div>
                        </td>
                    </tr>

                    <tr ng-show="ui.shown.searchByLocation">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Post code' : '邮编'}}:</p>
                        </td>
                        <td colspan="2" class="gk-vpadding">
                            <div class="search-suburb-row">
                                <div class="search-suburb-input">
                                    <input type="number" name="postcode" min="0" max="10000"
                                            class="gk-input gk-dark-input" ng-model="searchparams.currentPostcode"
                                            ng-keypress="checkEnter($event)">
                                </div>
                                <div class="search-suburb-add" ng-click="searchparams.postcodes.push(searchparams.currentPostcode); searchparams.currentPostcode = '';">+</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByLocation" ng-if="searchparams.postcodes.length > 0">
                        <td colspan="3" class="gk-vpadding">
                            <div class="search-suburb-term" ng-repeat="postcode in searchparams.postcodes track by $index">
                                <div>{{postcode}}</div>
                                <div class="search-suburb-term-cross" ng-click="searchparams.postcodes.splice($index, 1);">x</div>
                            </div>
                        </td>
                    </tr>

                    <tr ng-show="ui.shown.searchByLocation">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'State' : '洲'}}:</p>
                        </td>
                        <td colspan="2" class="gk-vpadding">
                            <div class="search-suburb-row">
                                <div class="search-suburb-input">
                                    <select class="gk-input gk-select gk-dark-input" 
                                            ng-model="searchparams.currentState"
                                            ng-change="searchparams.states.push(searchparams.currentState)">
                                        <option class="gk-option" ng-repeat="state in static.states" value="{{state.en}}">
                                            {{ui.en ? state.en : state.ch}}
                                        </option>
                                    </select>
                                </div>
                                <div class="search-suburb-add" ng-click="searchparams.states.push(searchparams.currentState);">+</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByLocation" ng-if="searchparams.states.length > 0">
                        <td colspan="3" class="gk-vpadding">
                            <div class="search-suburb-term" ng-repeat="state in searchparams.states track by $index">
                                <div>{{ ui.en ? state : translate(static.states, state, true) }}</div>
                                <div class="search-suburb-term-cross" ng-click="searchparams.states.splice($index, 1);">x</div>
                            </div>
                        </td>
                    </tr>

                    <tr class="search-panel-label" ng-click="ui.shown.searchByPrice = !ui.shown.searchByPrice">
                        <td colspan="3">
                            {{ ui.en ? 'Search by Price' : '按价格搜索' }}
                            <div class="search-panel-arrow">
                                <gk-sprite ng-if="ui.shown.searchByPrice" ui="ui" name="'i_up'" ar="0.6"></gk-sprite>
                                <gk-sprite ng-if="!ui.shown.searchByPrice" ui="ui" name="'i_down'" ar="0.6"></gk-sprite>
                            </div>
                        </td>
                    </tr>

                    <tr ng-show="ui.shown.searchByPrice">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Price' : '价钱'}}:</p>
                        </td>
                        <td class="gk-vlpadding">
                            <input type="number" name="minprice" placeholder="{{(ui.en ? 'Min' : '最少') + (searchparams.op == 'Lease' ? (ui.en ? '/week' : '(每周)') : '')}}" min="0" step="{{searchparams.static.getPriceIncrement()}}"
                                class="gk-input gk-dark-input" ng-model="searchparams.minprice">
                        </td>
                        <td class="gk-lrpadding">
                            <input type="number" name="maxprice" placeholder="{{(ui.en ? 'Max' : '最多') + (searchparams.op == 'Lease' ? (ui.en ? '/week' : '(每周)') : '')}}" min="{{searchparams.minprice}}"
                                step="{{searchparams.static.getPriceIncrement()}}" class="gk-input gk-dark-input" ng-model="searchparams.maxprice">
                        </td>
                    </tr>

                    <tr class="search-panel-label" ng-click="ui.shown.searchByFeature = !ui.shown.searchByFeature">
                        <td colspan="3">
                            {{ ui.en ? 'Search by Feature' : '按功能搜索' }}
                            <div class="search-panel-arrow">
                                <gk-sprite ng-if="ui.shown.searchByFeature" ui="ui" name="'i_up'" ar="0.6"></gk-sprite>
                                <gk-sprite ng-if="!ui.shown.searchByFeature" ui="ui" name="'i_down'" ar="0.6"></gk-sprite>
                            </div>
                        </td>
                    </tr>

                    <tr ng-show="ui.shown.searchByFeature">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Beds' : '卧室'}}:</p>
                        </td>
                        <td class="gk-vlpadding">
                            <input type="number" name="minbeds" placeholder="{{ui.en ? 'Min' : '最少'}}" min="0" class="gk-input gk-dark-input"
                                ng-model="searchparams.minbeds">
                        </td>
                        <td class="gk-lrpadding">
                            <input type="number" name="maxbeds" placeholder="{{ui.en ? 'Max' : '最多'}}" min="0" class="gk-input gk-dark-input"
                                ng-model="searchparams.maxbeds">
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByFeature">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Baths' : '浴室'}}:</p>
                        </td>
                        <td class="gk-vlpadding">
                            <input type="number" name="minbaths" placeholder="{{ui.en ? 'Min' : '最少'}}" min="0" class="gk-input gk-dark-input"
                                ng-model="searchparams.minbaths">
                        </td>
                        <td class="gk-lrpadding">
                            <input type="number" name="maxbaths" placeholder="{{ui.en ? 'Max' : '最多'}}" min="0" class="gk-input gk-dark-input"
                                ng-model="searchparams.maxbaths">
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByFeature">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Cars' : '车库'}}:</p>
                        </td>
                        <td class="gk-vlpadding">
                            <input type="number" name="mincars" placeholder="{{ui.en ? 'Min' : '最少'}}" min="0" class="gk-input gk-dark-input"
                                ng-model="searchparams.mingarages">
                        </td>
                        <td class="gk-lrpadding">
                            <input type="number" name="maxcars" placeholder="{{ui.en ? 'Max' : '最多'}}" min="0" class="gk-input gk-dark-input"
                                ng-model="searchparams.maxgarages">
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByFeature">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Land size' : '地面积'}}:</p>
                        </td>
                        <td class="gk-vlpadding">
                            <input type="number" name="minland" placeholder="{{ui.en ? 'Min' : '最小 (平米)'}}" min="0" step="{{searchparams.static.landSizeIncrement}}"
                                class="gk-input gk-dark-input" ng-model="searchparams.minlandsize">
                        </td>
                        <td class="gk-lrpadding">
                            <input type="number" name="maxland" placeholder="{{ui.en ? 'Max' : '最大 (平米)'}}" min="{{searchparams.minlandsize}}"
                                step="{{searchparams.static.landSizeIncrement}}" class="gk-input gk-dark-input"
                                ng-model="searchparams.maxlandsize">
                        </td>
                    </tr>
                    <tr ng-show="ui.shown.searchByFeature">
                        <td class="gk-row-label gk-lpadding">
                            <p>{{ui.en ? 'Building size' : '房面积'}}:</p>
                        </td>
                        <td class="gk-vlpadding">
                            <input type="number" name="minfloor" placeholder="{{ui.en ? 'Min' : '最小 (平米)'}}" min="0" step="{{searchparams.static.landSizeIncrement}}"
                                class="gk-input gk-dark-input" ng-model="searchparams.minbuildingsize">
                        </td>
                        <td class="gk-lrpadding">
                            <input type="number" name="maxfloor" placeholder="{{ui.en ? 'Max' : '最大 (平米)'}}" min="{{searchparams.minbuildingsize}}"
                                step="{{searchparams.static.landSizeIncrement}}" class="gk-input gk-dark-input"
                                ng-model="searchparams.maxbuildingsize">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="searchBtn" class="gk-button gk-button-dark" ng-click="search(searchparams)">
                <div ng-if="!mainSearching">{{ui.en ? 'Search' : '搜索'}}</div>
                <div ng-if="mainSearching" style="width: 2em; margin: 0 auto">
                    <gk-bar-preloader color="'#325b5b'"></gk-bar-preloader>
                </div>
            </button>
        </form>
    </div>
    
    <!-- secondary menu here - figure out how to display this even when search form is stretched -->
    <div class="search-bottom-menu" ng-if="!ui.isMobileDisplay()">
        <div class="search-bottom-menu-item">
            <p ng-click="ui.topElement = 'feedback';">{{ui.en ? 'Feedback' : '反馈'}}</p>
        </div>
        <div class="search-bottom-menu-item">
            <p ng-click="ui.topElement = 'contact'">{{ui.en ? 'Contact' : '联系'}}</p>
        </div>
        <div class="search-bottom-menu-item">
            <p ng-click="ui.topElement = 'support'">{{ui.en ? 'Support' : '支持'}}</p>
        </div>
        <div class="search-bottom-menu-item">
            <p>{{ui.en ? 'Legal' : '法律'}}</p>
        </div>
        <div class="search-bottom-menu-cpyrght">Copyright &copy; 2019 mfmf.com.au</div>
    </div>

    <!-- Hide searchbar -->
    <div class="search-hide" ng-click="hideSearchbar()"></div>
</div>