<div class="search-suburb-suggestions-wrap"
    ng-class="{'search-suburb-suggestions-wrap-light': theme == 'l'}"
    ng-if="suggestions.length > 0" 
    ng-show="changeOccurred">
    <div>
        <div ng-repeat="s in suggestions" ng-click="choose(s)">
                    {{ s.s + ', ' + s.t + ' (' + s.p + ')' }}
        </div>
    </div>
</div>