<div class="gk-padding">
    <h3>{{ ui.en ? 'My Profile' : '我的帐户' }}</h3>

    <div class="profile-contain">
        <div class="profile-panel">
            <div ng-class="{ 'profile-panel-half': !ui.isMobileDisplay() && ui.size.width >= 1300 }">

                <div class="gk-padding-vertical">
                    {{ ui.en ? 'My profile' : '用户档案' }}
                </div>

                <div>
                    <p>You can make any number of user profiles. You can use these profiles on your listings.</p>
                </div>
        
                <!-- Add user button -->
                <gk-add-user acc="acc" ui="ui" methods="methods" selectable="false"></gk-add-user>
            </div>
            <div ng-class="{ 'profile-panel-half': !ui.isMobileDisplay() && ui.size.width >= 1300 }">
                <div class="gk-padding-vertical">{{ ui.en ? 'My Agencies' : '我的代理商' }}:</div>
                    <div>
                        <p>You can make any number of agency profiles. You can use these profiles on your listings.</p>
                    </div>
        
                    <!-- Add agency widget -->
                    <gk-add-agency ui="ui" acc="acc" adding-agency="addingAgency"></gk-add-agency>
        
            </div>
        </div>

        <div class="profile-panel">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">{{ ui.en ? 'Account Security' : '帐户安全' }}</td>
                    </tr>
                    <tr>
                        <td class="profile-label-td">
                            <p>{{ ui.en ? 'Email address' : '电子邮件地址' }}:</p>
                        </td>
                        <td class="profile-content-td">
                            <p>{{ acc.email }}</p>
                            <div class="profile-edit-btn" ng-click="changingEmail = true" ng-show="!changingEmail">
                                <div><gk-sprite ui="ui" name="'i_pen'" ar="1"></gk-sprite></div>
                            </div>

                            <form ng-if="changingEmail">
                                <input type="text" name="email" autocomplete="email" required class="gk-profile-input" ng-model="newemail" placeholder="{{ ui.en ? 'New email address' : '新电子邮件地址'}}" style="margin: 0 5 5 0">
                                <input type="password" name="password" required class="gk-profile-input" ng-model="newemailpassword" placeholder="{{ ui.en ? 'Account password' : '户口密码' }}" style="margin: 0 5 5 0">
                                <button type="submit" class="gk-button-small" ng-click="updateEmailAddress(newemail, newemailpassword)">{{ ui.en ? 'Save' : '保存' }}</button>
                                <p ng-if="newemailresult.en.length > 0" class="login-custom-msg">{{ ui.en ? newemailresult.en : newemailresult.ch }}</p>
                            </form>
<!--
                            <div ng-if="!acc.emailVerified">
                                <p>
                                    {{ 
                                        ui.en ? "Your account's email address is not verified yet. You will need to verify your email address before making a listing." :
                                                "您帐户的电子邮件地址尚未验证。您需要在上市前验证您的电子邮件地址。" 
                                    }}
                                </p>
                                <button class="gk-button-small" ng-click="verifyEmail()">{{ ui.en ? 'Verify Email' : '验证邮件' }}</button>
                            </div>
-->
                        </td>
                    </tr>
                    <tr>
                        <td class="profile-label-td">
                            <p>{{ ui.en ? 'Password' : '密码' }}:</p>
                        </td>
                        <td class="profile-content-td">
                            <div ng-if="acc.passwordlastupdated">
                                <p>{{ (ui.en ? 'Your password was last reset on: ' : '您的密码上次重置: ') + formatDate(acc.passwordlastupdated) }}.</p>
                                <p>{{ ui.en ? 'If this was not done by you, please secure your account now by changing your password.' :
                                    '如果您没有这样做，请通过更改密码立即保护您的帐户。'}}</p>
                            </div>

                            <div class="profile-edit-btn" ng-click="updatingPassword = true;">
                                <div><gk-sprite ui="ui" name="'i_pen'" ar="1"></gk-sprite></div>
                            </div>

                            <div ng-if="updatingPassword">
                                <input name="oldp" class="gk-profile-input gk-profile-newpassword" type="password" ng-model="newpass.oldPassword" placeholder="{{ ui.en ? 'Existing password' : '现有密码' }}">
                                <input name="newp1" class="gk-profile-input gk-profile-newpassword" type="password" ng-model="newpass.newPassword1" placeholder="{{ ui.en ? 'New password' : '新密码' }}">
                                <input name="newp2" class="gk-profile-input gk-profile-newpassword" type="password" ng-model="newpass.newPassword2" placeholder="{{ ui.en ? 'Retype new password' : '重新输入新密码' }}">
                                <button class="gk-button-small" ng-click="updatePassword(newpass)">{{ ui.en ? 'Save' : '保存' }}</button>
                                <p ng-if="updatePasswordResult.en.length > 0" class="login-custom-msg">{{ ui.en ? updatePasswordResult.en : updatePasswordResult.ch }}</p>
                            </div>
                            <p>{{ updatePasswordServerResult }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="profile-label-td">
                            <p>{{ ui.en ? 'Two-factor authentication' : '双因素认证' }} (2FA)</p>
                        </td>
                        <td class="profile-content-td">
                            <p>{{ ui.en ? 'Coming soon - increase the security of your account with two-factor
                                authentication' : '(马上到达): 通过双因素身份验证提高帐户安全性' }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>