<table class="gk-public-profile-wrap">
    <tbody>
        <tr>
            <td class="gk-public-profile-img-wrap"><img style="height:4em;border-radius:2em" ng-src="/dpid/{{listing.user.dpid}}"/></td>
            <td class="gk-public-profile-img-desc">
                <div style="float:left">
                    <h5 class="gk-nopadding" ng-if="listing.user.fname.length > 0">{{ listing.user.fname + ' ' + listing.user.lname }}</h5>

                    <div ng-if="listing.isprivate">
                        <h6 class="gk-nopadding">{{ ui.en ? 'Private Listing' : '私人上市' }}</h6>
                    </div>
                    <div ng-if="!listing.isprivate">
                        <h6 class="gk-nopadding" ng-if="listing.agency.name.length > 0">{{ listing.agency.name }}</h6>
                        <p class="gk-nopadding" ng-if="listing.agency.address.length > 0">{{ listing.agency.address }}</p>
                    </div>
                </div>

                <div style="float:right; margin-top:10px">
                    
                    <button class="gk-public-profile-btn gk-public-profile-msg-seller-btn" ng-click="ui.chatbox.listing = listing">
                        <h5 class="gk-nopadding">{{ui.en ? 'Message seller' : '信息咨询' }}</h5>
                    </button>

                    <div ng-if="listing.user.phone.length > 0" class="gk-public-profile-btn gk-public-profile-phone" ng-click="displayPhone = true">
                        <div style="width: 0.9em">
                            <gk-sprite ui="ui" name="'i_phone'" ar="1"></gk-sprite>
                        </div>
                        <div>
                            <h5 class="gk-public-profile-phone-text gk-nopadding">
                                {{ displayPhone ? listing.user.phone : (listing.user.phone.substring(0, 4) + ' ...') }}
                            </h5>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
        <tr ng-if="!listing.isprivate">
            <td colspan="2" class="gk-public-profile-banner" ng-style="{'background-color': listing.agency.hex}">
                <img ng-src="/images/{{listing.agency.lid}}" style="height:2em">
            </td>
        </tr>
    </tbody>
</table>