
    <table class="gk-ul-detail-tbl">
        <tbody>
            <tr style="height: 3em">
                <td class="gk-ul-detail-head">
                    <div><h4 class="gk-nopadding">{{ listing.address.street + ', ' + listing.address.suburb + ' ' + listing.address.state }}</h4></div>
                    
                    <div ng-if="type == 'm'" class="gk-right">
                        <button class="gk-ul-btn gk-ul-ribbon-btn gk-nofocus" ng-click="confirmRibbonChange(listing, 'Sold')">{{ ui.en ? "Mark as 'Sold'" : "标记为 '已售出'" }}</button>
                        <button class="gk-ul-btn gk-ul-ribbon-btn gk-nofocus" ng-click="confirmRibbonChange(listing, 'Under offer')">{{ ui.en ? "Mark as 'Under offer'" : "标记为 '正在提供'" }}</button>
                        <button class="gk-ul-btn gk-ul-edit-btn gk-nofocus" ng-click="editUserListing(listing)">{{ ui.en ? 'Edit' : '编辑' }}</button>
                        <button class="gk-ul-btn gk-ul-edit-btn gk-nofocus" ng-click="deleteUserListing(listing)">{{ ui.en ? 'Delete' : '删除' }}</button>
                    </div>

                    <div ng-if="type == 'w'" class="gk-right">
                        <button class="gk-ul-btn gk-ul-edit-btn gk-nofocus" ng-click="methods.removeFromWishlist(listing, removeWishlistCallback); ">{{ ui.en ? 'Remove from wishlist' : '去掉' }}</button>
                    </div>
                </td>
            </tr>
            <tr style="height: 1.5em; padding-top: 0.5em">
                <td>
                    <table class="gk-ul-detail-menu" cellspacing="0"><tbody><tr>
                        <td></td>
                        <td ng-click="selectedView = 'images'" ng-class="{'gk-ul-detail-menu-selected': selectedView == 'images' || selectedView == null}">{{ ui.en ? 'Images' : '图片' }}</td>
                        <td ng-click="selectedView = 'features'" ng-class="{'gk-ul-detail-menu-selected': selectedView == 'features'}">{{ ui.en ? 'Details' : '细节' }}</td>
                        <td ng-click="selectedView = 'map'" ng-class="{'gk-ul-detail-menu-selected': selectedView == 'map'}">{{ ui.en ? 'Map' : '地图' }}</td>
                        <td ng-show="type == 'm'" ng-click="selectedView = 'analytics'" ng-class="{'gk-ul-detail-menu-selected': selectedView == 'analytics'}">{{ ui.en ? 'Analytics' : '分析' }}</td>
                        <td></td>
                    </tr></tbody></table>
                </td>
            </tr>
            <tr>
                <td ng-if="selectedView == 'images' || selectedView == null" class="gk-relative">
                    <div class="gk-ul-detail-gallery-resizer">
                        <gk-gallery images="listing.imageIds" ui="ui" gui="gui" resize="true"></gk-gallery>
                    </div>
                </td>
                <td ng-if="selectedView == 'features'" class="gk-relative">
                    <div class="gk-padding gk-ul-detail-scroll">
                        <h4></h4>
                        <table class="gk-ul-infotable gk-dark-text">
                            <tbody>
                                <tr><td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Address</strong></p></td><td><p class="gk-nopadding">{{ listing.address.street + ', ' + listing.address.suburb + ' ' + listing.address.state + ' ' + listing.address.postcode }}</p></td></tr>
                                <tr><td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Property Type</strong></p></td><td><p class="gk-nopadding">{{ listing.type }}</p></td></tr>
                                <tr><td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Listing Type</strong></p></td><td><p class="gk-nopadding">{{ listing.ltype }}</p></td></tr>
                                <tr><td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Listing ID</strong></p></td><td><p class="gk-nopadding">{{ listing.id }}</p></td></tr>
                                <tr><td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Price</strong></p></td><td><p class="gk-nopadding">{{ ui.en ? listing.price.en : listing.price.ch }}</p></td></tr>
                                <tr><td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Home</strong></p></td><td><p class="gk-nopadding">{{ listing.isnew ? 'New home' : 'Existing home' }}</p></td></tr>
                                <tr>
                                    <td class="gk-ul-infotable-fieldname"><p class="gk-nopadding gk-ul-text-topalign"><strong>Features</strong></p></td>
                                    <td>
                                        <div class="gk-ul-infotable-fitem" ng-repeat="feature in listing.features">
                                            <p>{{ ui.en ? feature.en : feature.ch }}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="gk-ul-infotable gk-dark-text">
                            <tbody>
                                <tr>
                                    <td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Date posted</strong></p></td>
                                    <td><p class="gk-nopadding">{{ getDateString(listing.postingdate) }}</p></td>
                                </tr>
                                <tr>
                                    <td class="gk-ul-infotable-fieldname"><p class="gk-nopadding"><strong>Last editted</strong></p></td>
                                    <td><p class="gk-nopadding">{{ getDateString(listing.lastupdated) }}</p></td>
                                </tr>
                            </tbody>
                        </table>

                        <h5 ng-if="listing.title.length > 0" class="gk-nopadding gk-padding-vertical">{{ listing.title }}</h5>
                        <p ng-if="listing.description.length > 0" class="gk-nopadding">{{ listing.description }}</p>
                    </div>
                    
                </td>
                <td ng-if="selectedView == 'map'" class="gk-relative">
                    <div class="gk-ul-detail-gallery-resizer">

                        <!-- relative layer-->
                        <div class="gk-ul-google-maps-wrap">
                            <iframe ng-if="listing.address.mapSrc.length > 0"
                                    class="gk-google-maps-iframe" frameborder="0" allowfullscreen ng-src="{{ methods.trustAsResourceUrl(listing.address.mapSrc)}}">
                            </iframe>
                        </div>
                    </div>
                </td>
                <td ng-if="selectedView == 'analytics'" class="gk-relative">
                    <div class="gk-ul-detail-gallery-resizer">
                        <div class="gk-ul-analytics-wrap">
                            <table class="gk-ul-analytics">
                                <tbody>
                                    <!--
                                    <tr style="height: 5em">
                                        <td>
                                            <p>Listing ID: {{ listing.id }}</p>
                                            <p>Listing created: {{ getDateString(listing.postingdate) }}</p>
                                            <p>Last updated: {{ getDateString(listing.lastupdated) }}</p>
                                        </td>
                                        <td>
                                            <div class="gk-right">
                                                <h5 class="gk-nopadding"><strong>0</strong> total views</h5>
                                                <h5 class="gk-nopadding"><strong>0</strong> views this week</h5>
                                            </div>
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td colspan="2">
                                            <div style="width:3em; margin: 0 auto 1em auto">
                                                <gk-sprite ui="ui" name="'i_mag_large'" ar="1"></gk-sprite>
                                            </div>
                                            <div style="text-align: center">{{ ui.en ? 'Analytics coming soon!' : '分析即将推出！' }}</div>
                                            <!--<gk-chart height="100" width="100" type="'bar'" data="[12, 19, 3, 5, 2, 3]"></gk-chart>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
