<table ng-if="!(acc.wishlist.length > 0)" class="gk-ul-placeholder">
    <tbody>
        <tr>
            <td>
                <div style="width: 100px">
                    <gk-sprite ui="ui" name="'i_wish'" ar="1"></gk-sprite>
                </div>
                <h5 class="gk-padding-vertical" style="margin:0">{{ ui.en ? 'Your wishlist is currently empty.' :
                    '你的愿望清单目前是空的。' }}</h5>
                <button class="gk-button-small" ng-click="ui.currMainDisplay = 'listings'">{{ ui.en ? 'Browse listings'
                    : '浏览列表' }}</button>
            </td>
        </tr>
    </tbody>
</table>

<div ng-if="acc.wishlist.length > 0" class="gk-padding">
    <h3>My wishlist</h3>
    <div class="gk-ul-description">
        <p>{{ (user.wishlist == null || user.wishlist.length == 0) ?
            'Your wishlist is currently empty.' :
            'Showing ' + user.wishlist.length + ' properties.'}}</p>
    </div>

    <div ng-repeat="listing in acc.wishlist">

        <img class="gk-ul-ribbon" ng-if="listing.ltype == 'Sold'" ng-src="{{ui.en ? '/resources/ribbon_sold_en.png' : '/resources/ribbon_sold_ch.png'}}">
        <img class="gk-ul-ribbon" ng-if="listing.ltype == 'Under offer'" ng-src="{{ui.en ? '/resources/ribbon_underoffer_en.png' : '/resources/ribbon_underoffer_ch.png' }}">
            
        <!-- Start of user listing panel -->
        <div class="gk-ul-panel" ng-click="listing.showWishlistDetails = true;">
            <div class="gk-ul-panel-main">
                <div class="gk-ul-image-wrap">
                    <img class="gk-ul-image" ng-src="{{'/images/' + listing.imageIds[0]}}">
                </div>
                <div class="gk-ul-content">
                    <h4 class="gk-ul-bottompadding">{{listing.address.street + ', ' + listing.address.suburb + ' ' + listing.address.state}}</h4>
                    <table class="gk-ul-infotable gk-dark-text">
                        <tbody>
                            <tr>
                                <td class="gk-ul-infotable-fieldname">
                                    <p class="gk-nopadding"><strong>Listing Title</strong></p>
                                </td>
                                <td>
                                    <p class="gk-nopadding">{{listing.title}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="gk-ul-infotable-fieldname">
                                    <p class="gk-nopadding"><strong>Price</strong></p>
                                </td>
                                <td>
                                    <p class="gk-nopadding">{{ ui.en ? listing.price.en : listing.price.ch }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="gk-ul-infotable-fieldname">
                                    <p class="gk-nopadding gk-ul-text-topalign"><strong>Features</strong></p>
                                </td>
                                <td>
                                    <table class="gk-dark-text">
                                        <tbody>
                                            <tr class="gk-nopadding" ng-repeat="feature in listing.features">
                                                <td>
                                                    <p class="gk-nopadding">{{feature.name}}:</p>
                                                </td>
                                                <td>
                                                    <p class="gk-nopadding">{{feature.value.units != null ? feature.value.value + ' ' +
                                                        feature.value.units : feature.value}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="gk-ul-infotable gk-dark-text">
                        <tbody>
                            <tr>
                                <td class="gk-ul-infotable-fieldname">
                                    <p class="gk-nopadding"><strong>Property Type</strong></p>
                                </td>
                                <td>
                                    <p class="gk-nopadding">{{listing.type}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="gk-ul-infotable-fieldname">
                                    <p class="gk-nopadding"><strong>Description</strong></p>
                                </td>
                                <td>
                                    <p class="gk-nopadding">{{listing.description}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="gk-ul-right">
                        <button class="gk-button-small gk-ul-editbtn" ng-click="methods.removeFromWishlist(listing)">Remove</button>
                        <button class="gk-button-small gk-ul-editbtn" 
                                ng-click="listing.showWishlistDetails = !listing.showWishlistDetails; $event.stopPropagation()">
                            {{ wui.listingDetailsExists[$index] ? 'Less' : 'More' }}    
                        </button>
                    </div>
                </div>
            </div>
            <div class="gk-ul-panel-hidden" ng-if="listing.showWishlistDetails">
                <div class="gk-ul-panel-gallery-img" ng-repeat="img in listing.imageIds">
                    <img ng-src="/images/{{img}}">
                </div>
            </div>
        </div>
    </div>
</div>